{{!-- IVAN for materialize version --}}
<div class="row ui-draggable palette-item" data-vme-dad="draggable" data-vme-type="{{type}}">
    <span class="col s2"><i class="material-icons">touch_app</i></span>
	<div class="col s10 preview">{{name}}</div>
	<div class="view">
		<div class="row">
			<form class="col s12">
			{{#each inputshapes}}
			  <div class="row">
			    <div class="input-field col s12">
			    {{#ifeq userData.inputType 'text'}} 
			      <input placeholder="" name="{{id}}" type="text" value="{{userData.defaultValue}}" {{#ifeq userData.isConstant true}}readonly{{/ifeq}}>
			    {{/ifeq}}
			    {{#ifeq userdata.inputType 'combo'}} 
			      <select name='{{id}}' id='{{id}}'> 
			      {{#each userData.combooptions}}
			      	<option value='{{infield.value}}' {{#ifeq infield.valueuserData.defaultValue}}selected{{/ifeq}}>{{infield.text}}</option>
			      {{/each}}
			      </select>
			    {{/ifeq}}
			      <label for="{{id}}">{{userData.label}}</label>
			    </div>
			  </div>
			{{/each}}
			<button type="submit">Invoke</button>
			</form>
		</div>
	</div>
</div>
