{{!-- IVAN for materialize version --}}
<div class="row ui-draggable palette-item" data-vme-dad="draggable" data-vme-type="{{type}}">
    <div class="col s5" style="padding:5px;text-align:center"><img src="/visualcomposer/guieditor/palette_component/preview/{{id}}.png"></div>
	<div class="col s7 preview">
		<strong class="auto-translate" data-message="mockup.palette.element.{{id}}.title"></strong>
		<p class="auto-translate" data-message="mockup.palette.element.{{id}}.description"></p>
	</div>
	<div class="view">
		{{!-- IVAN patch for ul element --}}
		<!--{{{buildtagfromjson content}}}-->
	</div>
</div>