<div class="row" id="formSettingsForm">
	
	<form class="col s12">
	{{#if (eqAnyOf element.[1].data-vme-itemid "['vme-form']")}}
		{{#if mashups}}
			<h5 class="auto-translate" data-message='mockup.modals.settings.form.datasources'></h5>
			<hr class="styleModalHr">
			<p class="row auto-translate" data-message='mockup.modals.settings.form.select_mashups'></p>

			{{#each mashups}}			
				<p>
					<input type="checkbox" name="attr.data-mashup_{{id}}" id="{{name}}"
					{{#ifeq (getByJsonPath ../. (concat "element[1]." (concat "data-mashup_" id))) "true"}}checked{{/ifeq}} 
					>
					<label for="{{name}}" class="checkbox-label">{{name}}</label>
				</p>			
			{{/each}}		
		
		{{/if}}	
		<br>
		<h5 class="auto-translate" data-message='mockup.modals.settings.form.advanced'></h5>
		<hr class="styleModalHr">
		<p class="level-advanced auto-translate" data-message='mockup.modals.settings.form.callback.description'></p>
		<div class="level-advanced">
			<div class="input-field col s12">
				<i class="material-icons prefix">code</i>
				<input name="attr.callbackfunction" type="text" value="{{element.[1].callbackfunction}}">
				<label for="attr.callbackfunction" class="auto-translate" data-message='mockup.modals.settings.form.callback.placeholder'></label>
			</div>
		</div>
		<p class="auto-translate" data-message='mockup.modals.settings.form.on_load.description'></p>
		<div class="row">
			<p>
				<input id="attr.onloadsubmit" name="attr.onloadsubmit" type="checkbox" {{#ifeq (getByJsonPath ../. 'element[1].onloadsubmit') "true"}}checked{{/ifeq}} >
				<label for="attr.onloadsubmit" class="auto-translate checkbox-label" data-message='mockup.modals.settings.form.on_load.label'></label>
			</p>
		</div>
		<p class="auto-translate" data-message='mockup.modals.settings.form.interval.description'></p>
		<div class="">
			<div class="input-field col s12">
				<i class="material-icons prefix">access_time</i>
				<input name="attr.interval" type="text" value="{{element.[1].interval}}">
				<label for="attr.interval" class="auto-translate" data-message='mockup.modals.settings.form.interval.placeholder'></label>
			</div>
		</div>
	{{/if}}
	</form>
</div>