<div class="row" id="propertiesForm">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">keyboard_arrow_right</i>
				<input name="attr.id" type="text" value="{{element.[1].id}}">
				<label for="attr.id">id</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">keyboard_arrow_right</i>
				<input name="attr.class" type="text" value="{{element.[1].class}}">
				<label for="attr.class">class</label>
			</div>
		</div>
		{{#if (eqAnyOf element.[1].data-vme-itemid "['vme-inputtext','vme-inputcheckbox','vme-textarea','vme-radio','vme-select']")}}
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">keyboard_arrow_right</i>
				<input name="attr.name" type="text" value="{{element.[1].name}}"
				{{#ifeq element.[1].data-binding_input 'true'}} readonly {{/ifeq}} >
				<label for="attr.name">name</label>
			</div>
		</div>
		{{/if}}
		{{#if (eqAnyOf element.[1].data-vme-itemid "['vme-a']")}}
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">link</i>
				<input name="attr.href" type="text" value="{{element.[1].href}}">
				<label for="attr.href">href</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">link</i>
				<select name="attr.target" value="{{element.[1].target}}">
					<option value="">&lt;empty&gt;</option>
    						<option value="_blank">_blank</option>												
					<option value="_parent">_parent</option>												
					<option value="_self">_self</option>												
					<option value="_top">_top</option>
				</select>
				<label for="attr.target">target</label>
			</div>
		</div>
		{{/if}}	
		{{#if (eqAnyOf element.[1].data-vme-itemid "['vme-img']")}}
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">link</i>
				<input id="vme_controls_img_src" type="text" name="attr.src" value="{{element.[1].src}}" onchange="javascript:vmeControlsChangeSrc('sel', this.value)">
				<label for="attr.src">src</label>
			</div>
			<div class="input-field col s6">
				<i class="material-icons prefix">link</i>
				<select id="vme_controls_img_sel" name="attr.src" onchange="javascript:vmeControlsChangeSrc('src', this.value)">
					<option value="" disabled selected>Choose your option</option>
				{{#each ../images}}
					<option value="images/{{filename}}"
					{{#ifeq filename (replace ../../../../../../../../../../element.1.src "images/" "")}} selected{{/ifeq}} 
					>{{filename}}</option>
				{{/each}}
				</select>
				<label for="attr.src">src</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">picture_in_picture_alt</i>
				<input name="attr.alt" type="text" value="{{element.[1].alt}}">
				<label for="attr.alt">alt</label>
			</div>
		</div>
		{{/if}}
	</form>
</div>