<div class="row" id="gmapSettingsForm">
	<form class="col s12">
	{{#if (eqAnyOf element.[1].data-vme-itemid "['vme-gmap']")}}
		<h5 class="auto-translate" data-message='mockup.modals.settings.map.info_window'></h5>
		<hr class="styleModalHr">
		<p class="row auto-translate" data-message='mockup.modals.settings.map.info_window.description'></p>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">code</i>
				<input name="attr.infowindowbuilder" type="text" value="{{element.[1].infowindowbuilder}}">
				<label for="attr.infowindowbuilder" class="auto-translate" data-message='mockup.modals.settings.map.info_window.placeholder'></label>
			</div>
		</div>
	{{/if}}
	</form>
</div>