<div class="row" id="styleForm">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s2"><a href="#styleTabLayout" class="auto-translate" data-message='mockup.modals.style.layout'></a></li>
			<li class="tab col s2"><a href="#styleTabMargin" class="auto-translate" data-message='mockup.modals.style.margin_padding'></a></li>
			<li class="tab col s2"><a href="#styleTabBackground" class="auto-translate" data-message='mockup.modals.style.background'></a></li>
			<li class="tab col s2"><a href="#styleTabFont" class="auto-translate" data-message='mockup.modals.style.font'></a></li>
			<li class="tab col s2"><a href="#styleTabBorder" class="auto-translate" data-message='mockup.modals.style.borders'></a></li>
		</ul>
	</div>
	<div id="styleTabLayout" class="col s12 modalTabContent">
		<div class="row">
			<form class="col s12">
				<h5 class="auto-translate" data-message='mockup.modals.style.layout.dimensions'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">aspect_ratio</i>
						<input name="attr.style.width" type="text" value="{{styleProperty element.[1].style 'width'}}">
						<label for="attr.style.width">width</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">aspect_ratio</i>
						<input name="attr.style.height" type="text" value="{{styleProperty element.[1].style 'height'}}">
						<label for="attr.style.height">height</label>
					</div>
				</div>
				<h5 class="auto-translate" data-message='mockup.modals.style.layout.position'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">open_with</i>
						<select name="attr.style.position">
							{{#select (styleProperty element.[1].style 'position')}}
								<option value="">&lt;empty&gt;</option>
								<option value="static">static</option>
								<option value="absolute">absolute</option>
								<option value="fixed">fixed</option>
								<option value="relative">relative</option>
								<option value="initial">initial</option>
								<option value="inherit">inherit</option>
							{{/select}}
						</select>
						<label>position</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_downward</i>
						<input name="attr.style.top" type="text" value="{{styleProperty element.[1].style 'top'}}">
						<label for="attr.style.top">top</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_upward</i>
						<input name="attr.style.bottom" type="text" value="{{styleProperty element.[1].style 'bottom'}}">
						<label for="attr.style.bottom">bottom</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_forward</i>
						<input name="attr.style.left" type="text" value="{{styleProperty element.[1].style 'left'}}">
						<label for="attr.style.left">left</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_back</i>
						<input name="attr.style.right" type="text" value="{{styleProperty element.[1].style 'right'}}">
						<label for="attr.style.right">right</label>
					</div>
				</div>
				<h5 class="auto-translate" data-message='mockup.modals.style.layout.other'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">visibility</i>
						<select name="attr.style.display">
							{{#select (styleProperty element.[1].style 'display')}}
								<option value="">&lt;empty&gt;</option>
								<option value="inline">inline</option>
								<option value="block">block</option>
								<option value="flex">flex</option>
								<option value="inline-block">inline-block</option>
								<option value="inline-flex">inline-flex</option>
								<option value="inline-table">inline-table</option>
								<option value="list-item">list-item</option>
								<option value="run-in">run-in</option>
								<option value="table">table</option>
								<option value="table-caption">table-caption</option>
								<option value="table-column-group">table-column-group</option>
								<option value="table-header-group">table-header-group</option>
								<option value="table-footer-group">table-footer-group</option>
								<option value="table-row-group">table-row-group</option>
								<option value="table-cell">table-cell</option>
								<option value="table-column">table-column</option>
								<option value="table-row">table-row</option>
								<option value="none">none</option>
								<option value="initial">initial</option>
								<option value="inherit">inherit</option>		
							{{/select}}
						</select>
						<label>display</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">visibility</i>
						<input name="attr.style.opacity" type="text" value="{{styleProperty element.[1].style 'opacity'}}">
						<label for="attr.style.opacity">opacity</label>
					</div>
					<div class="input-field col s12">
						<i class="material-icons prefix">wrap_text</i>
						<select name="attr.style.float">
							{{#select (styleProperty element.[1].style 'float')}}
								<option value="">&lt;empty&gt;</option>
								<option value="none">none</option>
								<option value="left">left</option>
								<option value="right">right</option>
								<option value="initial">initial</option>
								<option value="inherit">inherit</option>
							{{/select}}
						</select>
						<label>float</label>
					</div>
					<div class="input-field col s12">
						<i class="material-icons prefix">open_with</i>
						<select name="attr.style.clear">
							{{#select (styleProperty element.[1].style 'clear')}}
								<option value="">&lt;empty&gt;</option>
								<option value="none">none</option>
								<option value="left">left</option>
								<option value="right">right</option>
								<option value="both">both</option>								
								<option value="initial">initial</option>
								<option value="inherit">inherit</option>
							{{/select}}
						</select>
						<label>clear</label>
					</div>
					<div class="input-field col s12">
						<i class="material-icons prefix">open_with</i>
						<select name="attr.style.overflow">
							{{#select (styleProperty element.[1].style 'overflow')}}
								<option value="">&lt;empty&gt;</option>
								<option value="visible">visible</option>
								<option value="hidden">hidden</option>
								<option value="scroll">scroll</option>
								<option value="auto">auto</option>								
								<option value="initial">initial</option>
								<option value="inherit">inherit</option>
							{{/select}}
						</select>
						<label>overflow</label>
					</div>
					<div class="input-field col s12">
						<i class="material-icons prefix">swap_vert</i>
						<input name="attr.style.opacity" type="text" value="{{styleProperty element.[1].style 'z-index'}}">
						<label for="attr.style.z-index">z-index</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div id="styleTabMargin" class="col s12 modalTabContent">
		<div class="row">
			<form class="col s12">
				<h5 class="auto-translate" data-message='mockup.modals.style.margin_padding.padding'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_downward</i>
						<input name="attr.style.padding-top" type="text" value="{{styleProperty element.[1].style 'padding-top'}}">
						<label for="attr.style.padding-top">top</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_upward</i>
						<input name="attr.style.padding-bottom" type="text" value="{{styleProperty element.[1].style 'padding-bottom'}}">
						<label for="attr.style.padding-bottom">bottom</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_forward</i>
						<input name="attr.style.padding-left" type="text" value="{{styleProperty element.[1].style 'padding-left'}}">
						<label for="attr.style.padding-left">left</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_back</i>
						<input name="attr.style.padding-right" type="text" value="{{styleProperty element.[1].style 'padding-right'}}">
						<label for="attr.style.padding-right">right</label>
					</div>
				</div>
				<h5 class="auto-translate" data-message='mockup.modals.style.margin_padding.margin'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_downward</i>
						<input name="attr.style.margin-top" type="text" value="{{styleProperty element.[1].style 'margin-top'}}">
						<label for="attr.style.margin-top">top</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_upward</i>
						<input name="attr.style.margin-bottom" type="text" value="{{styleProperty element.[1].style 'margin-bottom'}}">
						<label for="attr.style.margin-bottom">bottom</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_forward</i>
						<input name="attr.style.margin-left" type="text" value="{{styleProperty element.[1].style 'margin-left'}}">
						<label for="attr.style.margin-left">left</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_back</i>
						<input name="attr.style.margin-right" type="text" value="{{styleProperty element.[1].style 'margin-right'}}">
						<label for="attr.style.margin-right">right</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div id="styleTabBackground" class="col s12 modalTabContent">
		<div class="row">
			<form class="col s12">
				<h5 class="auto-translate" data-message='mockup.modals.style.background.color'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">format_color_fill</i>
						<input name="attr.style.background-color" type="text" value="{{styleProperty element.[1].style 'background-color'}}">
						<label for="attr.style.background-color">background-color</label>
					</div>
				</div>
				<h5 class="auto-translate" data-message='mockup.modals.style.background.image'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">insert_photo</i>
						<input name="attr.style.background-image" type="text" value="{{styleProperty element.[1].style 'background-image'}}">
						<label for="attr.style.background-image">background-image</label>
					</div>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">open_with</i>
					<select name="attr.style.background-repeat">
						{{#select (styleProperty element.[1].style 'background-repeat')}}
							<option value="">&lt;empty&gt;</option>
							<option value="repeat">repeat</option>
							<option value="repeat-x">repeat-x</option>
							<option value="repeat-y">repeat-y</option>
							<option value="no-repeat">no-repeat</option>								
							<option value="initial">initial</option>
							<option value="inherit">inherit</option>
						{{/select}}
					</select>
					<label>background-repeat</label>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">arrow_forward</i>
						<input name="attr.style.background-position" type="text" value="{{styleProperty element.[1].style 'background-position'}}">
						<label for="attr.style.background-position">background-position</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">arrow_forward</i>
						<input name="attr.style.background-size" type="text" value="{{styleProperty element.[1].style 'background-size'}}">
						<label for="attr.style.background-size">background-size</label>
					</div>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">open_with</i>
					<select name="attr.style.background-origin">
						{{#select (styleProperty element.[1].style 'background-origin')}}
							<option value="">&lt;empty&gt;</option>
							<option value="padding-box">padding-box</option>
							<option value="border-box">border-box</option>
							<option value="content-box">content-box</option>							
							<option value="initial">initial</option>
							<option value="inherit">inherit</option>
						{{/select}}
					</select>
					<label>background-origin</label>
				</div>
			</form>
		</div>
	</div>
	
	<div id="styleTabFont" class="col s12 modalTabContent">
		<div class="row">
			<form class="col s12">
				<h5 class="auto-translate" data-message='mockup.modals.style.font.properties'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">font_download</i>
						<select name="attr.style.font-family">
							{{#select (styleProperty element.[1].style 'font-family')}}
								<option value="">&lt;empty&gt;</option>
								<option value="Arial,Helvetica,sans-serif">Arial | Helvetica | sans-serif</option>
								<option value="'Arial Black',Gadget,sans-serif">Arial Black | Gadget | sans-serif</option>								
								<option value="'Times New Roman',Times,serif">Times New Roman | Times | serif</option>
								<option value="'Trebuchet MS',Helvetica,sans-serif">Trebuchet MS | Helvetica | sans-serif</option>
								<option value="Verdana,Geneva,sans-serif">Verdana | Geneva | sans-serif</option>
								<option value="sans-serif">sans-serif</option>
								<option value="serif">serif</option>
								<option value="monospace">monospace</option>
								<option value="cursive">cursive</option>								
								<option value="'Comic Sans MS',cursive">Comic Sans MS | cursive</option>
								<option value="'Courier New',Courier,monospace">Courier New | Courier | monospace</option>
								<option value="Geneva,Tahoma,sans-serif">Geneva,Tahoma | sans-serif</option>
								<option value="Georgia,serif">Georgia | serif</option>
								<option value="Helvetica,'Trebuchet MS',sans-serif">Helvetica | Trebuchet MS | sans-serif</option>
								<option value="Impact,Charcoal,sans-serif">Impact | Charcoal | sans-serif</option>
								<option value="'Lucida Console',Monaco,monospace">Lucida Console | Monaco | monospace</option>
								<option value="'Lucida Sans Unicode','Lucida Grande',sans-serif">Lucida Sans Unicode | Lucida Grande | sans-serif</option>
								<option value="'Lucida Console',Monaco,monospace">Lucida Console | Monaco | monospace</option>
								<option value="'Palatino Linotype','Book Antiqua',Palatino,serif">Palatino Linotype | Book Antiqua | Palatino | serif</option>
								<option value="Tahoma,Geneva,sans-serif">Tahoma | Geneva | sans-serif</option>			
							{{/select}}
						</select>
						<label>family</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">format_size</i>
						<input name="attr.style.font-size" type="text" value="{{styleProperty element.[1].style 'font-size'}}">
						<label for="attr.style.font-size">size</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">format_color_text</i>
						<input name="attr.style.color" type="text" value="{{styleProperty element.[1].style 'color'}}">
						<label for="attr.style.color">color</label>
					</div>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">format_bold</i>
					<select name="attr.style.font-weight">
						{{#select (styleProperty element.[1].style 'font-weight')}}
							<option value="">&lt;empty&gt;</option>
							<option value="normal">normal</option>
							<option value="bold">bold</option>
							<option value="bolder">bolder</option>
							<option value="lighter">lighter</option>
							<option value="100">100</option>
							<option value="200">200</option>
							<option value="300">300</option>
							<option value="400">400</option>
							<option value="500">500</option>
							<option value="600">600</option>
							<option value="700">700</option>
							<option value="800">800</option>
							<option value="900">900</option>			
							<option value="initial">initial</option>
							<option value="inherit">inherit</option>
						{{/select}}
					</select>
					<label>weight</label>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">format_italic</i>
					<select name="attr.style.font-style">
						{{#select (styleProperty element.[1].style 'font-style')}}
							<option value="">&lt;empty&gt;</option>
							<option value="normal">normal</option>
							<option value="italic">italic</option>
							<option value="oblique">oblique</option>			
							<option value="initial">initial</option>
							<option value="inherit">inherit</option>
						{{/select}}
					</select>
					<label>style</label>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">format_underlined</i>
					<select name="attr.style.text-decoration">
						{{#select (styleProperty element.[1].style 'text-decoration')}}
							<option value="">&lt;empty&gt;</option>
							<option value="underline">underline</option>
							<option value="overline">overline</option>
							<option value="line-through">line-through</option>			
							<option value="initial">initial</option>
							<option value="inherit">inherit</option>
						{{/select}}
					</select>
					<label>decoration</label>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">format_align_left</i>
					<select name="attr.style.text-align">
						{{#select (styleProperty element.[1].style 'text-align')}}
							<option value="">&lt;empty&gt;</option>
							<option value="left">left</option>
							<option value="right">right</option>
							<option value="center">center</option>			
							<option value="justify">justify</option>			
							<option value="initial">initial</option>
							<option value="inherit">inherit</option>
						{{/select}}
					</select>
					<label>align</label>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">vertical_align_center</i>
					<select name="attr.style.vertical-align">
						{{#select (styleProperty element.[1].style 'vertical-align')}}
							<option value="">&lt;empty&gt;</option>
							<option value="baseline">baseline</option>
							<option value="sub">sub</option>
							<option value="super">super</option>
							<option value="top">top</option>
							<option value="text-top">text-top</option>
							<option value="middle">middle</option>
							<option value="bottom">bottom</option>
							<option value="text-bottom">text-bottom</option>			
							<option value="initial">initial</option>
							<option value="inherit">inherit</option>
						{{/select}}
					</select>
					<label>vertical-align</label>
				</div>
				<div class="input-field col s12">
					<i class="material-icons prefix">space_bar</i>
					<select name="attr.style.white-space">
						{{#select (styleProperty element.[1].style 'white-space')}}
							<option value="">&lt;empty&gt;</option>
							<option value="normal">normal</option>
							<option value="nowrap">nowrap</option>
							<option value="pre">pre</option>
							<option value="pre-line">pre-line</option>
							<option value="pre-wrap">pre-wrap</option>		
							<option value="initial">initial</option>
							<option value="inherit">inherit</option>
						{{/select}}
					</select>
					<label>white-space</label>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">format_indent_increase</i>
						<input name="attr.style.text-indent" type="text" value="{{styleProperty element.[1].style 'text-indent'}}">
						<label for="attr.style.text-indent">indent</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">format_line_spacing</i>
						<input name="attr.style.line-height" type="text" value="{{styleProperty element.[1].style 'line-height'}}">
						<label for="attr.style.line-height">line-height</label>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div id="styleTabBorder" class="col s12 modalTabContent">
		<div class="row">
			<form class="col s12">
				<h5 class="auto-translate" data-message='mockup.modals.style.borders.top'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s4">
						<i class="material-icons prefix">view_day</i>
						<input name="attr.style.border-top-width" type="text" value="{{styleProperty element.[1].style 'border-top-width'}}">
						<label for="attr.style.border-top-width">width</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">border_style</i>
						<select name="attr.style.border-top-style">
							{{#select (styleProperty element.[1].style 'border-top-style')}}
									<option value="none">&lt;none&gt;</option>
									<option value="hidden">hidden</option>
									<option value="dotted">dotted</option>
									<option value="dashed">dashed</option>							
									<option value="solid">solid</option>
									<option value="double">double</option>
									<option value="groove">groove</option>
									<option value="ridge">ridge</option>
									<option value="inset">inset</option>
									<option value="outset">outset</option>
									<option value="initial">initial</option>
									<option value="inherit">inherit</option>
								{{/select}}
						</select>
						<label for="attr.style.border-top-style">style</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">format_paint</i>
						<input name="attr.style.border-top-color" type="text" value="{{styleProperty element.[1].style 'border-top-color'}}">
						<label for="attr.style.border-top-color">color</label>
					</div>
				</div>
				<h5 class="auto-translate" data-message='mockup.modals.style.borders.bottom'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s4">
						<i class="material-icons prefix">view_day</i>
						<input name="attr.style.border-bottom-width" type="text" value="{{styleProperty element.[1].style 'border-bottom-width'}}">
						<label for="attr.style.border-bottom-width">width</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">border_style</i>
						<select name="attr.style.border-bottom-style">
							{{#select (styleProperty element.[1].style 'border-bottom-style')}}
									<option value="none">&lt;none&gt;</option>
									<option value="hidden">hidden</option>
									<option value="dotted">dotted</option>
									<option value="dashed">dashed</option>							
									<option value="solid">solid</option>
									<option value="double">double</option>
									<option value="groove">groove</option>
									<option value="ridge">ridge</option>
									<option value="inset">inset</option>
									<option value="outset">outset</option>
									<option value="initial">initial</option>
									<option value="inherit">inherit</option>
								{{/select}}
						</select>
						<label for="attr.style.border-bottom-style">style</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">format_paint</i>
						<input name="attr.style.border-bottom-color" type="text" value="{{styleProperty element.[1].style 'border-bottom-color'}}">
						<label for="attr.style.border-bottom-color">color</label>
					</div>
				</div>
				<h5 class="auto-translate" data-message='mockup.modals.style.borders.left'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s4">
						<i class="material-icons prefix">view_day</i>
						<input name="attr.style.border-left-width" type="text" value="{{styleProperty element.[1].style 'border-left-width'}}">
						<label for="attr.style.border-left-width">width</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">border_style</i>
						<select name="attr.style.border-left-style">
							{{#select (styleProperty element.[1].style 'border-left-style')}}
									<option value="none">&lt;none&gt;</option>
									<option value="hidden">hidden</option>
									<option value="dotted">dotted</option>
									<option value="dashed">dashed</option>							
									<option value="solid">solid</option>
									<option value="double">double</option>
									<option value="groove">groove</option>
									<option value="ridge">ridge</option>
									<option value="inset">inset</option>
									<option value="outset">outset</option>
									<option value="initial">initial</option>
									<option value="inherit">inherit</option>
								{{/select}}
						</select>
						<label for="attr.style.border-left-style">style</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">format_paint</i>
						<input name="attr.style.border-left-color" type="text" value="{{styleProperty element.[1].style 'border-left-color'}}">
						<label for="attr.style.border-left-color">color</label>
					</div>
				</div>
				<h5 class="auto-translate" data-message='mockup.modals.style.borders.right'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s4">
						<i class="material-icons prefix">view_day</i>
						<input name="attr.style.border-right-width" type="text" value="{{styleProperty element.[1].style 'border-right-width'}}">
						<label for="attr.style.border-right-width">width</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">border_style</i>
						<select name="attr.style.border-right-style">
							{{#select (styleProperty element.[1].style 'border-right-style')}}
									<option value="none">&lt;none&gt;</option>
									<option value="hidden">hidden</option>
									<option value="dotted">dotted</option>
									<option value="dashed">dashed</option>							
									<option value="solid">solid</option>
									<option value="double">double</option>
									<option value="groove">groove</option>
									<option value="ridge">ridge</option>
									<option value="inset">inset</option>
									<option value="outset">outset</option>
									<option value="initial">initial</option>
									<option value="inherit">inherit</option>
								{{/select}}
						</select>
						<label for="attr.style.border-right-style">style</label>
					</div>
					<div class="input-field col s4">
						<i class="material-icons prefix">format_paint</i>
						<input name="attr.style.border-right-color" type="text" value="{{styleProperty element.[1].style 'border-right-color'}}">
						<label for="attr.style.border-right-color">color</label>
					</div>
				</div>
				<h5 class="auto-translate" data-message='mockup.modals.style.borders.radius'></h5>
				<hr class="styleModalHr">
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_downward</i>
						<input name="attr.style.border-top-left-radius" type="text" value="{{styleProperty element.[1].style 'border-top-left-radius'}}">
						<label for="attr.style.border-top-left-radius">top-left</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_upward</i>
						<input name="attr.style.border-top-right-radius" type="text" value="{{styleProperty element.[1].style 'border-top-right-radius'}}">
						<label for="attr.style.border-top-right-radius">top-right</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_forward</i>
						<input name="attr.style.border-bottom-left-radius" type="text" value="{{styleProperty element.[1].style 'border-bottom-left-radius'}}">
						<label for="attr.style.border-bottom-left-radius">bottom-left</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">arrow_back</i>
						<input name="attr.style.border-bottom-right-radius" type="text" value="{{styleProperty element.[1].style 'border-bottom-right-radius'}}">
						<label for="attr.style.border-bottom-right-radius">bottom-right</label>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>