.activator
{
	cursor: pointer;
}

.artefactListElement .card .card-content .artefact-title
{
	font-size: 1em !important;
	width: 100% !important;
	margin: 0 !important;
}

.action-section
{
	cursor: pointer;
	font-size: 0.8em !important;
}

.artefactListElement .card .card-image
{
	width: 100% !important;
	margin: 0 !important;
}


.artefactListElement .card .card-image img
{
	width: auto;
    height: 200px;
    margin: auto !important;
}

.prev, .next
{
	background: white !important;
	color: black !important;
}

.prev a, .next a
{
	color: #444 !important;
}