.hrSearch
{
	margin: 0px;
	margin-bottom: 20px;
}

#searchForm
{
	margin-bottom: 0px;
}

#artefactsList
{
	margin-left: 0px;
}

.listElement
{
	list-style: none;
}

.listElement h3
{
	margin: 0px;
}

.listElement div
{
	margin-left: 20px;
}

.imported_success
{
	font-size:1.3em;
	color: green;
	text-align: left;
	cursor: default;
}

.imported_success a
{
	font-size:0.8em;
	cursor: pointer;
}

.imported_error
{
	font-size:1.3em;
	color: red;
	text-align: left;
	cursor: default;
}

img
{
	width: 150px;
}

.artefact_title
{
	font-size: 1.5em;
	margin-right: 10px;
	text-decoration: underline;
	display:inline;
}

.artefact_descr
{
	text-align: justify;
	margin-left: 0 !important;
	margin-top: 0.8em;
}

.artefact_type
{
	margin-left: 0 !important;
	font-weight: bold;
	font-style:italic;
	font-size: 1.2em;
	margin-bottom: 10px;
	color: gray;
}

.artefact_type i
{
	font-size: 1.5em;
}

.artefact_url
{
	margin-left: 0 !important;
}

.artefact_rating
{
	margin-left: 0 !important;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #FFCC00;
}