body {
	padding-bottom: 40px;
	/*	margin-left:200px;*/
	-webkit-transition: margin 500ms ease;
	-moz-transition: margin 500ms ease;
	-ms-transition: margin 500ms ease;
	-o-transition: margin 500ms ease;
	transition: margin 500ms ease;
}

/* .navbar-layoutit .btn-donate { */
/* 	padding: 0 0 0 10px; */
/* } */

/* .navbar-layoutit .btn-donate form { */
/* 	margin: 0; */
/* } */

@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media ( max-width : 979px) {
	.navbar-fixed-top {
		position: fixed;
	}
}

.navbar{
	margin-bottom: 5px;
}
.navbar-fixed-bottom{
	margin-bottom: 0;
	min-height: 30px;
}
.navbar-fixed-bottom .navbar-btn{
	margin-top: 3px;
	margin-bottom: 3px;
}

.navbar-fixed-bottom .navbar-nav>li>a {
	padding-top: 3px;
	padding-bottom: 3px;
}

/* .navbar-layoutit #menu-layoutit { */
/* 	float: left; */
/* } */

/* .navbar-layoutit { */
/* 	min-height: 32px; */
/* 	padding: 5px; */
/* } */

/* .navbar-layoutit .navbar-brand { */
/* 	width: 180px; */
/* 	color: #fff; */
/* 	padding: 0; */
/* 	margin: 0 5px; */
/* } */

/* .navbar-layoutit .navbar-brand img { */
/* 	float: left; */
/* 	margin: 2px 10px 0 0; */
/* } */

/* .navbar-layoutit .navbar-brand .label { */
/* 	position: relative; */
/* 	left: 10px; */
/* 	top: -3px; */
/* 	font-weight: normal; */
/* 	font-size: 9px; */
/* 	background: #666; */
/* 	-webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7); */
/* 	-moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7); */
/* 	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7); */
/* } */

.edit .demo {
	padding: 30px 15px;
	outline: 1px solid #DDDDDD;
	/*border-radius: 4px;*/
	position: relative;
	word-wrap: break-word;
}

.edit .demo:after {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	color: #9DA0A4;
	content: "Container";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px
}

.sidebar-nav {
	border-radius: 4px;
	background: #ccc;
	padding: 10px;
	z-index: 10;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.sidebar-nav .nav-header {
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

.sidebar-nav .nav-header span.label {
	font-size: 10px; /*padding-bottom:0;*/
	position: relative;
	top: -1px;
}

.sidebar-nav .nav-header i.glyphicon-question-sign {
	color: #000;
	text-shadow: 0 1px 0 #ddd;
}

.sidebar-nav .nav-header .popover {
	color: #999;
	text-shadow: none;	 
}
.sublevel .nav-header{
	font-size: 0.8em;
	padding-left: 10px;
}
.sublevel .boxes, .sublevel .rows {
	padding-left: 20px;
}

.popover-info {
	position: relative;
}

.popover-info .popover {
	display: none;
	top: -12.5px;
	left: 15px;
}

.popover-info:hover .popover {
	display: block;
	opacity: 1;
	width: 400px;
}

.popover-info:hover .popover .arrow {
	top: 23px;
}

.sidebar-nav .accordion-group {
	border: none;
}

.boxes {
	
}

.sidebar-nav li {
	line-height: 28px;
	margin-bottom: 3px;
}

.sidebar-nav .preview {
	display: inline-table;
	padding-left: 10px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.sidebar-nav .preview input, .sidebar-nav .preview select,  .sidebar-nav .preview .input-group{	
	font-size: 10px;
	color: #999;
	line-height: 20px;
	height: 20px;
	position: relative;
}
.sidebar-nav .preview input, .sidebar-nav .preview select{
	padding: 0 3px;
}

.sidebar-nav .preview .input-group .input-group-btn button{
	height: 20px;
}

.sidebar-nav .actionbtn{
	text-align: right;
	padding-top: 2px;
}

.sidebar-nav .actionbtn button{
	padding: 0px 2px;
	width: 17px;
	height: 17px;
	vertical-align: top;
}

.sidebar-nav .preview input[type=checkbox], .sidebar-nav .preview input[type=radio]{
	margin: 0;
	box-shadow: none;
	width: auto;
}

.sidebar-nav .view {
	display: none;
}

.sidebar-nav .remove,.sidebar-nav .configuration {
	display: none;
}

.sidebar-nav .boxes {
	display: none;
}

.demo .preview {
	display: none;
}

.demo .box .view {
	display: block;
	padding-top: 5px;
}

.ui-draggable-dragging .view {
	display: block;
}
/*.demo .ui-sortable-placeholder { outline: 5px dotted #ddd; visibility: visible!Important; border-radius: 4px; }*/
.ui-sortable-placeholder {
	outline: 1px dashed #ddd;
	visibility: visible !Important;
	border-radius: 4px;
}
/*.edit .drag { position: absolute; top: 0;right: 0; cursor: pointer; }*/
.edit .drag i {
	color: #000;
	text-shadow: 0 1px 0 #ddd;
}

/*.box,.lyrow { position:relative;}*/

/*.edit .demo .lyrow .drag { top:5px; right:80px; z-index:10; }*/
/*.edit .demo .column .box .drag {*/
.edit .demo .box .drag {
	top: 5px;
}
/*.edit .demo .column .box .configuration {position: absolute; top: 3px; right: 140px;white-space:nowrap; }*/
/*.edit .demo .column .box .configuration:hover {*/
.edit .demo .box .configuration:hover {	
	z-index: 1001;
}

/*.edit .demo .column .navbar-fixed-top {*/
.edit .demo .navbar-fixed-top {	
	top: 33px;
	left: 180px;
}

/*.demo .column .navbar-fixed-top {*/
.demo .navbar-fixed-top {	
	top: 33px;
}

/*.edit .demo .column .navbar-fixed-bottom {*/
.edit .demo .navbar-fixed-bottom {	
	left: 180px;
}

/*.edit .demo .remove { position: absolute; top: 5px; right: 5px; z-index:10; }*/
.demo .configuration {
	filter: alpha(opacity = 0);
	opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.demo .drag,.demo .remove {
	filter: alpha(opacity = 20);
	opacity: 0.2;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.demo .lyrow:hover>.drag,.demo .lyrow:hover>.configuration,.demo .lyrow:hover>.remove,.demo .box:hover .drag,.demo .box:hover .configuration,.demo .box:hover .remove
	{
	filter: alpha(opacity = 100);
	opacity: 1;
}

#download-layout {
	display: none
}

#downloadModal textarea {
	width: 100%;
	height: 280px;
	resize: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a.language-selected {
	font-style: italic;
	font-weight: bold;
}

.modal-body {
	padding-bottom: 0;
}

.modal-footer {
	margin-top: 0;
	z-index: 1000 !important;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

#panelContainer .form-group {
	margin-bottom: 0px;
	min-height: 28px;
}

#panelContainer .form-group div[class^="col-"]{
	padding-left: 0px;
}

#panelContainer .form-control {
	font-size: 10px;
}

#panelContainer .form-control:focus {
	border-color: none; 
}


#panelContainer .control-label {
	white-space: nowrap;
	height: auto;
	line-height: 1em;
	padding-top: 1px;
	font-weight: normal;
	font-size:12px;
	text-align: left;
}

#panelContainer .form-horizontal .form-control-static{
	line-height: 1em;
	padding: 0px;
}

.outlined
{
	border-collapse: separate;
	border-spacing: .5em;	
	outline: 1px dotted #DDD;
	min-width:3em;
	min-height:1.5em;
	margin: 0.7em 0px;
	padding: 0.7em 0.7em;
}
/*
.demo *{
	border: 1px solid gray;
	border-collapse: separate;
	border-spacing: .5em;	
	outline: 1px dotted #DDD;
	min-width:3em;
	min-height:1.5em;
	margin: 0.7em 0px;
	padding: 0.7em 0.7em;
}*/

.demo.structurehelper *:before{
	background-color: #F5F5F5 !important;
	border: 1px solid #DDD !important;
	color: #9DA0A4 !important;
	/*content: "tag " attr(data-vme-itemid) !important;*/
	content: "tag " attr(data-vme-itemid) !important;	
	font-size: 10px !important;
	font-weight: normal !important;
	padding: 3px !important;
	margin: 3px !important;
}

/*.demo [data-vme-childrenlock=true] *{
	margin: auto;
	padding: auto;
	min-width:0px;
	min-height:0px;
	outline: none;
}*/


[data-vme-boxshadow]
{
	/*border-radius: 4px;
	box-shadow: #5BC0DE 0px 0px 14px !important;*/
	border: 2px dashed #558b2f !important;
}

.demo [data-vme-itemid]
{
	border: 1px solid #ddd;
}

.demo [data-vme-itemid]:hover
{
	border: 2px dashed #5BC0DE;
	cursor: pointer;
}

.demo [data-vme-itemid="vme-form"], .demo [data-vme-itemid="vme-img"], .demo [data-vme-itemid="vme-table"] span
{
	padding: 10px !important;
}

.demo [data-vme-itemid="vme-table"]
{
	border-collapse: separate;
	padding: 10px !important;
}

.demo [data-vme-itemid="vme-ul"], .demo [data-vme-itemid="vme-ol"]
{
	padding: 10px !important;
}

.demo [data-vme-itemid="vme-gmap"] > div{
	margin: 10px !important;
}


.databindhelper [data-bind-text],
.databindhelper [data-bind-attr],
.databindhelper [data-bind-with],
.databindhelper [data-bind-foreach],
.databindhelper [data-bind-datepicker],
.databindhelper [data-bind-map],
.databindhelper [data-bind-tree],
.databindhelper [data-bind-youtube],
.databindhelper [data-binding_input]
{	
	outline: 1px solid #5BC0DE;
}

.inputbind.complete{
	color: green;
}
.inputbind.inprogress{
	color: orange;
}
.inputbind.nothing{
	color: red;
}

.minicolors-theme-default.minicolors{
	display: block;
}

.minicolors-theme-default .minicolors-input{
	display: block;
	width: 100%;
	padding-left: 26px !important;	
}

.minicolors-theme-default .minicolors-swatch{
	top: 0px;
	left: 4px;
}
.highlight-state{
	background-color: highlight;
}

#editorModal .modal-body{
	height: 300px;
}

#editorModal
{

}

#editorModal .modal-content
{
	padding-left: 0;
    padding-right: 0;
}

#editorModal .modal-content > h4
{
	padding-left: 10px;
}

.ace_editor { 
	height: 600px;
	width: 100%;
}