@import url(https://fonts.googleapis.com/css?family=Asap);

body {
	padding-top: 50px;
	font-family: 'Asap', sans-serif !important;
}

body.edit {
	padding-top: 0px !important;
	font-family: 'Asap', sans-serif !important;
}

.table th, .table td {
	vertical-align: inherit !important;
}

.select2-container-multi .select2-choices {	
 border-radius:4px;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.main_navbar
{
	background: rgb(249,249,249) !important;
	border-bottom: 10px solid rgb(35,34,34) !important;
	box-shadow: rgba(0,0,0,0.5) 0px 1px 3px 0px !important;
	
	color: black !important;
	border: 0;
}

.main_brand
{
	color: black !important;
	font-style: italic;
	
	padding-top: 15px !important;
    padding-bottom: 10px !important;
    padding-left: 30px !important;
}

.logo_brand
{
	float: left;
    margin-top: 7px;
}

.logo_brand img
{
	height: 35px;
}

.navbar-brand
{
	color: white !important;
}

.main_navabar_item
{
	color: black !important;
	margin-top: 5px;
}

.main_navabar_item a
{
	color: black !important;
}

.main_navabar_item_active
{
	background: rgb(35,34,34) !important;
	color: white !important;
	margin-top: 5px;
}

.main_navabar_item:hover, .main_navabar_item a:hover
{
	background: #B6BD00 !important;
	color: white !important;
}

.main_navabar_item_active a
{
	color: white !important;
}

.main_dropdown-menu
{
	background: rgb(249,249,249) !important;
}

.main_dropdown-menu a:hover
{
	background: #B6BD00 !important;
}

.main_navabar_item.open a.dropdown-toggle
{
	background: #B6BD00 !important;
	color: white !important;
}

.divider-vertical
{
	border: 1px solid white !important;
}

.main_container
{
	margin-top: 30px;
}

.main_sidebarmenu
{
	background: white !important;
	padding: 0 !important;
}

.main_sidebarmenu li
{
	font-size: 1em !important;
	margin-bottom: 7px;
	margin-top: 7px;
}

.main_sidebarmenu li > a
{
	color: rgb(35,34,34);
}

.main_sidebarmenu li > a:hover
{
	background: #B6BD00 !important;
	color: white;
	text-shadow: none;
}

.main_sidebarmenu li.nav-header
{
	font-size: 1em !important;
	background: rgb(35,34,34) !important;
	color: white !important;
	margin-bottom: 10px;
	margin-top: 0px;
	text-shadow: none;
}

.main_sidebarmenu li.active > a
{
	background: #67B2E8 !important;
	color: white;
}

.breadcrumb
{
	background: white !important;
}

.breadcrumb a
{
	color: #008AA9 !important;
}

.breadcrumb li.active
{
	color: #38ADC7 !important;
}

h4
{
	color: #38ADC7 !important;
}

strong, th
{
	color: #008AA9 !important;
}

.accordion-group > li.nav-header
{
	height: 100% !important;
	font-family: 'Asap', sans-serif !important;
	font-size: 0.9em !important;
	background: rgb(0,69,84);
	color: white !important;
	padding: 3px;
	padding-left: 5px;
	border-radius: 5px;
}

.accordion-group > li.nav-header > i
{
	margin-right: 10px;
}

span.drag
{
	background: #008AA9 !important;
	cursor: pointer;
}

span.drag > i
{
	color: white !important;
}

#customComponentContainer
{
	background: white !important;
}

.scrollable-menu 
{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}