/* NAV */
nav
{
	background: white;
}

nav ul a 
{
	color: black !important;
	font-size: 14px;
}

.brand-logo
{
	color: black !important;
	margin: 0 auto !important;
	margin-left: 20px !important;
	height: 100%;
	font-size: smaller !important;
}

.brand-logo img
{
	margin: auto 0;
    max-height: 80%;
    max-width: 100%;
    width: auto;
	height: auto;
	vertical-align: middle;
}

.brand-logo span
{
	height: 12px !important;
	font-weight: 300;
    left: 45%;
    position: absolute;
    top: 30%;
}

.user-avatar-image
{
	width: 24px;
	height: 24px;
	border: 2px solid black;
	border-radius: 12px;
	margin-right: 5px;
}

/* GENERAL */
body
{
	font-size: 14px !important;
}

hr
{
	background: gray;
	height: 1px;
	border-style: none;
}

footer
{
	background: #6FAFDA !important
}

.main-container
{
	padding: 25px;
	padding-top: 0;
}

.dropdown-content
{
	width: 300px !important;
}

.separator
{
	border-right: 2px solid #e0e0e0 ;
}

.section-title
{
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.back-button-container
{
	margin-top: 2em;
}

.back-button
{
	color: black !important;
}

.fixed-action-btn
{
	position: absolute !important;
	bottom: 5px !important;
}

.fixed-action-btn a
{
	background-color: rgb(111, 175, 218) !important;
}

.fixed-action-btn ul li a
{
	background-color: #00838f !important;
}

.btn
{
	background-color: rgb(111, 175, 218) !important;
}

.tabs li a 
{
	color: gray !important;
}

.tabs li a.active
{
	color: black !important;
	font-weight: bold !important;
}

.tabs .indicator {
    background-color: #b6bd00 !important;
}

.tabContainer
{
	padding: 1em !important;
}

.toast-success
{
	background: #2e7d32 !important;
}

.toast-error
{
	background: #c62828 !important;
}

.collection-item .title a
{
	color: #00838f;
	text-decoration: underline;
}

/* ICONS */

.edit-icon
{
	color: #00838f;
}

.preview-icon
{
	color: #558b2f;
}

.export-icon
{
	color: #6a1b9a;
}

.publish-icon
{
	color: #ef6c00;
}

/* ALERTS */
.alert-success
{
	background: #c5e1a5;
}

.alert-error
{
	background: #e53935;
	color: white !important;
}

.alert-warning
{
	background: #ffe082;
}

/* ICONS */
.delete-icon
{
	color:#d50000;
}

.list-action-icon
{
	margin: 0.5em;
}

/* SERVICE CATALOG DETAIL */
.opContainer
{
	 padding: 1em;
}

.opSection
{	
	font-size: 1.2em;
}

.opPath
{
	font-size: 1.2em;
}

.opName
{
	font-size: 1.2em;
}

.opMethod
{
	color: black;
	margin-right: 10px !important;
	padding: 5px;
	border-radius: 5px;
}

.opMethod_GET
{
	background: #01579b !important;
	color: white !important;
}

.opMethod_POST
{
	background: #1b5e20 !important;
	color: white !important;
}

.opMethod_PUT
{
	background: #f57f17 !important;
	color: white !important;
}

.opMethod_DELETE
{
	background: #b71c1c !important;
	color: white !important;
}

/* SPINNER LAYER */

#spinner_layer
{
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.8);
}	

#spinner_layer > div
{
	position: relative;
	width: 100%;
}

#spinner_layer h5
{
	text-align: center;
}

#spinner_layer .progress
{
	width: 50% !important;
}

.collection.list .collection-item:hover
{
	border: 2px solid rgb(111, 175, 218);
}

.executionErrorMessage
{
	border: 1px solid gray; 
	padding: 20px; 
	margin: 20px; 
	background: white;
}

.executionErrorMessage h5
{
	text-align: center; 
	color: red;
	font-family: monospace;
}

.operator-helper-example
{
	font-family: monospace;
	border: 1px solid black;
	margin-top: 1em;
	margin-bottom: 0 !important;
	padding: 0.5em;
}
