@args AddOpenDataViewModel model;
@args AccountDTO loggeduser;
@extends("shared.userlayout", loggeduser: loggeduser, section:"opendata", title:"Import Open data")


<div class="row-fluid">

<div class="span3">
	@invoke("shared.servicecatalogmenu", "opendata_add")
</div>
<div class="span9">
<h4>@message("odata.management.add")</h4>

<form action='@url("/user/opendata/add/fromods")' method="POST">
	<div>
		<label for="odsId">ODS Dataset Id</label>
		<input type="text" name="odsId" value="" class="input-xxlarge" required />
	</div> 
	<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
</form>
</div>
</div>