@args ODSDataset dataset, List<ODSResource> resources, AccountDTO loggeduser
@extends("shared.userlayout", loggeduser: loggeduser, section:"opendata", title:"Opendata details") 
@include("shared.inlinedefinitions")



@section("extraheader") {
<link type="text/css" rel="stylesheet" href='@url("/resources/js/jquery/select2/select2.css")' />
<link type="text/css" rel="stylesheet" href='@url("/")resources/js/queryBuilder/css/query-builder.default.min.css' />

<script type="text/javascript" src='@url("/")resources/js/jquery/select2/select2.min.js'></script> 
<script type="text/javascript" src='@url("/")resources/js/jQuery.extendext.min.js'></script>
<script type="text/javascript" src='@url("/")resources/js/doT.min.js'></script>
<script type="text/javascript" src='@url("/")resources/js/sql-parser.js'></script>
<script type="text/javascript" src='@url("/")resources/js/queryBuilder/js/query-builder.min.js'></script>
<script type="text/javascript" src='@url("/")resources/js/vme2App/odsUtils.js'></script>
}

@import it.eng.PropertyGetter;

@{
String mkpBaseUrl = PropertyGetter.getProperty("mkp.baseUrl");

String mkpPage = PropertyGetter.getProperty("mkp.artefact.publication.page").replace("!ARTEFACT_ID!", Integer.toString(dataset.getMkpId()));
}

<!-- Modal Delete Service Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.delete") <span class="datasetName"></span></h4>
    <p>@message("projects.messages.delete_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='' method="GET">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Service Dependencies -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>@message("projects.messages.cant_delete") <span class="datasetName"></span></h4>
    <p>@message("projects.messages.cant_delete.reason")</p>
    <ul id="depList">
    </ul>
  </div>
  <div class="modal-footer">
  	<button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.ok")</button>
  </div>
</div>

<div class="back-button-container">
	<a class="back-button" href='@url("/user/opendata/list")'>
  		<i class="material-icons left">arrow_back</i> @message("catalogs.actions.to_list")
	</a>
</div>
<br>
<div style="position: relative">
	<h4 class="section-title">@dataset.getTitle()</h4>
	@if(dataset.getProfile().getId() == loggeduser.getProfile().getId()) { 
	<!-- FAB button -->
	<span class="fixed-action-btn horizontal">
	  <a class="btn-floating btn-large fab-fixed-button">
	    <i class="large material-icons">menu</i>
	  </a>
	  <ul>
	  	<!-- 
	    <li>
	    @if(dataset.getVisibility() == 3) {
	    <a class="btn-floating cyan darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("catalogs.actions.visibility.set_workgroup")'
	      href='@url("/")user/opendata/@dataset.getId()/setvisibility?code=2'><i class="material-icons">visibility</i></a>
	    }
	    else {
	    <a class="btn-floating cyan darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("catalogs.actions.visibility.set_private")'
	      href='@url("/")user/opendata/@dataset.getId()/setvisibility?code=3'><i class="material-icons">visibility_off</i></a>
	    }
	    </li>	
	    -->    
	    <!-- Modal Trigger -->
	    <li><a class="btn-floating red accent-4 modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("catalogs.actions.remove")'
	    onclick="javascript:deleteDataset('@dataset.getTitle()', @dataset.getId())"><i class="material-icons">delete</i></a></li>
	  </ul>
	</span>
	}
</div>

<div class="">
	<div class="row">
		<div class="col m3">
			<img src="@mkpBaseUrl/MarketplaceStore-portlet/icons/icone_dataset-01.png" />
		</div>
		<div class="col m8">
			<ul>
				<!-- <li><strong>@message("catalogs.details.visibility"): </strong>@decodeServiceVisibility(dataset.getVisibility())</li>-->
				<li><strong>@message("catalogs.details.description"): </strong>@dataset.getDescription()</li>
				<li><a href='@mkpPage' target="_blank">@message("catalogs.details.mkp_page")</a></li>	
			</ul>
		</div>
	</div>
	<br>
	<h5>@message("catalogs.details.resources")</h5>
	<br>
	<div class="row">
		
		<ul class="collapsible" data-collapsible="accordion">
		@for (ODSResource resource: resources) {
		  <li>
		    <div class="collapsible-header">
		    	<div class="row" style="margin-bottom: 0">
		    		<div class="col s12"><span class="opPath">@resource.getTitle()</span></div>
		    	</div>
		    </div>
		    <div class="collapsible-body opContainer">
		    	<div>
		    		<strong class="opSection">@message("catalogs.details.resources.description")</strong>
			    	<div style="padding: 1em">
						@resource.getDescription()
					</div>
				</div>
				<div id="resourceSchema_@resource.getId()"><!-- SCHEMA -->
		    		
			    </div>
		    </div>
		  </li>
		}
		</ul>
	</div>
</div>

<script>
function deleteDataset(name, id)
{
	$.ajax({
		type: "POST",
		dataType : 'json',
		url: '@url("/")user/opendata/' + id + '/delete/check',
		success :function(response)
		{
			$(".datasetName").html(name);
			
			if(response.mashups.length == 0)
			{				
				$("#modal1").find("form").attr("action", '@url("/")user/opendata/' + id + '/delete');
				
				$("#modal1").openModal();
			}
			else
			{
				var content = "";
				
				for(var i = 0; i < response.mashups.length; i++)
				{
					content += '<li><a target="_blank" href="@url("/")user/project/' + response.mashups[i].id + '/details">' + response.mashups[i].name + '</a></li>';	
				}
				
				$("#depList").html(content);
				
				$("#modal2").openModal();
			}
		}
	});
}

$(document).ready(function(){
	@for (ODSResource resource: resources) {
		var content = drawSchemaTable(getDatasetSchema(@resource.getId()));
		$("#resourceSchema_@resource.getId()").html(content);
	}
});
</script>