@args AccountDTO loggeduser; 
@extends("shared.userlayout", loggeduser: loggeduser, section:"", title:"Change password")

@section("extraheader"){
<script type="text/javascript">
<!--
function validatePass(p1, p2) {
    if (p1.value != p2.value || p1.value == '' || p2.value == '') {
        p2.setCustomValidity('@message("message.password.notmatch")');
    } else {
        p2.setCustomValidity('');
    }
}
//-->
</script>
}

<div class="row-fluid">
	<div class="span3">@invoke("shared.memenu", "account_changepassword")</div>
	<div class="span9">
		<form action='@url("/")user/me/changepassword/execute' method="POST">
			<fieldset>
				<legend>@message("me.management.changepassword")</legend>
				<label for="old">@message("me.management.passwordold") (*):</label>
				<input id="old" name="old" type="password" placeholder='@message("me.management.passwordold")' required>
				<label for="new">@message("me.management.passwordnew") (*):</label>
				<input id="new" name="new" type="password" placeholder='@message("me.management.passwordnew")' required>
				<label for="confirm">@message("me.management.passwordconfirm") (*):</label>
				<input id="confirm" name="confirm" type="password" required 
				    placeholder='@message("me.management.passwordconfirm")' 
				 	onfocus="validatePass(document.getElementById('new'), this);" 
				 	oninput="validatePass(document.getElementById('new'), this);" >
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">@message("message.save")</button>
				<a href='@url("/")user/me/' class="btn">@message("message.cancel")</a>
			</div>

		</form>
	</div>
</div>


