@args AccountDTO loggeduser; 
@extends("shared.userlayout", loggeduser: loggeduser, section:"", title:"Change password")

<div class="row-fluid">
	<div class="span3">@invoke("shared.memenu", "account_home")</div>
	<div class="span9">
		<h5>@message("me.management")</h5>
		
	</div>
</div>
