@args AddWsdlServiceViewModel model;
@extends("shared.mainlayout")

<h4>@message("service.management.addwsdl")</h4>

<form action='@url("/test/add/wsdl/json")' method="POST">
	<div>
		<label for="wsdlUrl">URL: </label>
		<input type="url" name="wsdlUrl" value="@model.getWsdlUrl()" class="input-xxlarge" required />
	</div>
	
	<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
</form>

<form action='@url("/test/add/wsdl/file/json")' method="POST" enctype="multipart/form-data">
	<div class="control-group">
		<label class="control-label" for="wsdlFile">File: </label>
		<div class="controls">
			<input type="file" name="wsdlFile" value="@model.getWsdlFile()" class="input-xxlarge" required />
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
		</div>
	</div>
</form>
