@extends("shared.mainlayout" ,"")

<div class="container">
	<h4>@message("service.management.addwadl")</h4>

	<form action='@url("/test/wadl/url")' method="POST">
		<div>
			<label for="wadlUrl">URL: </label>
			<input type="url" name="wadlUrl" value="" class="input-xxlarge" required />
		</div>

		<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
	</form>

	<form action='@url("/test/wadl/file")' method="POST" enctype="multipart/form-data">
		<div class="control-group">
			<label class="control-label" for="wadlFile">File: </label>
			<div class="controls">
				<input type="file" name="wadlFile" value="" class="input-xxlarge" required />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
			</div>
		</div>
	</form>
</div>