@extends("shared.mainlayout", "Test WSDL")


<div class="container">
	<h1>Parse WSDL</h1>
	<form method="POST">
		<label for="wsdlURL">Wsdl URL:</label>
		<input type="url" id="wsdlURL" name="wsdlURL" value="" placeholder="url" class="input-xxlarge" required />
		<br>
		<br>
		<input type="submit" value="submit" class="btn btn-primary" />
	</form>
</div>