@args Project project
@args List<Workgroup> workgroupList
@args AccountDTO loggeduser
@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Add project")

@section("extraheader"){

}


<!-- FAB button -->
<!--  
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<button class="btn-floating btn-large fab-fixed-button" onclick="javascript:saveProject()"><i class="large material-icons">save</i></button>
</div>
-->

<div class="">
	<div class="back-button-container">
		<a class="back-button" href='@url("/user/project/list")'>
	  		<i class="material-icons left">arrow_back</i> @message("projects.actions.to_list")
		</a>
	</div>
	<br>
	<div style="position: relative">
		<h4 class="section-title">@message("projects.create.header")</h4>
	</div>
	<br>
	<div class="row">
		<form class="col s12" action='@url("/user/project/add/execute")' method="POST" id="newProjectForm">
	      <div class="row">
	        <div class="input-field col s6">
	          <input id="name" name="name" type="text" class="validate project-name-chars" value="@project.getName()">
	          <label for="name">@message("projects.general.name")</label>
	        </div>
	        <div class="input-field col s6">
			  <select id="workgroup_id" name="workgroup.id">
			    <option value="" disabled selected>@message("projects.create.workgroup.choose")</option>
			    @for(workgroupList){
			    <option  @if(project.getWorkgroup() != null && (project.getWorkgroup().getId() == _.getId())){ selected="selected" } value="@_.getId()">@_.getName()</option>
			    }
			  </select>
			  <label>@message("projects.general.workgroup")</label>
			</div>
	      </div>
	      <div class="row">
	      	<div class="input-field col s12">
	          <textarea id="description" name="description" class="materialize-textarea"></textarea>
	          <label for="description">@message("projects.general.description")</label>
	        </div>
	      </div>
	      <div class="row">
	      	<div class="input-field col s12">
	          <a class="btn btn-small right" href='#' onclick="javascript:saveProject()">
				  <i class="material-icons left">save</i> @message("projects.actions.create")
			  </a>
	        </div>
	      </div>
	      <!--  
	      <div class="row">
	      	<label for="tags">@message("project.tags")</label>
			<div class="input-field col s12">
				<div class="chips" id="tagsContainer"></div>
			</div>
			<input type="hidden" name="tags" id="tags">
	      </div>
	      -->
	    </form>
	</div>
</div>

<script>
function saveProject()
{
	if($("#name").val().trim() == "")
	{
		var toastContent = $('<span class="toastError">@message("projects.messages.enter_valid_name")</span>');
		Materialize.toast(toastContent, 2000);
		$(".toastError").parent().addClass("toast-error");
		
		return;
	}
	
	if($("#workgroup_id option:selected").val() == "")
	{
		var toastContent = $('<span class="toastError">@message("projects.messages.select_workgroup")</span>');
		Materialize.toast(toastContent, 2000);
		$(".toastError").parent().addClass("toast-error");
		
		return;
	}
	
	$("#newProjectForm").submit();
}

$(document).ready(function() {
	$('select').material_select();  
});
</script>