@args Project project, AccountDTO loggeduser, boolean loggedOwner 
@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Delete project")

<ul class="breadcrumb">
  <li><a href='@url("/")user/project/list'>@message("project.management.my")</a> <span class="divider">/</span></li>  
  <li><a href='@url("/")user/project/@project.getId()/details'>@project.getName()</a> <span class="divider">/</span></li>
  <li class="active">@message("project.management.delete")</li>
</ul>
<div class="row-fluid">
	<div class="span3">
	@invoke("shared.projectmenu", project.getId(), "project_delete", loggedOwner ) 
	
	</div>
	<div class="span9">
					 
		<form action='@url("/")user/project/@project.getId()/delete/execute' method="POST">

			<div class="alert alert-block alert-error fade in">
				<h5 class="alert-heading">@message("project.management.delete")</h5>
				<p>
					@project.getName()
					<br>
					<br>
					@message("project.management.delete.confirm")
					<br>
					<br>
				</p>
				<p>
					<button type="submit" class="btn btn-danger">@message("label.confirm")</button>
					<a class="btn" href='@url("/")user/project/@project.getId()/details'>@message("message.cancel")</a>
				</p>
			</div>

		</form>
	</div>
</div>