@args ProjectDetailsViewModel model, AccountDTO loggeduser, IdeaWorkgroup ideawg, List<RestOperation> restOperations, List<SoapOperation> soapOperations, List<ODSResource> datasets
@extends("shared.userlayout", loggeduser:loggeduser, section:"projects", title:"Project detail")

@import it.eng.PropertyGetter;

@{
String imsIdeaPage = PropertyGetter.getProperty("idea.ideaPage");

String bbMkpPage = "";
if(model.getProject().getMkpId() != 0)
	bbMkpPage = PropertyGetter.getProperty("mkp.artefact.publication.page").replace("!ARTEFACT_ID!", Integer.toString(model.getProject().getMkpId()));

String linkIdea = "";
if(ideawg != null)
	linkIdea = imsIdeaPage.replace("!IDEA_ID!", ideawg.getIdeaId() + "");
}

@section("extraheader") {
<script type="text/javascript" src='@url("/")resources/js/jquery/select2/select2.min.js'></script> 
<link type="text/css" rel="stylesheet" href='@url("/resources/js/jquery/select2/select2.css")' />
}

<!-- Modal Delete Project Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.delete") @model.getProject().getName()</h4>
    <p>@message("projects.messages.delete_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='@url("/")user/project/@model.getProject().getId()/delete/execute' method="POST">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Delete Comment Confirmation -->
<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>@message("projects.actions.delete_comment")</h4>
    <p>@message("projects.messages.delete_comment_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='' method="GET">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Remove Member Confirmation -->
<div id="modal4" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.remove") <span class="memberName"></span></h4>
    <p>@message("projects.messages.remove_member_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='' method="GET">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Project Dependencies -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>@message("projects.messages.cant_delete") @model.getProject().getName()</span></h4>
    <p>@message("projects.messages.cant_delete.reason")</p>
    <ul id="depList">
    </ul>
  </div>
  <div class="modal-footer">
  	<button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.ok")</button>
  </div>
</div>

<!-- Modal Publish Project Confirmation -->
<div id="modal5" class="modal">
  <div class="modal-content">
    <h4>@message("projects.actions.publish")</h4>
    <p>@message("projects.messages.publish_overwrite.alert")<br>@message("projects.messages.publish_overwrite.confirm")</p>
  </div>
  <div class="modal-footer">
  	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:publishProject(-1)">@message("general.actions.confirm")</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Delete Project Confirmation -->
<div id="modalEditInfo" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.edit") <span class="infoToBeEdited"></span></h4>
    <p>@message("projects.messages.insert_info") <span class="infoToBeEdited"></span></p>
	<br>
    <form id="editInfoForm" action='@url("/user/project/edit/execute")' method="POST">
		<input id="id" name="id" type="hidden" value="@model.getProject().getId()" />
		<input id="workgroup.id" name="workgroup.id" type="hidden" value="@model.getProject().getWorkgroup().getId()" />
		<input id="createdAt" name="createdAt" type="hidden" value="@model.getProject().getCreatedAt()" />
		
		<div class="input-field col s12" id="edit_name">
	      <input id="name" name="name" type="text" class="project-name-chars" value="@model.getProject().getName()">
	      <label for="name" style="left:0">@message("projects.general.name")</label>
	    </div>
	    
	    <div class="input-field col s12" id="edit_description">
	      <textarea id="description" name="description" class="materialize-textarea">@model.getProject().getDescription()</textarea>
	      <label for="description" style="left:0">@message("projects.general.description")</label>
	    </div>				
	</form>
  </div>
  <div class="modal-footer">
  	<button class="modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:editInfoExecute()">@message("general.actions.confirm")</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<div class="">
	<div class="back-button-container">
		<a class="back-button" href='@url("/user/project/list")'>
	  		<i class="material-icons left">arrow_back</i> @message("projects.actions.to_list")
		</a>
	</div>
	<br>
	<div style="position: relative">
		<h4 class="section-title">@model.getProject().getName()</h4>
		<!-- FAB button -->
		<span class="fixed-action-btn horizontal">
		  <a class="btn-floating btn-large fab-fixed-button">
		    <i class="large material-icons">menu</i>
		  </a>
		  <ul>
		    <li><a class="btn-floating cyan darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("projects.actions.edit")'
		      href='@url("/")user/project/@model.getProject().getId()/editor'><i class="material-icons">create</i></a></li>
		    @if(model.getOwner().getId() == loggeduser.getProfile().getId()) {
		    <li><a class="btn-floating orange darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("projects.actions.publish")' 
		  	@if(model.getProject().getMkpId() == 0) { onclick="javascript:publishProject(@model.getProject().getId())" }
		  	@if(model.getProject().getMkpId() != 0) { onclick="javascript:showPublishConfirm(@model.getProject().getId())" }
		  	>
		  		<i class="material-icons">publish</i>
		  	</a></li>
		    <!-- Modal Trigger -->
		    <li><a class="btn-floating red accent-4 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("projects.actions.delete")'
		    onclick="javascript:deleteProject('@model.getProject().getName()', @model.getProject().getId())"><i class="material-icons">delete</i></a></li>
		    }
		  </ul>
		</span>
	</div>
	<br>
	<div class="">
	    <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s3"><a class="active" href="#projectinfo">@message("projects.details.info")</a></li>
	        <li class="tab col s3"><a href="#projectmembers">@message("projects.details.members.title")</a></li>
	      </ul>
	    </div>
	    <div id="projectinfo" class="tabContainer">
	     <div class="row">
	      <div class="col l6 s12">
	      	<h5>@message("projects.details.info")</h5>
	    	<ul>
	    		<li>
	    			<label>@message("projects.general.name")</label>
	    			@if(model.getOwner().getId() == loggeduser.getProfile().getId()) {
	    			&nbsp;&nbsp;<i class="tiny material-icons edit-icon tooltipped" id="editNameIcon" onclick="javascript:editInfo('name')" data-position="right" data-tooltip='@message("general.actions.edit") @message("projects.general.name")' style="cursor: pointer">create</i>
	    			}
	    			<p>@model.getProject().getName()</p>
	    		</li>
	    		<li><label>@message("projects.general.workgroup")</label><p>@model.getProject().getWorkgroup().getName()</p></li>
	    		<li>
	    			<label>@message("projects.general.description")</label>
	    			@if(model.getOwner().getId() == loggeduser.getProfile().getId()) {
	    			&nbsp;&nbsp;<i class="tiny material-icons edit-icon tooltipped" onclick="javascript:editInfo('description')" data-position="right" data-tooltip='@message("general.actions.edit") @message("projects.general.description")' style="cursor: pointer">create</i>
	    			}
	    			<p>@model.getProject().getDescription()</p>
	    		</li>
	    		<li><label>@message("projects.details.owner")</label><p>@model.getOwner().getFirstName() @model.getOwner().getLastName()</p></li>
	    		<li>
					<label>@message("projects.details.members.title")</label>
					<p><ul>
					@for(Profile p : model.getMembers()){
						@if(loggeduser.getProfile().getId() != p.getId()){
							<li>@p.getFirstName() @p.getLastName()</li>
						}
					}
					</ul></p>
				</li>
	    		@if(ideawg != null)
				{
				<li><label>@message("projects.details.idea")</label><p><a target="_blank" href="@linkIdea">@ideawg.getIdeaName()</a></p></li>
				}
				@if(model.getProject().getMkpId() != 0) 
				{
				<li><label>@message("projects.details.mkp.title")</label><p><a target="_blank" href='@bbMkpPage'>@message("projects.details.mkp.goto")</a></p></li>
				}
	    	</ul>
	      </div>
	      <div class="col l6 s12">
	      	<h5>@message("projects.details.resources.title") <i class="material-icons circle tooltipped" data-position="right" data-delay="50" data-tooltip='@message("projects.details.resources.help")'>help</i></h5>
	      	<ul>
		      	<li>
					<label>@message("projects.details.resources.used_services")</label>
					<p><ul>
					@for(restOperation: restOperations ){
						<li><a href="/visualcomposer/user/servicecatalog/@restOperation.getServiceCatalog().getId()/details">@restOperation.getName() (@restOperation.getServiceCatalog().getName())</a></li>
					}
					@for(soapOperation: soapOperations ){
						<li><a href="/visualcomposer/user/servicecatalog/@soapOperation.getServiceCatalog().getId()/details">@soapOperation.getOperationName() (@soapOperation.getServiceCatalog().getName())</a></li>
					}
					</ul></p>
				</li>
				<li>
					<label>@message("projects.details.resources.used_datasets")</label>
					<p><ul>
					@for(dataset: datasets){
						<li><a href="/visualcomposer/user/opendata/@dataset.getOdsDataset().getId()/details">@dataset.getTitle() (@dataset.getOdsDataset().getTitle())</a></li>
					}
					</ul></p>
				</li>
	      	</ul>
	      </div>
	     </div>
	     	
	     	<div class="col s12">	
	     		<h5>@message("projects.details.comments.title")</h5>	    	
		    	@if(model.getComments().size() > 0) {
		    	<ul class="collection">
		    	@for(Comment cc: model.getComments()){
				<li class="collection-item avatar">
					<i class="material-icons circle">comment</i>
					<span class="title">@cc.getContent()</span>
					<p>
						<small><cite>@cc.getProfile().getFirstName() @cc.getProfile().getLastName()</cite></small>
						<br>
						<small><cite>@dateFormat(cc.getCreatedAt(), format:"dd MMM yyyy, HH:mm:ss")</cite></small>
					</p>
					<div href="#!" class="secondary-content">	
					@if(cc.getProfile().getId() == loggeduser.getProfile().getId()){
						<a onclick="javascript:deleteComment(@cc.getId())"><i class="material-icons delete-icon tooltipped" data-position="left" data-tooltip='@message("projects.actions.delete_comment")' style="cursor:pointer">delete</i></a>
					}
					</div>			
				</li>
				}
				</ul>
				} else {
					<strong><i>@message("projects.messages.no_comments")</i></strong>
				}
				
			</div>
			
			<div class="row">	
				<form action='@url("/")user/project/@model.getProject().getId()/comments/add' method="POST" class="col s12">
					<div class="row">
						<fieldset>
							<legend>&nbsp;@message("projects.details.comments.add")&nbsp;</legend>				
								<textarea id="content" name="content" class="input-xxlarge" rows="3"></textarea>
							<div>					
								<button type="submit" class="btn btn-primary">@message("general.actions.add")</button>
							</div>
						</fieldset>
					</div>
				</form>
			</div>
	    </div>

	    <div id="projectmembers" class="col s12 tabContainer">
	    	<div class="row">
	    		@if(model.getMembers().size() > 1) {
	    		<ul class="collection">
	    			@for(Profile p : model.getMembers()){ 
	    				@if(loggeduser.getProfile().getId() != p.getId()){				
				    <li class="collection-item avatar">
				      <i class="material-icons circle">person</i>
				      <span class="title">@p.getFirstName() @p.getLastName()</span>
				      <p>@p.getEmail()</p>
				      @if(model.getOwner().getId() == loggeduser.getProfile().getId() && ideawg == null) {
				      <div href="#!" class="secondary-content">				      
				      	<a onclick="javascript:removeMember('@p.getFirstName() @p.getLastName()', @p.getId())">
				      		<i class="material-icons delete-icon tooltipped" data-position="left" data-tooltip='@message("projects.actions.remove_member")' style="cursor:pointer">close</i>
						</a>
				      </div>
				      }
				    </li>
						}
					}
				</ul>
				} else {
				<strong><i>@message("projects.messages.no_members")</i></strong>
				}
	    	</div>
	    	@if(model.getOwner().getId() == loggeduser.getProfile().getId() && ideawg == null) {
	    	<div class="row">
				<form action='@url("/")user/project/@model.getProject().getId()/members/add' method="POST" class="form">
					<div class="row">
						<fieldset>
							<legend>&nbsp;@message("projects.details.members.add")&nbsp;</legend>	
							<div>		
								<input id="addmembers" name="addmembersId" type="hidden" value="" class="input-xxlarge" style="width:100%">
							</div>	
							<br>
							<div>					
								<button id="addMemberButton" type="submit" class="btn btn-primary">
									<i class="icon-plus"></i> @message("general.actions.add")
								</button>
							</div>
						</fieldset>
					</div>
				</form>
	    	</div>
	    	}
		</div>
	</div>
</div>

@section("footerscript"){ 

<script>

	$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal-trigger').leanModal();
		
		$('.tooltipped').tooltip({delay: 50});
		
		$('#addMemberButton').prop('disabled', true);
		
		$('#addmembers').on('change', function() {
			
			var currValue = $('#addmembers').val();
			
			$('#addMemberButton').prop('disabled', currValue == "");
		});
		
		$.ajax({
			type: "POST",
			dataType : 'json',
			url: '@url("/")user/project/@model.getProject().getId()/delete/check',
			success :function(response)
			{				
				if(response.innerProcesses.length != 0 || response.mockups.length != 0)
				{				
					$("#editNameIcon").hide();
				}
			}
		});
		
	});

	//The url we will send our get request to
	var attendeeUrl = '@url("/")user/project/@model.getProject().getId()/workgroupprofiles/search.json';
	var pageSize = 20;

	$(function(){	
		function format(item) { return item.name; };
		function formatResult(item) {
			return '<div ><strong>'+item.name+'</strong></div><div ><small>'+item.email+'<small></div>';
		};	
		$('#addmembers').select2({
			width:'resolve',		
			multiple:true,
		    placeholder: '@message("projects.details.members.placeholder")',
		    //Does the user have to enter any data before sending the ajax request
		    minimumInputLength: 0,            
		    allowClear: true,
		    ajax: {
		        //How long the user has to pause their typing before sending the next request
		        quietMillis: 150,
		        //The url of the json service
		        url: attendeeUrl,
		        dataType: 'json',
		        //Our search term and what page we are on
		        data: function (term, page) {
		            return {
		                pagesize: pageSize,
		                page: page,
		                searchterm: term
		            };
		        },
		        results: function (data, page) {
		            //Used to determine whether or not there are more results available,
		            //and if requests for more data should be sent in the infinite scrolling
		            var more = (page * pageSize) < data.total;
		            return { results: data.results, more: more };
		        }
		    },
		    formatSelection: format,
            formatResult: formatResult
		});
	});
	
	function deleteProject(name, id)
	{
		$.ajax({
			type: "POST",
			dataType : 'json',
			url: '@url("/")user/project/' + id + '/delete/check',
			success :function(response)
			{
				console.log(response);
				
				$(".projectName").html(name);
				
				if(response.innerProcesses.length == 0 && response.mockups.length == 0)
				{				
					$("#modal1").find("form").attr("action", '@url("/")user/project/' + id + '/delete/execute');
					
					$("#modal1").openModal();
				}
				else
				{
					var content = "";
					
					for(var i = 0; i < response.innerProcesses.length; i++)
					{
						content += '<li><a target="_blank" href="@url("/")user/project/' + response.innerProcesses[i].id + '/details">' + response.innerProcesses[i].name + '</a> (Iterator Inner Process)</li>';	
					}
					
					for(var i = 0; i < response.mockups.length; i++)
					{
						content += '<li><a target="_blank" href="@url("/")user/gui/' + response.mockups[i].id + '/details">' + response.mockups[i].name + '</a> (Mockup data source)</li>';	
					}
					
					$("#depList").html(content);
					
					$("#modal2").openModal();
				}
			}
		});
	}
	
	function deleteComment(id)
	{
		$("#modal3").find("form").attr("action", '@url("/")user/project/@model.getProject().getId()/comments/' + id + '/delete');
		
		$("#modal3").openModal();
	}
	
	function removeMember(name, id)
	{
		$(".memberName").html(name);
		
		$("#modal4").find("form").attr("action", '@url("/")user/project/@model.getProject().getId()/members/' + id + '/remove');
		
		$("#modal4").openModal();
	}
	
	function editInfo(info)
	{
		var infoName = '@message("projects.general.name")';
		var infoDescription = '@message("projects.general.description")';
		
		$('.infoToBeEdited').html(info == 'name' ? infoName : infoDescription);
		
		$('#edit_name').hide();
		$('#edit_description').hide();
		
		$('#edit_' + info).show();
		
		$("#modalEditInfo").openModal();
	}
	
	function editInfoExecute()
	{
		$("#editInfoForm").submit();
	}
	
	function showPublishConfirm(id)
	{
		toBePublished = id;
		$('#modal5').openModal();
	}

	function publishProject(id)
	{
		if(id != -1)
			toBePublished = id;
		
		$.ajax({
			type: "GET",
			dataType : 'json',
			url: '@url("/")user/project/' + toBePublished + '/publish',
			success :function(response)
			{
				console.log(response);
				
				if(response.success)
				{
					var win = window.open(response.url, '_blank');
					//win.focus();
				}
				else
				{
					var toastContent = $('<span class="toastError">@message("projects.messages.publish_error")</span>');
					Materialize.toast(toastContent, 2000);
					$(".toastError").parent().addClass("toast-error");
				}
			}
		});
	}
</script> 
}