@args Project project, Workgroup workgroup , AccountDTO loggeduser, boolean loggedOwner
@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Edit project")

@section("extraheader"){
	<link type="text/css" rel="stylesheet" href='@url("/resources/js/bootstrap/css/bootstrap-tagsinput.css")' />
	<script type="text/javascript" src='@url("/resources/js/bootstrap/js/bootstrap-tagsinput.min.js")'></script>
}

<ul class="breadcrumb">
  <li><a href='@url("/")user/project/list'>@message("project.management.my")</a> <span class="divider">/</span></li>  
  <li><a href='@url("/")user/project/@project.getId()/details'>@project.getName()</a> <span class="divider">/</span></li>
  <li class="active">@message("project.management.edit")</li>
</ul>

<div class="row-fluid">
	<div class="span3">
		@invoke("shared.projectmenu", project.getId(), "project_edit", loggedOwner ) 
	</div>
	<div class="span9">		
		<h4>@message("project.management.edit")</h4>
		<form action='@url("/user/project/edit/execute")' method="POST">
		
			<input id="id" name="id" type="hidden" value="@project.getId()" />
			<input id="workgroup.id" name="workgroup.id" type="hidden" value="@project.getWorkgroup().getId()" />
			<input id="createdAt" name="createdAt" type="hidden" value="@project.getCreatedAt()" />
		
			<div>
				<label for="name">@message("project.name") (*):</label>
				<input id="name" name="name" class="input-xxlarge" type="text" value="@project.getName()" required />
			</div>
			<div>
				<label >@message("project.workgroup"):</label>
				<input type="text" readonly class="input-xxlarge" value="@project.getWorkgroup().getName()">
			</div>	
			<div>
				<label for="description"> @message("project.description"):</label>
				<textarea id="description" name="description" class="input-xxlarge" maxlength="255" rows="3">@project.getDescription()</textarea>
			</div>
			<div>
				<label for="tags"> @message("project.tags"):</label>
				<input id="tags" name="tags" data-role="tagsinput" value="@project.getTags()"/>
			</div>						
			<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
		</form>
	</div>
</div>
