@args SocialGadgetDTO model;
@args AccountDTO loggeduser;
@extends("shared.userlayout", loggeduser: loggeduser)

<h4>@message("project.management.exportgadget")</h4>

<form action='@url("/user/project/gadget/export/execute")' method="POST" enctype="multipart/form-data">
	
	<div id="#accordion1" class="accordion" style="width: 65%">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseZero">
					@message("socialgadget.modulePrefs")
				</a>
			</div>
			<div id="collapseZero" class="accordion-body collapse in">
				<div class="accordion-inner">
					<div>
						<label for="baseUrl">@message("socialgadget.baseUrl")</label>
						<input type="text" name="baseUrl" value="" class="input-xxlarge" required />
					</div>
					<div>
						<label for="modulePrefs.title">@message("socialgadget.modulePrefs.title")</label>
						<input type="text" name="modulePrefs.title" value="" class="input-xxlarge" required />
					</div>
					<div>
						<label for="modulePrefs.title_url">@message("socialgadget.modulePrefs.title_url")</label>
						<input type="text" name="modulePrefs.title_url" value="" class="input-xxlarge" />
					</div>
					<div>
						<label for="modulePrefs.author">@message("socialgadget.modulePrefs.author")</label>
						<input type="text" name="modulePrefs.author" value="" class="input-xxlarge" />
					</div>
					<div>
						<label for="modulePrefs.author_email">@message("socialgadget.modulePrefs.author_email")</label>
						<input type="text" name="modulePrefs.author_email" value="" class="input-xxlarge" />
					</div>
					<div>
						<label for="modulePrefs.description">@message("socialgadget.modulePrefs.description")</label>
						<textarea name="modulePrefs.description" class="input-xxlarge" required></textarea>
					</div>
				</div>
			</div>
		</div>
		<!--
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
					@message("socialgadget.modulePrefs.oauth")
				</a>
			</div>
			<div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner">
					<div>
						<label for="service.requestToken" class="control-label">@message("socialgadget.modulePrefs.oauth.request")</label>
						<table class="table">
							<tr>
								<td><input type="text" name="service.requestToken.url" value="" class="input-xlarge" /></td>
								<td style="width:30%">
									<select name="service.requestToken.method">
										<option value="get">GET</option>
										<option value="post">POST</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<label for="service.accessToken" class="control-label">@message("socialgadget.modulePrefs.oauth.access")</label>
						<table class="table">
							<tr>
								<td><input type="text" name="service.accessToken.url" value="" class="input-xlarge" /></td>
								<td style="width:30%">
									<select name="service.accessToken.method">
										<option value="get">GET</option>
										<option value="post">POST</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
					<div>
						<label for="service.authorization" class="control-label">@message("socialgadget.modulePrefs.oauth.authorization")</label>
						<table class="table">
							<tr>
								<td><input type="text" name="service.authorization.url" value="" class="input-xlarge" /></td>
								<td style="width:30%">
									<select name="service.authorization.method">
										<option value="get">GET</option>
										<option value="post">POST</option>
									</select>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		-->
		
		<!-- 
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
					@message("socialgadget.modulePrefs.content")
				</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="control-group">
						<label for="embeddedSources" class="control-label">Content: </label>
						<div id="embeddedSources" class="controls">
							<textarea style="width:90%" name="embeddedSources[]"></textarea>
						</div>
					</div>
					<div>
						<label class="control-label" for="externalSources">External resources: </label>
						<a id="addExternalSource" href="#" class="button">Add</a>
						<table id="externalSources" class="table table-striped">
							<tr>
								<td>
									<input type="file" name="externalSources[]" value="" class="input-xlarge" />
								</td>
								<td style="width: 30%">
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		 -->
	</div>
	<div>
		<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
	</div>
</form>

<script type="text/javascript">
	$(document).ready(function() {
		
		externalSource = '<tr>' + 
							'<td>' + 
								'<input type="file" name="externalSources[]" value="" class="input-xlarge" />' + 
							'</td>' + 
							'<td style="width: 30%">' + 
								'<a href="#" class="removeExternalSource button">Remove</a>' + 
							'</td>' + 
						 '</tr>';
		
		$('#addExternalSource').on('click', function(){
			
			console.debug("addExternalSource");
			
			$("#externalSources").append(externalSource);
		});
		
		$('body').on('click', '.removeExternalSource', function () {
			
			console.debug("removeExternalSource");
			
			$(this).parent().parent().remove();
		});
	});
</script>
