@args List<Workgroup> workgroupList 
@args AccountDTO loggeduser
@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Import project")

<div class="row-fluid">
	<div class="span3">@invoke("shared.usermenu", "project_import")</div>
	<div class="span9">

		<h4>@message("project.management.import")</h4>
		
		<form action='@url("/user/project/import/execute")' method="POST" enctype="multipart/form-data">
			<div>
				<label for="name">@message("project.name"):</label>
				<input id="name" name="name" class="input-xxlarge" type="text" required="required" />
			</div>
			<div>
				<label for="workgroupId">@message("project.workgroup"):</label>
				<select id="workgroupId" name="workgroupId" class="input-xxlarge" required>
					<option></option> 
					@for(workgroupList){
						<option value="@_.getId()">@_.getName()</option>
					}
				</select>
			</div>
			<div>
				<label for="description"> @message("project.description"): </label>
				<textarea id="description" name="description" class="input-xxlarge"	maxlength="255" rows="3"></textarea>
			</div>
			<div class="control-group">
				<label class="control-label" for="xmlFile">File: </label>
				<div class="controls">
					<input type="file" name="xmlFile" class="input-xxlarge" required />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
				</div>
			</div>
		</form>
	</div>
</div>