@args Integer projectId
@args List<InputShapeDTO> inputShape

<form class="col s12" id="invokeworkflowparams" method="POST" action='@url("/")user/gui/@projectId/invokeworkflow'>
	<table class="">
		<thead>
			<tr><th>@message("mockup.modals.invoke_datasources.parameter")</th>
			<th>@message("mockup.modals.invoke_datasources.value")</th></tr>
		</thead>
		<tbody>
			@for(InputShapeDTO shape: inputShape) {
			<tr>
				@if(!shape.getUserData().isIsConstant()) {
				<td><strong>@shape.getUserData().getLabel()</strong></td>
				<td>
					<!-- 
					@if("text".equalsIgnoreCase(shape.getUserData().getInputType()) || "string".equalsIgnoreCase(shape.getUserData().getInputType())) {
						<input type="text" name="@shape.getId()" value="@shape.getUserData().getDefaultValue()" >
					}
					@if("combo".equalsIgnoreCase(shape.getUserData().getInputType())) {
						<select name='@shape.getId()' id='@shape.getId()' class='span2'>
						@for(InputField infield : shape.getUserData().getCombooptions()) {							
							<option value='@infield.getValue()' 
								@if(infield.getValue()==shape.getUserData().getDefaultValue()){ selected }>@infield.getText()</option> 							
						}
						</select>
					}	
					-->
					<input type="text" name="@shape.getId()" value="@shape.getUserData().getDefaultValue()" >
					
				</td>
				}
			</tr>
			}
		</tbody>
	</table>
</form>