@args List<ProjectDTO> projectList
@args AccountDTO loggeduser 
@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Projects")

@section("extraheader"){
<script type="text/javascript" src='@url("/")resources/js/libs/list.min.js'></script>

<script>
$(document).ready(function (){
	var options = {
	  valueNames: [{ attr: 'data-title', name: 'project_title' }, { attr: 'data-time', name: 'project_updated' }]
	};

	projectList = new List('projects', options);
	
	// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	$('.modal-trigger').leanModal();
	
	$('.tooltipped').tooltip({delay: 50});
	
	$("#projectFilter").on('input', function() {
		setTimeout(function(){
			if(projectList.visibleItems.length == 0)
				$("#emptyList").show();
			else
				$("#emptyList").hide();
		}, 300);
	});
});

function toggleSort(elem)
{
	if($(elem).find(".sortUp").is(":visible"))
	{
		$(elem).find(".sortUp").hide();
		$(elem).find(".sortDown").show();
	}
	else
	{
		$(elem).find(".sortDown").hide();
		$(elem).find(".sortUp").show();
	}
}
</script>
}

<h4 class="section-title">@message("home.mashup.title")</h4>

<div id="projects">
<div class="row">		
	<form class="col s12" action='#'>
		<div class="row">
			<div class="input-field col l8 s12">
		    	<i class="material-icons prefix">search</i>
				<input name="criteria" id="projectFilter" placeholder='@message("projects.list.filter.placeholder")' type="text" class="search" value="" />
			</div>
		</div>
	</form>
</div>
<div class="row center" style="position: relative">	
	<a class="btn btn-small" href='@url("/user/project/add")'>
	  <i class="material-icons left">add</i> @message("projects.list.new")
	</a>
	
	<!-- FAB button -->
	<span class="fixed-action-btn horizontal" style="bottom: -10px !important">
	  <a class="btn-floating btn-large fab-fixed-button">
	    <i class="large material-icons">sort</i>
	  </a>
	  <ul>
	    <li>
	    	<a class="btn-floating tooltipped sort" data-position="top" data-delay="50" data-tooltip='@message("projects.list.sort_by_name")'
	    data-sort="project_title" onclick="javascript:toggleSort(this)"><i class="material-icons">sort_by_alpha</i></a>
	    </li>
	    <li>
	    	<a class="btn-floating tooltipped sort" data-position="top" data-delay="50" data-tooltip='@message("projects.list.sort_by_update")'
	    data-sort="project_updated" onclick="javascript:toggleSort(this)"><i class="material-icons">update</i></a>
	    </li>
	  </ul>
	</span>
</div>

<ul class="collection list">
@for(project: projectList ) {
<li class="collection-item avatar">
  <i class="material-icons circle">folder</i>
  <span class="title"><a href='@url("/")user/project/@project.getProject().getId()/details' class="project_title" data-title="@project.getProject().getName()">@project.getProject().getName()</a></span>
  <p>@project.getProject().getWorkgroup().getName() <br>
     @message("projects.list.updated_at") <span class="project_updated" data-time="@project.getProject().getUpdatedAt()">@project.getProject().getUpdatedAt().format("dd/MM/yyyy HH:mm:ss")</span>
  </p>
  <div href="#!" class="secondary-content">
  	<a class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip='@message("projects.actions.edit")' href='@url("/")user/project/@project.getProject().getId()/editor'>
  		<i class="material-icons edit-icon">create</i>
  	</a>
  	@if(loggeduser.getProfile().getId() == project.getOwner().getId())
  	{
  	<a class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip='@message("projects.actions.publish")' 
  	@if(project.getProject().getMkpId() == 0) { onclick="javascript:publishProject(@project.getProject().getId())" }
  	@if(project.getProject().getMkpId() != 0) { onclick="javascript:showPublishConfirm(@project.getProject().getId())" }
  	style="cursor:pointer">
  		<i class="material-icons publish-icon">publish</i>
  	</a>
  	<a class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip='@message("projects.actions.delete")'
    onclick="javascript:deleteProject('@project.getProject().getName()', @project.getProject().getId())">
    	<i class="material-icons delete-icon" style="cursor: pointer">delete</i>
    </a>
    }
  </div>
</li>
}
</ul>
<div class="row" id="emptyList" style="display:none">
	<h5 style="text-align:center">@message("projects.messages.no_results")</h5>
</div>
</div>

<!-- Modal Delete Project Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.delete") <span class="projectName"></span></h4>
    <p>@message("projects.messages.delete_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='' method="POST">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Project Dependencies -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>@message("projects.messages.cant_delete") <span class="projectName"></span></h4>
    <p>@message("projects.messages.cant_delete.reason")</p>
    <ul id="depList">
    </ul>
  </div>
  <div class="modal-footer">
  	<button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.ok")</button>
  </div>
</div>

<!-- Modal Publish Project Confirmation -->
<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>@message("projects.actions.publish")</h4>
    <p>@message("projects.messages.publish_overwrite.alert")<br>@message("projects.messages.publish_overwrite.confirm")</p>
  </div>
  <div class="modal-footer">
  	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:publishProject(-1)">@message("general.actions.confirm")</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

@section("footerscript"){ 
<script>

function deleteProject(name, id)
{
	$.ajax({
		type: "POST",
		dataType : 'json',
		url: '@url("/")user/project/' + id + '/delete/check',
		success :function(response)
		{			
			$(".projectName").html(name);
			
			if(response.innerProcesses.length == 0 && response.mockups.length == 0)
			{				
				$("#modal1").find("form").attr("action", '@url("/")user/project/' + id + '/delete/execute');
				
				$("#modal1").openModal();
			}
			else
			{
				var content = "";
				
				for(var i = 0; i < response.innerProcesses.length; i++)
				{
					content += '<li><a target="_blank" href="@url("/")user/project/' + response.innerProcesses[i].id + '/details">' + response.innerProcesses[i].name + '</a> (Iterator Inner Process)</li>';	
				}
				
				for(var i = 0; i < response.mockups.length; i++)
				{
					content += '<li><a target="_blank" href="@url("/")user/gui/' + response.mockups[i].id + '/details">' + response.mockups[i].name + '</a> (Mockup data source)</li>';	
				}
				
				$("#depList").html(content);
				
				$("#modal2").openModal();
			}
		}
	});
}

function showPublishConfirm(id)
{
	toBePublished = id;
	$('#modal3').openModal();
}

function publishProject(id)
{
	if(id != -1)
		toBePublished = id;
	
	$.ajax({
		type: "GET",
		dataType : 'json',
		url: '@url("/")user/project/' + toBePublished + '/publish',
		success :function(response)
		{
			console.log(response);
			
			if(response.success)
			{
				var win = window.open(response.url, '_blank');
				//win.focus();
			}
			else
			{
				var toastContent = $('<span class="toastError">@message("projects.messages.publish_error")</span>');
				Materialize.toast(toastContent, 2000);
				$(".toastError").parent().addClass("toast-error");
			}
		}
	});
}
</script>
}