<!-- Modal -->
<div id="myModal" style="z-index: 2000" class="modal modal-wide hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">Modal header</h3>
	</div>
	<div class="modal-body">
		<div id="filterSection"></div>
		<div id="operationListSection"></div>			
	</div>
	<div class="modal-footer"></div>
</div>

<!-- ODS Modals -->
<div id="odResourcesModal" style="z-index: 2000" class="modal modal-wide hide fade" tabindex="-1" role="dialog"
	aria-labelledby="odResourcesModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="odResourcesModalLabel">Modal header</h3>
	</div>
	<div class="modal-body">
		<div id="odResourcesModalFilterSection"></div>
		<div id="odResourcesModalResourceListSection"></div>			
	</div>
	<div class="modal-footer"></div>
</div>

<!-- Modal -->
<div id="requiredParamsModal" style="z-index: 2000" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="requiredParamsModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>@message("mashup.modals.invoke_workflow.description")</h3>
	</div>
	<div class="modal-body"></div>
	<div class="modal-footer"></div>
</div>

<!-- Connect Parameters Modal -->
<div id="connectParamsModal" style="z-index: 2000" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mashup.modals.connect_parameters.title")</h4>
		<hr>
		<p class="row">@message("mashup.modals.connect_parameters.description")</p>
		<div class="row">
			<div class="col s6">
				<h4>@message("mashup.modals.connect_parameters.source")</h4>
				<div id="sourceinfo"></div>
				<div id='treecontainer'></div>
			</div>
			<div class="col s6">
				<h4>@message("mashup.modals.connect_parameters.target")</h4>
				<div id="targetinfo"></div>
				<div id='targetparamscontainer'></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action waves-effect waves-green btn-flat" id="connectParamsOk">@message("general.actions.ok")</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="connectParamsCancel">@message("general.actions.cancel")</a>
	</div>
</div>

<!-- Preview Modal -->
<div id="previewModal" style="z-index: 2000" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mashup.modals.invoke_workflow.results")</h4>
		<hr>
		<p class="row"></p>
		<div class="row">
			<div class="previewinfo"></div>
			<div class='previewtreecontainer'></div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Invoke Workflow Modal -->
<div id="invokeWorkflow" style="z-index: 2000" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mashup.modals.invoke_workflow.title")</h4>
		<hr>
		<p class="row">@message("mashup.modals.invoke_workflow.description")</p>
		<div id="invokeWorkflowBody" class="row">

		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="invokeWorkflowOk">@message("general.actions.ok")</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="invokeWorkflowCancel">@message("general.actions.cancel")</a>
	</div>
</div>

<!-- Input settings Modal -->
<div id="inputSettingsModal" style="z-index: 2000" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mashup.modals.input_settings.title")</h4>
		<hr>
		<p class="row"></p>
		<div id="inputSettingsBody" class="row">

		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="inputSettingsOk">@message("general.actions.save")</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="inputSettingsCancel">@message("general.actions.cancel")</a>
	</div>
</div>

<!-- Service Specs Modal -->
<div id="serviceSpecsModal" style="z-index: 2000" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4 id="serviceSpecsTitle"></h4>
		<hr>
		<p class="row"></p>
		<div id="serviceSpecsContent" class="row">
			
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Operator Docs Modal -->
<div id="operatorDocsModal" style="z-index: 2000" class="modal modal-fixed-footer">
	<div class="modal-content">
		<div id="operatorDocsModalContent"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Notes Modal -->
<div id="notesModal" style="z-index: 2000" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mashup.modals.notes.title")</h4>
		<hr>
		<p class="row"></p>
		<div class="row">
			<form class="col s12">
		      <div class="row">
		        <div class="input-field col s12">
		          <textarea id="notesModalTextarea" class="materialize-textarea" rows="5"></textarea>
		          <label for="notesModalTextarea">@message("mashup.modals.notes.label")</label>
		        </div>
		      </div>
		    </form>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="notesOk">@message("general.actions.ok")</a>
	</div>
</div>

