@args Project project, String htmlresult, String cssresult, String jsresult, List<GadgetFileResource> gadgetresources 
@extends("shared.mainlayout", project.getName())

@section("extraheader"){

<link type="text/css" rel="stylesheet" href='@url("/resources/js/libs/wJSNova/wJSNova.1.0.css")' />

<style>
body,html {
	margin: 0px;
	overflow: hidden;
}
</style>

<script type="text/javascript" src='@url("/resources/js/libs/wJSNova/wJSNova.1.0.js")'></script> 
<script	type="text/javascript" src='@url("/resources/js/libs/vkbeautify.0.99.00.beta.js")'></script> 
<script	type="text/javascript" src='@url("/resources/js/libs/ace/ace.js")'></script> 
<script type="text/javascript" src='@url("/resources/js/draw2d/lib/Class.js")'></script> 
<script type="text/javascript" src='@url("/resources/js/vme2App/Preview.js")'></script>



<script type="text/javascript">
	var preview = null;
	$(function() {
		preview = new Preview('@url("")', '@project.getId()');
	});
</script> 

}

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" class="active" href='@url("/")'>Visual Composer</a>
			<ul class="nav">
				<li class="divider-vertical"></li>
				<li>
					<div class="btn-toolbar" style="margin: 0">



						<button class="btn btn-primary saveResources" title='@message("toolbar.save")'>
							<i class="icon-save"></i> @message("toolbar.save")
						</button>
						
						<button class="btn btn-success reloadView" title='@message("toolbar.reload")'>
							<i class="icon-play"></i> @message("toolbar.reload")
						</button>
						
						<button class="btn refreshView" title='@message("toolbar.refresh")'>
							<i class="icon-refresh"></i> @message("toolbar.refresh")
						</button>

						

						<button class="btn uploadResources" title='@message("toolbar.upload")'>
							<i class="icon-upload"></i> @message("toolbar.extresources")
						</button>

						<a href="@url("/")user/project/@project.getId()/editor" class="btn btn-info mashupButton">Mashup</a>
					</div>
				</li>
			</ul>

			<div class="nav-collapse collapse">
				<ul class="nav pull-right">

					<li class="divider-vertical"></li>
					<li>
						<p class="navbar-text ">
							Project: <span id="loadedFileName">@project.getName()</span>
						</p>
					</li>
					<li class="divider-vertical"></li>

					<li><a href='@url("/")user/project/@project.getId()/details'>Close</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="uploadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4>Resource file upload</h4>
	</div>
	<div class="modal-body">

		<table class="table table-striped" id="resourceTable">
			<thead>
				<tr>
					<th>@message("gadgetresource.filename")</th>
					<th>@message("gadgetresource.contenttype")</th>
					<th style="text-align: center;">@message("label.action")</th>
				</tr>
			</thead>
			<tbody>
				@if(gadgetresources){ 
					@for(gadgetresources) {
					<tr>
						<td>@_.getFilename()</td>
						<td>@_.getContentType()</td>
						<td><a href='#' class="btn btn-primary" onclick="preview.removeResource(this, @_.getId())"><i
								class="icon-trash"></i> @message("label.remove")</a></td>
					</tr>
					} 
				}
			</tbody>
		</table>
		<form action='@url("/")user/project/@project.getId()/addresource/file' method="POST" enctype="multipart/form-data"
			id="uploadResourceForm" onsubmit="preview.addResource(event)">
			<div class="control-group">
				<label class="control-label" for="wadlFile">File: </label>
				<div class="controls">
					<input type="file" name="file" class="input-xxlarge" required />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">@message("label.close")</button>
	</div>
</div>

<!-- Modal -->
<div id="invokeWorkflow" style="z-index: 2000" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close btn-cancel" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Insert parameters to invoke workflow.</h3>
	</div>
	<div class="modal-body"></div>
	<div class="modal-footer">
		<button class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary">OK</button>
	</div>
</div>

<pre id="htmlContent" style="display: none">@htmlresult</pre> 
<pre id="cssContent" style="display: none">@cssresult</pre>
<pre id="jsContent" style="display: none">@jsresult</pre>
<div id="JSNova" style="width: 100%; height: 0px;"></div>