@args ServiceCatalog service, List<AuthProviderType> oauthTypes; 
@extends("shared.adminlayout", "Admin - Web service details")
@include("shared.inlinedefinitions")

@section("extraheader"){
<script type="text/javascript">

$(function(){
	var checkRequired = function(){
		$(".oauthreq").prop("required", $("#oauthType_type").val() == '2.0');		
		$(".oauth1required").prop("required", $("#oauthType_type").val() == '1.0');
		$(".basicrequired").prop("required", $("#oauthType_type").val() == 'BASIC');
		$(".weliverequired").prop("required", $("#oauthType_type").val() == 'WELIVEAUTH');
		
		$(".fields").hide();
		switch($("#oauthType_type").val()){
			case "1.0":
			case "2.0":
				$(".oauth_fields").show();
			break;
			case "BASIC": 
				$(".basic_fields").show();
				break;
			case "WELIVEAUTH": 
				$(".welive_fields").show();
				break;
		}
		
	}
	
	checkRequired();
	
	$("#oauthType_type").change(function(){
		checkRequired();
	});		
});

</script>
}

<ul class="breadcrumb">
	<li><a href="@url("/")admin/servicecatalog/list" >@message("service.management.list.public")</a> <span
		class="divider">/</span></li>
	<li class="active">@service.getName()</li>
</ul>

<div class="row-fluid">
	<div class="span3">@invoke("shared.adminservicecatalogmenu", service, "service_oauth")</div>
	<div class="span9">

		<h4>@service.getName()</h4>
		<form class="form-horizontal" action='@url("/")admin/servicecatalog/@service.getId()/addoauth/execute' method="POST">
			
<!-- 				<input id="id" name="id" type="hidden" value="@service.getId()" />  -->
<!-- 				<input id="createdAt" name="createdAt" type="hidden" value="@service.getCreatedAt()" /> -->

				
				<div class="control-group">
					<label class="control-label" for="oauthType_type">@message("service.management.auth.authtype"):</label>
					<div class="controls">
						<select id="oauthType_type" name="authType.type" required>
						@for(type: oauthTypes){
							<option 
							@if (service.getAuthType() !=null && service.getAuthType().getType().equals(type.getType())) { 
								selected="selected" 
							}
							value="@type.getType()">@type.getDescription()</option>							
						}
						</select>
					</div>
				</div>
				
				<fieldset class="oauth_fields fields">
					<legend>@message("service.management.auth.oauth_parameters")</legend>
				
				
				<div class="control-group">
					<label class="control-label" for="apiKey">@message("service.management.oauth.apikey"):</label>
					<div class="controls">
						<input type="text" placeholder="api key" id="apiKey" name="apiKey" value="@service.getApiKey()" 
						class="input-xxlarge oauthreq" >						
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="apiSecret">@message("service.management.oauth.apisecret"):</label>
					<div class="controls">
						<input type="text" placeholder="api secret" id="apiSecret" name="apiSecret" value="@service.getApiSecret()"
							class="input-xxlarge oauthreq " >
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="accessTokenUrl">@message("service.management.oauth.accesstokenurl"):</label>
					<div class="controls">
						<input type="url" placeholder="access token url" id="accessTokenUrl" name="accessTokenUrl"
							value="@service.getAccessTokenUrl()" class="input-xxlarge oauthreq" >
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="authorizeUrl">@message("service.management.oauth.authorizeurl"):</label>
					<div class="controls">
						<input type="url" placeholder="authorize url" id="authorizeUrl" name="authorizeUrl"
							value="@service.getAuthorizeUrl()" class="input-xxlarge oauthreq" >
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="requestTokenUrl">@message("service.management.oauth.requesttokenurl"):</label>
					<div class="controls">
						<input type="url" placeholder="request token url" id="requestTokenUrl" name="requestTokenUrl"
							value="@service.getRequestTokenUrl()" class="input-xxlarge oauth1required">
					</div>
				</div>
				</fieldset>
				
				<!-- IVAN: added for welive -->
				<fieldset class="welive_fields fields">
				<div class="control-group">
					<label class="control-label" for="scope">@message("service.management.oauth.scope"):</label>
					<div class="controls">
						<input type="text" placeholder="List of comma separated scopes" id="scope" name="scope"
							value="@service.getScope()" class="input-xxlarge weliverequired">
					</div>
				</div>
				</fieldset>				
				
				<fieldset class="basic_fields fields">
					<legend>@message("service.management.auth.basic_parameters")</legend>
				
				<div class="control-group">
					<label class="control-label" for="username">@message("service.management.auth.username"):</label>
					<div class="controls">
						<input type="text" placeholder="username" name="username"
							value="@service.getUsername()" class="input-xxlarge basicrequired">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">@message("service.management.auth.password"):</label>
					<div class="controls">
						<input type="password" placeholder="password" name="password"
							value="@service.getPassword()" class="input-xxlarge basicrequired">
					</div>
				</div>
				</fieldset>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">@message("label.save")</button>
					<input type="reset" class="btn ">
				</div>
				
			
		</form>


	</div>
</div>