@args ServiceCatalog service;
@extends("shared.adminlayout")

<h4>@message("service.management.add")</h4>
<form action='@url("/admin/servicecatalog/add/rest/execute")' method="POST">
	<div>
		<label class="text-error">@message("service.name")(*)</label>
		<input id="name" name="name" class="input-xxlarge" type="text" value="@service.getName()" required />
	</div>
	<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
</form>
