@args AddWsdlServiceViewModel model; 
@extends("shared.adminlayout", "Admin - Import Wsdl")

<div class="row-fluid">
	<div class="span3">@invoke("shared.adminmenu", "service_wsdl")</div>
	<div class="span9">

		<h4>@message("service.management.addwsdl")</h4>

		<form action='@url("/admin/servicecatalog/add/wsdl/url")' method="POST">
			<fieldset>
				<legend>@message("service.management.import.fromurl") </legend>
				<div>
					<label for="wsdlUrl">URL: </label>
					<input type="url" name="wsdlUrl" value="@model.getWsdlUrl()" class="input-xxlarge" required />
				</div>

				<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
			</fieldset>
		</form>

		<form action='@url("/admin/servicecatalog/add/wsdl/file")' method="POST" enctype="multipart/form-data">
			<fieldset>
				<legend>@message("service.management.import.fromfile") </legend>
				<div class="control-group">
					<label class="control-label" for="wsdlFile">File: </label>
					<div class="controls">
						<input type="file" name="wsdlFile" value="@model.getWsdlFile()" class="input-xxlarge" required />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>