@args AddWadlViewModel model; 
@extends("shared.adminlayout", "Admin - Add Wadl")


<div class="row-fluid">
	<div class="span3">@invoke("shared.adminmenu", "service_wadl")</div>
	<div class="span9">

		<h4>@message("service.management.addwadl")</h4>

		<form action='@url("/admin/servicecatalog/add/wadl/url")' method="POST">
			<fieldset>
				<legend>@message("service.management.import.fromurl") </legend>
				<div>
					<label for="serviceName">@message("service.management.rest.name"):</label>
					<input type="text" name="serviceName" value="" class="input-xxlarge" required />
				</div>
				<div>
					<label for="wadlUrl">URL: </label>
					<input type="url" name="wadlUrl" value="@model.getWadlUrl()" class="input-xxlarge" required />
				</div>

				<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
			</fieldset>
		</form>

		<form action='@url("/admin/servicecatalog/add/wadl/file")' method="POST" enctype="multipart/form-data">
			<fieldset>
				<legend>@message("service.management.import.fromfile") </legend>
				<div>
					<label for="serviceName">@message("service.management.rest.name"):</label>
					<input type="text" name="serviceName" value="" class="input-xxlarge" required />
				</div>
				<div class="control-group">
					<label class="control-label" for="wadlFile">File: </label>
					<div class="controls">
						<input type="file" name="wadlFile" value="@model.getWadlFile()" class="input-xxlarge" required />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
