@args ServiceCatalog service , List<SoapOperation> soapOperationList, List<RestOperation> serviceResourceList 
@extends("shared.adminlayout", "Admin - Web service details") 
@include("shared.inlinedefinitions")


<ul class="breadcrumb">
	<li>
		<a href="@url("/")admin/servicecatalog/list">@message("service.management.list.public")</a>
		<span class="divider">/</span>
	</li>
	<li class="active">@service.getName()</li>
</ul>

<div class="row-fluid">
	<div class="span3">
	@invoke("shared.adminservicecatalogmenu", service, "service_details")	
	</div>
	<div class="span9">

		<h4>@message("service.management.detail")</h4>


		<div class="row-fluid">
			<div class="span6">
				<table class="table">
					<tr>
						<td>
							<strong>@message("service.name")</strong>
						</td>
						<td>@service.getName()</td>
					</tr>
					<tr>
						<td>
							<strong>@message("service.type")</strong>

						</td>
						<td>@decodeServiceType(service.getType())</td>
					</tr>
					<tr>
						<td>
							<strong>@message("service.visibility")</strong>
						</td>
						<td>@decodeServiceVisibility(service.getVisibility())</td>
					</tr>
				</table>
			</div>
			@if(service.getType()==2){
			<div class="span6">
				<table class="table">
					<tr>
						<td>
							<strong>@message("service.management.auth.authtype")</strong>
						</td>
						<td>@if (service.getAuthType() !=null){
							 @service.getAuthType().getDescription()
							 }
							 else {
								@message("label.auth.none")
							}	
						</td>
					</tr>
										
				</table>
			</div>
			}
			
		</div>

		<h4>@message("service.management.operations")</h4>
		@if(service.getType()==1){
		<table class="table table-striped">
			<thead>
			<tr>
				<td>
					<strong>@message("soapWs.name")</strong>
				</td>
				<td>
					<strong>@message("soapWs.binding")</strong>
				</td>
				
			</tr>
			</thead>
			<tbody>


			@for (SoapOperation soapop: soapOperationList){
			<tr>
				<td>@soapop.getOperationName()</td>
				<td>@soapop.getBindingName()</td>
				
			</tr>

			}
			</tbody>
		</table>

		} else{

		<table class="table table-striped">
			<thead>
			<tr>
				<td>
					<strong>@message("restresource.tag")</strong>
				</td>
				<td>
					<strong>@message("restresource.name")</strong>
				</td>
				<td>
					<strong>@message("restresource.auth")</strong>
				</td>
				<td>
					<strong>@message("restresource.doc")</strong>
				</td>
				
				
				
			</tr>
			</thead>
			<tbody>

			@for (serviceResourceList){
			<tr>
				<td>@_.getTag()</td>
				<td>@_.getName()</td>
				<td>@restAuthDef(_.getAuthentication())</td>
				<td>@_.getDoc()</td>
				
				
			</tr>
			}
			</tbody>
		</table>
		}

	</div>
</div>