@args RestResource restResource;
@args ServiceCatalog selectedService;
@args FormViewModelUtil formUtil;

@{
	HashMap<String, Object> map = null;
}

@extends("shared.userlayout")

<div class="well">
  <h4>@message("service.management.selected")</h4>
  @selectedService.getName()
</div>

<form id="restForm" action='@url("/admin/servicecatalog/edit/rest/resource/execute")' method="POST">
	<input id="id" type="hidden" name="id" value="@restResource.getId()">
	<input id="service.id" type="hidden" name="service.id" value="@selectedService.getId()">
	<input id="createdAt" name="createdAt" type="hidden" value="@restResource.getCreatedAt()" />
	<input id="httpHeaders" name="httpHeaders" type="hidden" value="@restResource.getHttpHeaders()" />
	<input id="inputParams" name="inputParams" type="hidden" value="@restResource.getInputParams()" />
	<input id="outputParams" name="outputParams" type="hidden" value="" />
	
	<div>
		<label class="text-error">@message("restresource.name")(*)</label>
		<input id="name" name="name" class="input-xxlarge" type="text" value="@restResource.getName()" required />
	</div>
	<div>
		<label class="text-error">@message("restresource.restUrl")(*)</label>
		<input id="restUrl" name="restUrl" class="input-xxlarge" type="text" value="@restResource.getRestUrl()" required />
	</div>
	<div>
		<label class="text-error">@message("restresource.method")(*)</label>
		<select id="httpMethod" name="httpMethod">
			@{ map = formUtil.getHttpMethodsBinding(); }
			@for(key: map.keySet()) {
			<option value="@map.get(key)" @if(map.get(key).equals(restResource.getHttpMethod())){ selected }>@key</option>
			}
		</select>
	</div>
	
	<div>
		<table>
			<thead>
		    	<tr>
					<th class="text-error">
						@message("restresource.contenttype")(*)
					</th>
					<th class="text-error">
						@message("restresource.responsetype")(*)
					</th>
				</tr>
		  	</thead>
			<tbody>
				<tr>
					<td>
						<select id="contentType" name="contentType">
							@{ map = formUtil.getContentTypeRestResourceBinding(); }
							@for(key: map.keySet()) {
							<option value="@map.get(key)" @if(map.get(key).equals(restResource.getContentType())){ selected }>@key</option>
							}
						</select>
					</td>
					<td>
						<select id="responseType" name="responseType">
							@{ map = formUtil.getResponseTypeRestResourceBinding(); }
							@for(key: map.keySet()) {
							<option value="@map.get(key)" @if(map.get(key).equals(restResource.getResponseType())){ selected }>@key</option>
							}
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div style="margin-top: 10px;"><label>@message("restresource.headers")</label></div>
	
	<div>
		<table id="tableHeaders">
			<thead>
		    	<tr>
					<th>
						<strong>@message("restresource.header.name")</strong>
					</th>
					<th>
						<strong>@message("restresource.header.value")</strong>
					</th>
				</tr>
		  	</thead>
		  	<tbody>
		  	</tbody>
		</table>
		<table>
			<tr id="buttonsTool">
				<td>
					<a id="addHeader" href="#" class="btn">@message("label.add")</a>
				</td>
				<td>
					<a id="removeHeader" href="#" class="btn">@message("label.delete")</a>
				</td>
			</tr>
		</table>
	</div>
	
	<div style="margin-top: 10px;"><label>@message("restresource.params.input")</label></div>
	
	<div>
		<table id="tableInputParams">
			<thead>
		    	<tr>
					<th>
						<strong>@message("restresource.param.name")</strong>
					</th>
					<th>
						<strong>@message("restresource.param.label")</strong>
					</th>
					<th>
						<strong>@message("restresource.param.defaultvalue")</strong>
					</th>
					<th>
						<strong>@message("restresource.param.required")</strong>
					</th>
				</tr>
		  	</thead>
			<tbody>
			</tbody>
		</table>
		<table id="buttonsInParamTool">
			<tr>
				<td>
					<a id="addInParam" href="#" class="btn">@message("label.add")</a>
				</td>
				<td>
					<a id="removeInParam" href="#" class="btn">@message("label.delete")</a>
				</td>
			</tr>
		</table>
	</div>
	
	<div style="margin-top:10px;">
		<a id="submitButton" href="#" class="btn">@message("label.confirm")</a>
	</div>
</form>

@{

	map = formUtil.getOptionBinding();
	String options = "";
	for(String key: map.keySet()){
		options += String.format("<option value='%s' %s>%s</option>", map.get(key), ((key.equals("OPTIONAL"))?"selected":""), key);
	}
}

<script>
    $( document ).ready(function() {
    	
    	var inputParams = "@restResource.getInputParams()";
    	var httpHeaders = "@restResource.getHttpHeaders()";
    	
    	var tableHeadersEl = $('#tableHeaders');
    	var inputParamsTable = $('#tableInputParams');
    	
    	var headRowParamsTemplate = '<tr>'+
										'<th><strong>@message("restresource.param.name")</strong></th>'+
										'<th><strong>@message("restresource.param.label")</strong></th>'+
										'<th><strong>@message("restresource.param.defaultvalue")</strong></th>'+
										'<th><strong>@message("restresource.param.required")</strong></th>'+
									'</tr>';
    	var rowTemplate = '<tr class="fake_header">' + 
								'<td><input type="text" class="fake_header_k" value="" required></td>'+
								'<td><input type="text" class="fake_header_v" value="" required></td>'+
						  '</tr>';
		var rowParamTemplate = '<tr class="fake_param">' + 
									'<td><input type="text" class="fake_param_k" value="" required></td>'+
									'<td><input type="text" class="fake_param_l" value="" required></td>'+
									'<td><input type="text" class="fake_param_v" value=""></td>'+
									'<td><select class="fake_param_c">@options</select></td>'+
							    '</tr>';
    	
		function initRestResourceForm(){
			
			console.debug("initRestResourceForm");
			
			var contentTypeSelected = $('#contentType').find(":selected").val();
			var methodSelected = $('#httpMethod').find(":selected").val();
			
			if(httpHeaders)
				httpHeaders = $.parseJSON(httpHeaders);
			
			if(httpHeaders && httpHeaders.length>0){
				
				console.debug("Fetch httpHeaders");
				console.debug(httpHeaders);
				
				tableHeadersEl.find('tbody tr').remove('tr');
    							
				for(i=0; i<httpHeaders.length; i++){
					
					row = $(rowTemplate);
					inputList = row.find('input');
					
					$(inputList[0]).attr("value", httpHeaders[i].name);
					$(inputList[1]).attr("value", httpHeaders[i].value);
					
					tableHeadersEl.find('tbody').append(row);
				}
			}
			
			if(methodSelected=='get')
				$('#contentType').attr('disabled', 'disabled');
			
			if(contentTypeSelected=="jsonEncode")
				$('#contentType').attr('disabled', 'disabled');
			
			if(inputParams)
				inputParams = $.parseJSON(inputParams);
			
			if(inputParams && inputParams.length>0){
				
				console.debug("Fetch inputParams");
				console.debug(inputParams);
				
				inputParamsTable.find('tbody tr').remove('tr');
    							
				for(i=0; i<inputParams.length; i++){
					
					row = $(rowParamTemplate);
					inputList = row.find('input');
					
					$(inputList[0]).attr("value", inputParams[i].name);
					$(inputList[1]).attr("value", inputParams[i].label);
					$(inputList[2]).attr("value", inputParams[i].value);
					
					selectList = row.find('select');
					
					$(selectList[0]).val(((inputParams[i].required=="true")?1:0));
					
					inputParamsTable.find('tbody').append(row);
				}
			}
		}
		
		function eventOnChangeSelectBox(content, method){
			
			console.debug("Method selected: " + method);
			console.debug("Content type selected: " + content);
			
			if(method=='post' || method=='put' || method=='delete')
				$('#contentType').removeAttr('disabled');
			else
				$('#contentType').attr('disabled', 'disabled');
			
			if((method=='post' || method=='put') && content=='jsonEncode'){
				
				if(inputParamsTable.length>0){
					
					console.debug("Remove all row table");
					
					inputParamsTable.find('thead tr').remove('tr');
					inputParamsTable.find('tbody tr').remove('tr');
					
					inputParamsTable.find('thead').append(headRowParamsForJsonContentTemplate);
					inputParamsTable.find('tbody').append(rowJsonParamTemplate);
					
					inputParamsTable.off("click", "#addInParam");
					inputParamsTable.off("click", "#removeInParam");
					
					$('#addInParam').addClass('disabled');
					$('#removeInParam').addClass('disabled');
				}
			}else if(((method=='get' || method=='delete') && content=='jsonEncode') || content!='jsonEncode'){
				
				if((method=='get' || method=='delete') && content=='jsonEncode')
					$('#contentType option').first().attr('selected',true);
				
				if(inputParamsTable.length>0){
										
					inputParamsTable.find('thead tr').remove('tr');
					inputParamsTable.find('thead').append(headRowParamsTemplate);
					
					inputParamsTable.find('tbody tr').remove('tr');
					
					inputParamsTable.on("click", "#addInParam");
					inputParamsTable.on("click", "#removeInParam");
					
					$('#addInParam').removeClass('disabled');
					$('#removeInParam').removeClass('disabled');
					
					if(inputParamsTable.length>0){
		    			
		    			console.debug("New row element");
		    			inputParamsTable.find('tbody').append(rowParamTemplate);
		    		}
				}
			}
		}
		
		function fetchHeaders(){
			
			keys = $('.fake_header_k');
    		values = $('.fake_header_v');
    		
    		if(keys!=null && values!=null && 
    				keys.length>0 && values.length>0 && 
    				keys.length==values.length){
    			
    			console.debug("Sequence is ok");
    			
    			size = keys.length;
    			seq = new Array();
    			
    			for(i=0; i<size; i++){
    				
    				/*
					JSON obj:{
							"name":"header variable name",
							"value":"header value"
						}
					*/
				
					obj = '{'+
						'"name":"' + $(keys[i]).val() + '",' + 
						'"value":"' + $(values[i]).val() + '"' + 
					'}';
					
    				seq.push(obj);
    			}
    			
    			if(seq.length>0){
    				
    				seq = "[" + seq.join(",") + "]";
    				
    				console.debug("JSON Headers");
    				console.debug(seq);
    				
    				$('#httpHeaders').attr('value', seq);
    			}else{
        			$('#httpHeaders').attr('value', '');
        		}
    		}else{
    			$('#httpHeaders').attr('value', '');
    		}
		}
		
		function fetchParams(){
			
			keys = $('.fake_param_k');
			labels = $('.fake_param_l');
    		values = $('.fake_param_v');
    		options = $('.fake_param_c option:selected');
    			    		
    		if(keys!=null && labels!=null && values!=null && options!=null &&  
    				keys.length>0 && labels.length>0 && values.length>0 && options.length>0){
    			
    			console.debug("Sequence is ok");
    			
    			size = keys.length;
    			seq = new Array();
    			
    			for(i=0; i<size; i++){
    				
    				/*
    					JSON obj:{
    						"label":"label name",
    						"name":"key",
    						"value":"default value",
    						"required":1,
    						"tupe":"typeName"
    					}
    				*/
    				
    				obj = '{'+
    					'"label":"' + $(labels[i]).val() + '",' + 
    					'"name":"' + $(keys[i]).val() + '",' + 
    					'"value":"' + $(values[i]).val() + '",' + 
    					'"required":"' + (($(options[i]).val()==1)?"true":"false") + '",' + 
    					'"type":"String"' + 
    				'}';
    				
    				seq.push(obj);
    			}
    			
    			if(seq.length>0){
    				
    				seq = "[" + seq.join(",") + "]";
    				
    				console.debug("JSON params");
    				console.debug(seq);
    				
    				$('#inputParams').attr('value', seq);
    			}else{
        			$('#inputParams').attr('value', '');
        		}
    		}else{
    			$('#inputParams').attr('value', '');
    		}
		}
		
		initRestResourceForm();
		
    	$('#addHeader').on('click', function(){
    		
    		console.debug("Click on add header button");
    		
    		if(tableHeadersEl.length>0){
    			
    			console.debug("Add row element");
    			tableHeadersEl.find('tbody').append(rowTemplate);
    		}
    	});
    	
		$('#removeHeader').on('click', function(){
    		
    		console.debug("Click on remove header button");
    		
    		if(tableHeadersEl.length>0){
    			
    			rows = tableHeadersEl.find('tbody tr');
    			
    			console.debug("Rows");
    			console.debug(rows);
    			
    			rows.last().remove();
    		}
    	});
		
		$('#addInParam').on('click', function(){
    		
    		console.debug("Click on add param button");
    		
    		if(inputParamsTable.length>0){
    			
    			console.debug("Add row element");
    			inputParamsTable.find('tbody').append(rowParamTemplate);
    		}
    	});
    	
		$('#removeInParam').on('click', function(){
    		
    		console.debug("Click on remove param button");
    		
    		if(inputParamsTable.length>0){
    			
    			rows = inputParamsTable.find('tbody tr');
    			
    			console.debug("Rows");
    			console.debug(rows);
    			
    			rows.last().remove();
    		}
    	});
		
		$('#httpMethod').on('change', function(){
			
			console.debug("Click on change select box httpMethod");
			
			method = $(this).val();
			content = $('#contentType').find(":selected").val();
			
			eventOnChangeSelectBox(content, method);
		});
		
		$('#contentType').on('change', function(){
			
			console.debug("Click on change select box contentType");
			
			content = $(this).val();
			method = $('#httpMethod').find(":selected").val();
			
			eventOnChangeSelectBox(content, method);
		});
		
		$('#submitButton').on('click', function(){
    		
    		console.debug("Click on submit button");
    		
    		fetchHeaders();
    		fetchParams();
    		$('#contentType').removeAttr('disabled');
    		
    		$('#restForm').submit();
    	});
    });
</script>
