@args ServiceCatalog service;
@extends("shared.adminlayout")

<h4>@message("service.management.edit")</h4>
<form action='@url("/admin/servicecatalog/edit/rest/execute")' method="POST">
	<input id="id" name="id" type="hidden" value="@service.getId()" />
	<input id="createdAt" name="createdAt" type="hidden" value="@service.getCreatedAt()" />
	<input id="type" name="type" type="hidden" value="@service.getType()" />
	<input id="visibility" name="visibility" type="hidden" value="@service.getVisibility()" />
	<input id="profile.id" name="profile.id" type="hidden" value="@service.getProfile().getId()" />
	<div>
		<label class="text-error">@message("service.name")(*)</label>
		<input id="name" name="name" class="input-xxlarge" type="text" value="@service.getName()" required />
	</div>
	<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
</form>
