@args List<ServiceCatalog> services 
@extends("shared.adminlayout" , "Admin - Web Services") 
@include("shared.inlinedefinitions")

<div class="row-fluid">
	<div class="span3">@invoke("shared.adminmenu", "service_list")</div>
	<div class="span9">



		<h4>@message("service.management.list.public")</h4>

		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							@message("service.name")
						</th>
						<th>
							@message("service.type")
						</th>
						<th>
							@message("service.oauthtype")
						</th>
						<th style="text-align: center;">
							@message("service.visibility")
						</th>
						<th style="text-align: center;">
							@message("label.action")
						</th>
					</tr>
				</thead>
				<tbody>
					@for(services){
					<tr>
						<td>@_.getName()</td>
						<td>@decodeServiceType(_.getType())</td>
						<td>
							@if (_.getAuthType() != null) {
								@_.getAuthType().getDescription()
							}	
							else {
								@message("label.auth.none")
							}						
						</td>
						<td style="text-align: center;">
							@decodeServiceVisibility(_.getVisibility())
						</td>						
						<td style="text-align: center;">
						<div class="btn-group">
							<a href='@url("/")admin/servicecatalog/@_.getId()/details' class="btn " 
							title='@message("label.details")' >
								<i class="icon-list-alt"></i>
							</a>
							@if (_.getVisibility() == 4){
							<a href='@url("/")admin/servicecatalog/@_.getId()/setvisibility?code=1' class="btn " 
							onclick='return confirm("@message("message.confirm.enable")")' title='@message("enable")'>
								<i class="icon-eye-open"></i>
							</a>
							}
							else if(_.getVisibility() == 1){
							<a href='@url("/")admin/servicecatalog/@_.getId()/setvisibility?code=4' class="btn " 
							onclick='return confirm("@message("message.confirm.disable")")' title='@message("label.disable")'>
								<i class="icon-eye-close"></i>
							</a>							
							}
							else {
							<a href='#' class="btn disabled">
								<i class="icon-eye-close"></i>
							</a>								
							}
							<a href='@url("/")admin/servicecatalog/@_.getId()/delete' class="btn btn-danger" 
							onclick='return confirm("@message("message.confirm.delete")")' title='@message("label.delete")'>
								<i class="icon-remove"></i>
							</a>
							</div>
					</td>
					</tr>
					}
					@if(null == services || services.isEmpty() ){
					<tr class="warning">
						<td colspan="3" style="text-align: center">@message("service.management.nopublicservices")</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>