@args String serviceInvokeURL
@args List<GadgetFileResource> cssUrl
@args List<GadgetFileResource> jsUrl
@args String invokeResultHtml
@args String prefix
@args String formContainerDiv


@{
	if (!prefix.equals("")) {
		prefix = serviceInvokeURL + prefix;
	}
}



@if(cssUrl){
	@for(css: cssUrl) {
		<link type="text/css" rel="stylesheet" href="@{p(prefix+css.getFilename())}"/>
	}
}
<link type="text/css" rel="stylesheet" href="@{p(prefix)}style.css"/>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="@serviceInvokeURL/resources/js/public/gadgetutils.js"></script>
<script src="@serviceInvokeURL/resources/js/public/gadgetpopup.js"></script>
@if(jsUrl){
	@for(jsUrl) {
		<script src="@_.getFilename()"></script>
	}
}

@if(formContainerDiv){
	@formContainerDiv.raw()
}

@if(invokeResultHtml){
	<div id="main">@invokeResultHtml.raw()</div>
} else {
	<div id="main" style="display: none"></div>
}

<div id="approval" style="display: none">
	<a href="#" id="personalize">Personalize this gadget</a>
	<ol>
		<li><strong>In order to use this Gadget you must</strong></li>
		<li>Have or create accounts for services used inside mashup.</li>
		<li>Click the link above to initiate the authorization process</li>
	</ol>
</div>

<div id="waiting" style="display: none">
	Please click <a href="#" id="approvaldone">I've approved access</a>
	once you've approved access to your data.
</div>

<div id="error"
	style="display: none; background-color: yellow; font-size: xx-small;"
	title="An error occured processing your request">
	<div id="error_code">
		<strong>code:</strong>
	</div>
	<div id="error_uri">
		<strong>uri:</strong>
	</div>
	<div id="error_description">
		<strong>description:</strong>
	</div>
	<div id="error_explanation">
		<strong>explanation:</strong>
	</div>
	<div id="error_trace">
		<strong>trace:</strong>
	</div>
</div>
