@args AccountDTO loggeduser;
@extends("shared.userlayout", loggeduser: loggeduser, section:"mp", title:"Import Artefact")



<script type="text/javascript" src='@url("/resources/js/draw2d/lib/Class.js")'></script>
<script type="text/javascript" src='@url("/resources/js/components/handlebars/handlebars.js")'></script>
<script type="text/javascript" src='@url("/resources/js/jquery.pagination.js")'></script>
<script type="text/javascript" src='@url("/resources/js/marketplacePlugin/mkp.import.js")'></script>
<link type="text/css" rel="stylesheet" href='@url("/resources/js/marketplacePlugin/mkp.import.css")'>

<h4 class="section-title">@message("catalogs.search.header")</h4>

<div id="importContainer" class="row">

</div>

<script>
var mkpImport = null;
$(document).ready(function() {		
	mkpImport = new MarketplaceImport('importContainer', 20, 3, null);
});
</script>
