@args AccountDTO loggeduser;
@args MashupDTO mashup;
@extends("shared.userlayout", loggeduser: loggeduser, section:"mp", title:"Publish Artefact")

<link type="text/css" rel="stylesheet" href='@url("/resources/js/bootstrap/css/bootstrap-modal.css")' />

<script type="text/javascript" src='@url("/resources/js/jquery/jquery-1.10.2.min.js")'></script>
<script type="text/javascript" src='@url("/resources/js/jquery/ui/jquery-ui.min.js")'></script>
<script type="text/javascript" src='@url("/resources/js/bootstrap/js/bootstrap-modalmanager.js")'></script>
<script type="text/javascript" src='@url("/resources/js/bootstrap/js/bootstrap-modal.js")'></script>

<div class="row-fluid">

<div class="span3">
	@invoke("shared.usermenu", "mp_publishartefact")
</div>

<div class="span9">
	<h3>Publish Gadget on Marketplace</h3>
	<div>
		<h4>Gadget Info</h4>
		<label for="gadgetName">Name:</label>
		<input id="gadgetName" name="gadgetName" type="text" class="input-xxlarge" />
		<label for="gadgetDescription">Description:</label>
		<textarea id="gadgetDescription" name="gadgetDescription" rows="5" class="input-xxlarge"></textarea>
		<label for="gadgetClassification">Category:</label>
		<select id="gadgetClassification" name="gadgetClassification">
			<option>Categoria1</option>
			<option>Categoria2</option>
			<option>Categoria3</option>
			<option>Categoria4</option>
		</select>
		<hr>
		<h4>Author Info</h4>
		<label for="authorName">Name:</label>
		<input id="authorName" name="authorName" type="text" class="input-xxlarge" />
		<label for="authorEmail">Email:</label>
		<input id="authorEmail" name="authorEmail" type="text" class="input-xxlarge" />
		<hr>
		<button class="btn btn-primary" data-toggle="modal" data-target="#mpLoginModal">Publish</button>
	</div>
</div>

</div>

<input id="mockupId" type="hidden" value="@mashup.getMockupId()" />

<!-- Modal -->
<div id="mpLoginModal" style="z-index: 2000" class="modal modal-wide hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close btn-cancel" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Marketplace Login</h3>
	</div>
	<div class="modal-body">
		<div class='row-fluid'>
			<div class="span9">

			<form id="loginForm" method="POST">	
				<label for="email">Email:</label>
				<input id="email" name="email" type="text" value="" />
				<label for="password">Password:</label>
				<input id="password" name="password" type="password" />
			</form>
			
			<form id="mpLoginForm" target="_blank" action="http://192.168.40.192:8080/web/guest?p_p_id=58&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;saveLastPath=0&amp;_58_struts_action=%2Flogin%2Flogin&amp;_58_doActionAfterLogin=false" id="_58_fm" name="_58_fm" method="post" >
				<input type="hidden" id="_58_redirect" name="_58_redirect" value="" />
				<input type="hidden" id="_58_login" name="_58_login" type="text" value="" />
				<input type="hidden" id="_58_password" name="_58_password" type="password" value="" />
			</form>

			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" onclick="javascript:submitLogin()">OK</button>
	</div>
</div>

<script>
function submitLogin()
{	
	$("#loginForm").submit();
}

$(document).ready(function()
		{   
			$('#loginForm').submit(function(e)
			{
				e.preventDefault();
				
				var info = {
					      "email" : $("#email").val(),
					      "password" : $("#password").val(),
					      "project_id": $("#mockupId").val()
					   }
				
				$.ajax({
					type: "POST",
					contentType : 'application/json; charset=utf-8',
					dataType : 'json',
					url: $("#publishUrl").val(),
					data: JSON.stringify(info), // Note it is important
					beforeSend: function()
					{
						$("#_58_login").val($("#email").val());
						$("#_58_password").val($("#password").val());
					},
					success :function(result)
					{
						$("#mpLoginModal").modal("hide");
						
						var link = $("#marketplaceUrl").val() + result.link
							+ encodeURI(
							"&_usdleditor_WAR_usdleditorportlet_gadgetName=" + $("#gadgetName").val()
							+ "&_usdleditor_WAR_usdleditorportlet_gadgetDescription=" + $("#gadgetDescription").val()
							+ "&_usdleditor_WAR_usdleditorportlet_gadgetCategory=" + "Gadget Open Social"
							+ "&_usdleditor_WAR_usdleditorportlet_gadgetClassification=" + $("#gadgetClassification").val()
							+ "&_usdleditor_WAR_usdleditorportlet_gadgetAuthorName=" + $("#authorName").val()
							+ "&_usdleditor_WAR_usdleditorportlet_gadgetAuthorEmail=" + $("#authorEmail").val());
						
						console.log($("#marketplaceUrl").val());
						
						$("#_58_redirect").val(link);
						console.log($("#_58_redirect").val());
						$("#mpLoginForm").submit();
					}
				});
			});
		});
</script>