@args AccountDTO loggeduser;
@args MashupDTO mashup;
@extends("shared.userlayout", loggeduser: loggeduser, section:"mp", title:"Publish Artefact")

<link type="text/css" rel="stylesheet" href='@url("/resources/js/bootstrap/css/bootstrap-modal.css")' />

<script type="text/javascript" src='@url("/resources/js/jquery/jquery-1.10.2.min.js")'></script>
<script type="text/javascript" src='@url("/resources/js/jquery/ui/jquery-ui.min.js")'></script>
<script type="text/javascript" src='@url("/resources/js/bootstrap/js/bootstrap-modalmanager.js")'></script>
<script type="text/javascript" src='@url("/resources/js/bootstrap/js/bootstrap-modal.js")'></script>



<div class="row-fluid">

<div class="span3">
	@invoke("shared.usermenu", "mp_publishartefact")
</div>

@import it.eng.PropertyGetter;

@{
String gadgetEndpointUrl = PropertyGetter.getProperty("gadget.endpointBaseUrl") + "/prj_" + mashup.getMockupId() + "/opensocialgadget.xml";
}

<div class="span9">
	<h3>Publish Gadget on Marketplace</h3>
	<div>
	<form id="publishForm" action="#" method="post" target="_blank">
		<h4>Gadget Info</h4>
		<label for="gadgetName">Name:</label>
		<input id="gadgetName" name="gadgetName" type="text" class="input-xxlarge" />
		<label for="gadgetDescription">Description:</label>
		<textarea id="gadgetDescription" name="gadgetDescription" rows="5" class="input-xxlarge"></textarea>
		<label for="gadgetClassification">Category:</label>
		<select id="gadgetClassification" name="gadgetClassification">
			<option value="Communication services">Communication services</option>
			<option value="Business services">Business services</option>
			<option value="Construction and related engineering Services">Construction and related engineering Services</option>
			<option value="Distribution services">Distribution services</option>
			<option value="Educational services">Educational services</option>
			<option value="Environmental services">Environmental services</option>
			<option value="Financial services">Financial services</option>
			<option value="Health-related and social services">Health-related and social services</option>
			<option value="Tourism and travel-related services">Tourism and travel-related services</option>
			<option value="Recreational cultural and sporting services">Recreational cultural and sporting services</option>
			<option value="Transport services">Transport services</option>
			<option value="Other service">Other service</option>
		</select>
		<hr>
		<h4>Author Info</h4>
		<label for="authorName">Name:</label>
		<input id="authorName" name="authorName" type="text" class="input-xxlarge" />
		<label for="authorEmail">Email:</label>
		<input id="authorEmail" name="authorEmail" type="text" class="input-xxlarge" />
		<hr>
		<h4>Endpoint URL</h4>
		<a href="@gadgetEndpointUrl" target="_blank">@gadgetEndpointUrl</a>
		<hr>
		<input id="gadgetEndpointUrl" name="gadgetEndpointUrl" type="hidden" value="@gadgetEndpointUrl" />
		<input onclick="javascript:publishGadget()" class="btn btn-primary" value="Publish" />
	</form>
	</div>
</div>

</div>

<input id="mockupId" type="hidden" value="@mashup.getMockupId()" />

<script>
/*
var remoteHost = $("#marketplaceUrl").val();
var baseUrl = remoteHost+'/wizard-usdl';
var baseParams = {};
     baseParams['p_p_id']="usdleditor_WAR_usdleditorportlet";
     baseParams['p_p_lifecycle']=1;
     baseParams['p_p_state']="normal";
    
var params = {};
     params['javax.portlet.action'] = "remotePublishArtefatto";
     params['jspPage']="/view.jsp";
     params['redirectTo']="/html/marketplacestore/carica_artefatto.jsp";
     params['returnTabKey']="activeTab";
     params['returnTabValue']="rdfTab";
    
function updateURL(resp)
{
     var id = baseParams['p_p_id'];
     for (var p in params) 
     {
          baseParams['_'+id+'_'+p] = params[p];
     }
     baseParams["p_auth"] = resp.token;
     var queryString = $.param( baseParams );
     var url = baseUrl+'?'+queryString;
    
     $('#publishForm').attr('action', url);
    
     return;
}

$(document).ready(function()
{
     $.ajax({
    	 asynch: false,
         url:remoteHost+"/getMyAuthToken.jsp",
         jsonpCallback:'updateURL',
         dataType: 'jsonp'
     });
})
*/

function publishGadget()
{
	var endpoint=encodeURIComponent($("#gadgetEndpointBaseUrl").val() + "/prj_" + $("#mockupId").val() + "/opensocialgadget.xml");
	var link = $("#publishGadgetUrl").val()
		+ encodeURI(""
		+ "&_"+$("#usdleditorPortlet").val()+"_gadgetName=" + $("#gadgetName").val()
		+ "&_"+$("#usdleditorPortlet").val()+"_gadgetDescription=" + $("#gadgetDescription").val()
		+ "&_"+$("#usdleditorPortlet").val()+"_gadgetCategory=" + "Gadget Open Social"
		+ "&_"+$("#usdleditorPortlet").val()+"_gadgetClassification=" + $("#gadgetClassification").val()
		+ "&_"+$("#usdleditorPortlet").val()+"_gadgetAuthorName=" + $("#authorName").val()
		+ "&_"+$("#usdleditorPortlet").val()+"_gadgetAuthorEmail=" + $("#authorEmail").val()
		+ "&_"+$("#usdleditorPortlet").val()+"_gadgetEndpointUrl=") + endpoint;
	console.log(endpoint);
	console.log(link);
	window.open(link, "_blank");
}

</script>