<div>

	<h4>Filter Elements</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.filter_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Filters the source array elements on the specified condition and returns an array whose elements match the condition.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			Condition is tested against the properties of the source array elements. To filter array elements, you must follow the steps below:
			<ol>
				<li>link a source block <u>that contains an array</u> to the the operator;</li>
				<li>drag the the desired array from the source tree to the <b>Source Array</b> field;</li>
				<li>press <b>Ok</b> in the bottom right corner;</li>
				<li>link a source block to the the operator;</li>
				<li>select which <b>Property</b> to check in the condition;</li>
				<li>select which <b>Operator</b> to use for the comparison;</li>
				<li>drag a value from the source tree to the <b>Value</b> field (this will be the value to check in the condition);</li>
				<li>to finish, press <b>Ok</b> in the bottom right corner.</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Source Array</i></b></td>
						<td>Array</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Property</i></b></td>
						<td>Option</td>
						<td>User</td>
						<td>Any</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Operator</i></b></td>
						<td>Option</td>
						<td>User</td>
						<td>Any</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Value</i></b></td>
						<td>Text value</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>Any</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Array</div>
			</div>
		</div>
	</div>

</div>
