<div>

	<h4>Concatenate Objects</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.concatobject_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Concatenates two or more objects and creates a new array whose elements are the source objects.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To concatenate objects, follow the steps below:
			<ol>
				<li>link a source block to the the operator;</li>
				<li>click on <b>Add New Object</b>;</li>
				<li>drag the the desired object from the source tree to the field <b>Object #1</b>;</li>
				<li>if you want to add another object from the same source tree, repeat steps from 2 to 3; otherwise if you want to change source, press <b>Ok</b> in the bottom right corner and repeat steps from 1 to 3;</li>
				<li>to finish, press <b>Ok</b> in the bottom right corner;</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Object #x</i></b></td>
						<td>Object</td>
						<td>Service, Opendata, Operator</td>
						<td>Any</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Array</div>
			</div>
		</div>
	</div>

</div>
