<div>

	<h4>XML to Object</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.xmlconverter_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Converts a XML text to an object.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To convert a XML text, follow the steps below:
			<ol>
				<li>link a source block <u>that contains a XML text</u> to the the operator;</li>
				<li>drag the XML text from the source tree to the field <b>XML</b>;</li>
				<li>press <b>Ok</b> in the bottom right corner.</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>XML</i></b></td>
						<td>Text value</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Object</div>
			</div>
		</div>
	</div>

</div>
