<div>

	<h4>Split</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.split_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Splits a string on the given delimitor and returns a new array where each element contains a part of the splitted string.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To split a string, follow the steps below:
			<ol>
				<li>link a source block that contains the string to the the operator;</li>
				<li>drag the the desired string from the source tree to the field <b>Source String</b>;</li>
				<li>type a <b>Delimiter</b> to split the string;
				<li>(OPTIONALLY) type a <b>Property name</b> that will be used to contain the parts of the splitted string in the elements of the output array;</li>
				<li>press <b>Ok</b> in the bottom right corner;</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Source String</i></b></td>
						<td>Text value</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Delimiter</i></b></td>
						<td>Text value</td>
						<td>User</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Property Name</i></b></td>
						<td>Text value</td>
						<td>User</td>
						<td>1</td>
						<td>False</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Array</div>
			</div>
		</div>
	</div>

</div>
