<div>

	<h4>Match Condition</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.comparator_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Checks condition on a propertiy of the object given in input and returns true if the object matches the condition, false otherwise. Condition is defined by three elements: <b>Property</b>, <b>Operator</b> and <b>Value</b>. The operator will compare <b>Property</b> and <b>Value</b> through the selected <b>Operator</b>.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To specify condition, follow the steps below:
			<ol>
				<li>link a source block to the operator;</li>
				<li>drag an object from the source tree to the field <b>Source Object</b>;</li>
				<li>press <b>Ok</b> in the bottom right corner;</li>
				<li>link a source block to the the operator;</li>
				<li>select which <b>Property</b> to check in the condition;</li>
				<li>select which <b>Operator</b> to use for the comparison;</li>
				<li>drag a value from the source tree to the <b>Value</b> field (this will be the value to check in the condition);</li>
				<li>to finish, press <b>Ok</b> in the bottom right corner.</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Source Object</i></b></td>
						<td>Object</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Property</i></b></td>
						<td>Option</td>
						<td>User</td>
						<td>Any</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Operator</i></b></td>
						<td>Option</td>
						<td>User</td>
						<td>Any</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Value</i></b></td>
						<td>Text value</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>Any</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Boolean (true/false)</div>
			</div>
		</div>
	</div>

</div>
