<div>

	<h4>Join</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.joinarray_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Joins two arrays on the specified fields. Returns all the elements of <b>Array #1</b> with the matching elements of <b>Array #2</b>. A match occurs when <b>Field #1</b> of the <b>Array #1</b> equals to <b>Field #2</b> of <b>Array #2</b>. If you know SQL, this operator is equivalent to a <a href="http://www.w3schools.com/sql/sql_join_left.asp" target="_blank">LEFT JOIN</a>.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To join two arrays, follow the steps below:
			<ol>
				<li>link a source block <u>that contains an array</u> to the the operator;</li>
				<li>drag the the desired array from the source tree to the field <b>Array #1</b>;</li>
				<li>select the property on which join into the field <b>Field #1</b>;</li>
				<li>press <b>Ok</b> in the bottom right corner;</li>
				<li>repeat steps from 1 to 4 for <b>Array #2</b> and <b>Field #2</b>.</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Array #1</i></b></td>
						<td>Array</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Field #1</i></b></td>
						<td>Option</td>
						<td>User</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Array #2</i></b></td>
						<td>Array</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Field #2</i></b></td>
						<td>Option</td>
						<td>User</td>
						<td>1</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Array</div>
			</div>
		</div>
	</div>

</div>
