<div>

	<h4>Create Object</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.jsonmaker_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Creates a new object with the properties defined by <b>Name</b> and <b>Value</b> pairs.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To create a new object to the object:
			<ol>
				<li>link a source block to the operator;</li>
				<li>press <b>Add New Property</b> button;</li>
				<li>type the desired key in the field <b>Name</b>;</li>
				<li>drag the the desired value from the source tree to the field <b>Value</b>;</li>
				<li>if you want to add another property from the same source tree, repeat steps from 2 to 4; otherwise if you want to change source, press <b>Ok</b> in the bottom right corner and repeat steps from 1 to 4;</li>
				<li>to finish, press <b>Ok</b> in the bottom right corner.</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Name</i></b></td>
						<td>Text value</td>
						<td>User</td>
						<td>Any</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Value</i></b></td>
						<td>Any</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>Any</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Object</div>
			</div>
		</div>
	</div>

</div>
