<div>

	<h4>Key/Value Pair List</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.keyvalue_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Turns the source object properties into a key/value list. Each element of the output list has a <i>name</i> property and a <i>value</i> property containing the name and the value of the source object property, respectively.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To use the operator, follow the steps below:
			<ol>
				<li>link a source block to the operator;</li>
				<li>drag an object from the source tree to the <b>Source Object</b> field;</li>
				<li>press <b>Ok</b> in the bottom right corner.</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Source Object</i></b></td>
						<td>Object</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Array</div>
			</div>
		</div>
	</div>

</div>
