<div>

	<h4>Iterator</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.iterator_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Executes an <b>Iterator Inner Process</b> for each element of the list given in input. Returns a list of objects where each object is the result of the <b>Iterator Inner Process</b> execution on the corresponding element of the input list.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To use the Iterator properly, you must follow the steps below:
			<ol>
				<li>link a source block <u>of type array</u> to the left pin of the operator;</li>
				<li>drag the the desired array from the source tree to the <b>Array</b> field;</li>
				<li>press <b>Ok</b> in the bottom right corner.</li>
				<li>add an <u>Iterator Inner Process</u> to the working area and link it to the bottom pin of the operator;</li>
				<li>drag elements from the source tree to the input fields on the left side of the window; each input field represents an input of the Iterator Inner Process;</li>
				<li>press <b>Ok</b> in the bottom right corner.</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Array</i></b></td>
						<td>Array</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Iterator Inner Process Inputs</i></b></td>
						<td>Any</td>
						<td>Iterator Inner Process</td>
						<td>Any</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Array</div>
			</div>
		</div>
	</div>

</div>
