<div>

	<h4>Replace</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.replace_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Searches a string for a specified value, or a <b>Regular Expression</b>, in a <b>Source String</b> and returns a new string where the specified values are replaced (in the <b>Source String</b>) with the desired <b>Replace String</b>. <b>Modifiers</b> can be used to perform case-insensitive and global searches.
			<br><br>
			Read more about <a target="_blank" href="http://www.w3schools.com/jsref/jsref_obj_regexp.asp">Regular Expressions</a>.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To replace a string, follow the steps below:
			<ol>
				<li>link a source block that contains the string to the the operator;</li>
				<li>drag the the desired string from the source tree to the field <b>Source String</b>;</li>
				<li>type a <b>Regular Expression</b> or a simple string: this will be the string to search in the source string;</li>
				<li>type a <b>Replace String</b>;</li>
				<li>(OPTIONALLY) select a <b>Modifier</b> to change the behaviour of the search;</li>
				<li>press <b>Ok</b> in the bottom right corner;</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Source String</i></b></td>
						<td>Text value</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Regular Expression</i></b></td>
						<td>Text value</td>
						<td>User</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Replace String</i></b></td>
						<td>Text value</td>
						<td>User</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Modifier</i></b></td>
						<td>Option</td>
						<td>User</td>
						<td>1</td>
						<td>False</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Text value</div>
			</div>
		</div>
	</div>

</div>
