<div>

	<h4>Branch</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.branch2_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Checks a <b>Condition</b> (true/false value) and returns the <b>True condition object</b> if the condition is true or the <b>False condition object</b> otherwise.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To create a branch in the mashup flow, follow the steps below:
			<ol>
				<li>link a source block <u>that contains a boolean value</u> to the the operator;</li>
				<li>drag the boolean value from the source tree to the field <b>Condition</b>;</li>
				<li>press <b>Ok</b> in the bottom right corner;</li>
				<li>link a source block to the the operator;</li>
				<li>drag the desired object from the source tree to the field <b>True condition object</b>;</li>
				<li>if you want to use the same source tree for the <b>False condition object</b> , repeat the previous step; otherwise if you want to change source, press <b>Ok</b> in the bottom right corner and repeat steps from 4 to 5;</li>
				<li>press <b>Ok</b> in the bottom right corner;</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Condition</i></b></td>
						<td>Boolean (true/false)</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>True condition object</i></b></td>
						<td>Any</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>True condition object</i></b></td>
						<td>Any</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Any</div>
			</div>
		</div>
	</div>

</div>
