<div>

	<h4>Stringify Object</h4>
	<hr>

	<!--<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.stringifyobject_main.jpg">
		</div>
	</div>-->
	<div class="row">
		<div class="col s12">
			<h5>Example</h5>
			<div class="row valign-wrapper operator-helper-example">
				<div class="col s5">
					<p>
					+-- name : Mario<br>
					+-- surname : Rossi<br>
					+-- age : 25<br>
					</p>
				</div>
				<div class="col s2">
					<p>==></p>
				</div>
				<div class="col s5">
					<p>
					{ "name":"Mario", "surname":"Rossi", "age":25 }
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Converts an object to a string representing the object.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To stringify an object, follow the steps below:
			<ol>
				<li>link a source block to the the operator;</li>
				<li>drag the desired object from the source tree to the field <b>Object</b>;</li>
				<li>press <b>Ok</b> in the bottom right corner.</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Object</i></b></td>
						<td>Object</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Text value</div>
			</div>
		</div>
	</div>

</div>
