<div>

	<h4>Merge Arrays</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.fusearray_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Merges two or more arrays and creates a new array where each element contains all the properties of the elements of the source arrays (i.e. applies <i>Merge Objects</i> to the corresponding elements of the source arrays).
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To merge arrays, follow the steps below:
			<ol>
				<li>link a source block <u>that contains an array</u> to the the operator;</li>
				<li>click on <b>Add New Array</b>;</li>
				<li>drag the the desired array from the source tree to the field <b>Array #1</b>;</li>
				<li>if you want to add another array from the same source tree, repeat steps from 2 to 3; otherwise if you want to change source, press <b>Ok</b> in the bottom right corner and repeat steps from 1 to 3;</li>
				<li>to finish, press <b>Ok</b> in the bottom right corner;</li>
			</ol>
			<p><strong>IMPORTANT</strong>: all arrays must have the same length.<p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Array #x</i></b></td>
						<td>Array</td>
						<td>Service, Opendata, Operator</td>
						<td>Any</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Array</div>
			</div>
		</div>
	</div>

</div>
