<div>

	<h4>Concatenate Strings</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.stringconcat_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Concatenates <b>Source String #1</b> with <b>Source String #2</b>. A <b>Separator</b> can be specified to separate the two strings in the concatenation.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To concatenate two string, follow the steps below:
			<ol>
				<li>link a source block that contains the first string to the the operator;</li>
				<li>drag the the desired string from the source tree to the field <b>Source String #1</b>;</li>
				<li>(OPTIONALLY) type a <b>Separator</b> to separate the two strings;</li>
				<li>link a source block that contains the second string to the the operator (or skip this step if the second string is in the same source block of the first string);</li>
				<li>drag the the desired string from the source tree to the field <b>Source String #2</b>;</li>
				<li>press <b>Ok</b> in the bottom right corner;</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Source String #1</i></b></td>
						<td>Text value</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Separator</i></b></td>
						<td>Text value</td>
						<td>User</td>
						<td>1</td>
						<td>False</td>
					</tr>
					<tr>
						<td><b><i>Source String #2</i></b></td>
						<td>Text value</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Text value</div>
			</div>
		</div>
	</div>

</div>
