<div>

	<h4>Slice</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.slice_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Selects the array elements from the one at <b>Start Index</b> to the one before <b>End Index</b> and returns them as a new array.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To slice an array, follow the steps below:
			<ol>
				<li>link a source block <u>that contains an array</u> to the the operator;</li>
				<li>drag the the desired array from the source tree to the field <b>Source Array</b>;</li>
				<li>press <b>Ok</b> in the bottom right corner;</li>
				<li>link a source block to the the operator;</li>
				<li>drag an integer value (from 0 to <i>array length</i>) from the source tree to the <b>Start Index</b>;</li>
				<li>(optional) drag an integer value (greater than <b>Start Index</b> and less than / equal to <i>array length</i>) from the source tree to the <b>End Index</b>; if not specified, end index will be equal to array length;</li>
				<li>press <b>Ok</b> in the bottom right corner;</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Source Array</i></b></td>
						<td>Array</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Start Index</i></b></td>
						<td>Number</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>End Index</i></b></td>
						<td>Number</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>1</td>
						<td>False</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Array</div>
			</div>
		</div>
	</div>

</div>
