<div>

	<h4>Select Properties</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.filterobject_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Creates a new object that contains only the selected properties of the source object.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To select the object properties, follow the steps below:
			<ol>
				<li>link a source block to the operator;</li>
				<li>drag an object from the source tree to the <b>Source Object</b> field;</li>
				<li>press <b>Add property</b> button;</li>
				<li>select which <b>Property</b> you want to include in the new object;</li>
				<li>if you want to select another property, repeat steps from 3 to 4;</li>
				<li>press <b>Ok</b> in the bottom right corner.</li>
			</ol>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Source Object</i></b></td>
						<td>Object</td>
						<td>Service, Opendata, Operator</td>
						<td>1</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Property</i></b></td>
						<td>Option</td>
						<td>User</td>
						<td>Any</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Object</div>
			</div>
		</div>
	</div>

</div>
