<div>

	<h4>Formula</h4>
	<hr>

	<div class="row">
		<div class="col s12">
			<img class="operatorGuide-mainImage" src="/visualcomposer/mashupeditor/operators/docs/images/vme2.shape.Operator.formula_main.jpg">
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Description</h5>
			<div>
			Creates a formula and returns its result. A formula is created by adding <b>Operands</b> and <b>Operators</b> in the right sequence. Complex formulas can be created concatenating several Formula operators.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Usage</h5>
			<div>
			To create a formula, follow the steps below:
			<ol>
				<li>link a source block <u>that contains a numerical value</u> to the the operator;</li>
				<li>if you want to add an operand, click on <b>Add Operand</b>; otherwise, click on <b>Add Operator</b></b>;
				<li>if you are adding an operand, drag the desired number from the source tree to the field <b>Operand</b>; otherwise, select an <b>Operator</b></li>
				<li>if you want to use the same source tree for the other operands, repeat the previous step; otherwise if you want to change source, press <b>Ok</b> in the bottom right corner and repeat steps from 1 to 3;</li>
				<li>to finish, press <b>Ok</b> in the bottom right corner;</li>
			</ol>
			<p><strong>IMPORTANT</strong>: all operators (except parentheses) must be followed by an operand.<p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<h5>Input</h5>
			<div>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Source</th>
						<th>Quantity</th>
						<th>Required</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b><i>Operand</i></b></td>
						<td>Number</td>
						<td>Input, Service, Opendata, Operator</td>
						<td>Any</td>
						<td>True</td>
					</tr>
					<tr>
						<td><b><i>Operator</i></b></td>
						<td>Option</td>
						<td>User</td>
						<td>Any</td>
						<td>True</td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h5>Output</h5>
			<div class="row">
				<div class="col s2"><strong>Type</strong></div>
				<div class="col s10">Number</div>
			</div>
		</div>
	</div>

</div>
