@args GuiProject project
@args List<Workgroup> workgroupList
@args AccountDTO loggeduser
@args List<Project> mashupProjectList
@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Add Gui Project")

@section("extraheader"){
<script type="text/javascript" src='@url("/")resources/js/jquery/select2/select2.min.js'></script> 
<link type="text/css" rel="stylesheet" href='@url("/resources/js/jquery/select2/select2.css")' />
}

<!-- FAB button -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
	<button class="btn-floating btn-large fab-fixed-button" onclick="javascript:saveProject()"><i class="large material-icons">save</i></button>
</div>

<div class="row">
	<h4>@message("guiproject.management.add")</h4>
	<hr>
	<form class="col s12" action='@url("/user/gui/add/execute")' method="POST" id="newProjectForm">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" name="name" type="text" class="validate" value="@project.getName()">
          <label for="name">@message("project.name")</label>
        </div>
        <div class="input-field col s6">
		  <select id="workgroup_id" name="workgroup.id" >
		    <option value="" disabled selected>Choose your option</option>
		    @for(workgroupList){
		    <option  @if(project.getWorkgroup() != null && (project.getWorkgroup().getId() == _.getId())){ selected="selected" } value="@_.getId()">@_.getName()</option>
		    }
		  </select>
		  <label>@message("project.workgroup")</label>
		</div>
      </div>
      <div class="row">
      	<div class="input-field col s12">
          <textarea id="description" name="description" class="materialize-textarea"></textarea>
          <label for="description">@message("project.description")</label>
        </div>
      </div>
      <!--  
      <div class="row">
      	<label for="tags">@message("project.tags")</label>
		<div class="input-field col s12">
			<div class="chips" id="tagsContainer"></div>
		</div>
		<input type="hidden" name="tags" id="tags">
      </div>
      -->
      <div class="row">
      	<h5>Add Mashups Projects</h5>
      	<div class="input-field col s12">
          <input id="addmashups" name="addmashupsId" type="hidden" value="" class="input-xxlarge" style="width:100%">
        </div>
      </div>
    </form>
</div>

@section("footerscript"){ 
	<script>
	function saveProject()
	{
		$("#newProjectForm").submit();
	}

	$(document).ready(function() {
	  $('select').material_select();
	  //$('.chips').material_chip();
	});	
	
	//The url we will send our get request to
	var searchUrl = '@url("/")user/gui/searchmashups.json';
	var pageSize = 20;
	
	$(function()
	{	
		function format(item) { return item.name; };
		function formatResult(item) 
		{ 
			return '<div ><strong>'+item.name+'</strong></div>';
		};	
		
		$('#addmashups').select2({
			width:'resolve',		
			multiple:true,
		    placeholder: 'Project Name',
		    //Does the user have to enter any data before sending the ajax request
		    minimumInputLength: 0,            
		    allowClear: true,
		    ajax: {
		        //How long the user has to pause their typing before sending the next request
		        quietMillis: 150,
		        //The url of the json service
		        url: searchUrl,
		        dataType: 'json',
		        //Our search term and what page we are on
		        data: function (term, page) 
		        {
		        	var workgroupId = -1;
		        	
		        	if($("#workgroup_id option:selected").val() == "")
		        		alert("You must select a workgroup");
		        	else
		        		workgroupId = $("#workgroup_id option:selected").val();
		        	
		            return {
		                pagesize: pageSize,
		                page: page,
		                searchterm: term,
		                wgId: workgroupId
		            };
		        },
		        results: function (data, page) {
		        	//console.log(data);
		            //Used to determine whether or not there are more results available,
		            //and if requests for more data should be sent in the infinite scrolling
		            var more = (page * pageSize) < data.total; 
		            return { results: data.results, more: more };
		        }
		    },
		    formatSelection: format,
            formatResult: formatResult
		});
	});
</script> 
}