@args GuiProject project, List<Comment> comments, Profile projectOwner, AccountDTO loggeduser, boolean loggedOwner
@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Project comments")


<ul class="breadcrumb">
	<li>
		<a href='@url("/")user/gui/list'>@message("project.management.my")</a>
		<span class="divider">/</span>
	</li>
	<li>
		<a href='@url("/")user/gui/@project.getId()/details'>@project.getName()</a>
		<span class="divider">/</span>
	</li>
	<li class="active">@message("project.management.comments")</li>
</ul>


<div class="row-fluid">

	<div class="span3">
	@invoke("shared.guiprojectmenu", project.getId(), "project_comments", loggedOwner ) 
	</div>
	<div class="span9">

		
		<div class="row-fluid">
			<div class="span6">
				<table class="table ">
					<tr>
						<th>@message("project.management.name")</th>
						<td>@project.getName()</td>
					</tr>					
				</table>
			</div>
		</div>
		<h4>@message("project.management.comments")</h4>
		
		<div style="max-height: 400px; overflow: auto">
		
		@for(Comment cc: comments ){
		<blockquote>
			@cc.getContent()
			<small >
				<cite>@cc.getProfile().getFirstName() @cc.getProfile().getLastName()</cite> 
				@dateFormat(cc.getCreatedAt(), format:"dd MMM yyyy, HH:mm:ss") 
				@if(cc.getProfile().getId() == loggeduser.getProfile().getId()){
					<a href='@url("/")user/project/@project.getId()/comments/@cc.getId()/delete' onclick="return confirm('@message("confirm.delete")')"><i class="icon-trash"></i> Delete</a>
				}
			</small>
			
		</blockquote>
		}
		</div>
		<hr>

		<form action='@url("/")user/gui/@project.getId()/comments/add' method="POST" class="well">
			<fieldset>
				<legend>@message("comment.management.add")</legend>				
					<textarea id="content" name="content" class="input-xxlarge" rows="3"></textarea>
				<div >					
					<button type="submit" class="btn btn-primary">@message("message.save")</button>
				</div>
			</fieldset>
		</form>
		
		<hr>


		

	</div>
</div>