<!-- ELEMENT CONTEXT MENU -->
<div id="elContextMenu">
	<ul>
		<li onclick="javascript:contextMenuAction('editHTML')" class="elContextMenuSpecial elContextMenuEditContent level-developer"><i class="material-icons">edit</i> @message("mockup.context_menu.edit_content")</li>
		<li onclick="javascript:contextMenuAction('editCSS')"><i class="material-icons">brush</i> @message("mockup.context_menu.edit_style")</li>
		<li onclick="javascript:contextMenuAction('editProperties')" class="level-advanced"><i class="material-icons">build</i> @message("mockup.context_menu.edit_properties")</li>
		
		<li class="elContextMenuSeparator elContextMenuSpecial elContextMenuTable"></li>
		<li class="elContextMenuSpecial elContextMenuTable" onclick="javascript:contextMenuAction('tableModifyTable')"><i class="material-icons" style="color:#827717">settings</i> @message("mockup.context_menu.modify_table")</li>
		
		<li class="elContextMenuSeparator elContextMenuSpecial elContextMenuForm"></li>
		<li class="elContextMenuSpecial elContextMenuForm" onclick="javascript:contextMenuAction('formAddInput')"><i class="material-icons" style="color:#827717">add</i> @message("mockup.context_menu.add_input")</li>
		<li class="elContextMenuSpecial elContextMenuForm level-developer" onclick="javascript:contextMenuAction('formSettings')"><i class="material-icons" style="color:#827717">settings</i> @message("mockup.context_menu.settings")</li>
		
		<li class="elContextMenuSeparator elContextMenuSpecial elContextMenuGmap level-advanced"></li>
		<li class="elContextMenuSpecial elContextMenuGmap level-advanced" onclick="javascript:contextMenuAction('gmapSettings')"><i class="material-icons" style="color:#827717">settings</i> @message("mockup.context_menu.settings")</li>
		
		<li class="elContextMenuSeparator elContextMenuSpecial elContextMenuHeading"></li>
		<li class="elContextMenuSpecial elContextMenuHeading" onclick="javascript:contextMenuAction('headingSettings')"><i class="material-icons" style="color:#827717">settings</i> @message("mockup.context_menu.settings")</li>
		
		<li class="elContextMenuSeparator elContextMenuSpecial elContextMenuInput level-developer"></li>
		<li class="elContextMenuSpecial elContextMenuInput level-developer" onclick="javascript:contextMenuAction('setInput')"><i class="material-icons" style="color:#827717">settings</i> @message("mockup.context_menu.set_input")</li>
		
		<li class="elContextMenuSeparator elContextMenuSpecial elContextMenuBindable level-developer"></li>
		<li class="elContextMenuSpecial elContextMenuBindable level-developer" onclick="javascript:contextMenuAction('bind')"><i class="material-icons" style="color:#0d47a1">device_hub</i> @message("mockup.context_menu.bind")</li>
		<li class="elContextMenuSpecial elContextMenuBindRemove level-developer" onclick="javascript:contextMenuAction('removeBind')"><i class="material-icons" style="color:#0d47a1">delete</i> @message("mockup.context_menu.remove_binding")</li>
		
		<li class="elContextMenuSeparator"></li>
		<li onclick="javascript:contextMenuAction('remove')"><i class="material-icons" style="color:#d50000">cancel</i> @message("mockup.context_menu.delete")</li>
	</ul>
</div>

<div id="elContextMenuLayer">
</div>

<style>
#elContextMenuLayer
{
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 100;
}

#elContextMenu
{
	position: fixed;
	display: none;
	
	z-index: 1000;
	
	width: 200px;
	background: white !important;
	border: 1px solid #e0e0e0;
	box-shadow: 1px 1px 1px gray;
	padding: 5px !important;
	font-size: 14px !important;
}

.elContextMenuSpecial
{
	display: none;
}

#elContextMenu > ul
{
	margin: 0 !important;
}

#elContextMenu > ul > li > .material-icons
{
	font-size: 18px !important;
}

#elContextMenu > ul > li:hover
{
	background: #e3f2fd !important;
	cursor: pointer;
}

.elContextMenuSeparator
{
	height: 10px;
}
</style>