@args GuiProjectDetailsViewModel model, GuiProject guiproject, AccountDTO loggeduser, IdeaWorkgroup ideawg, List<Project> mashupProjectList
@extends("shared.userlayout", loggeduser:loggeduser, section:"guiprojects", title:"Gui Project detail")

@import it.eng.PropertyGetter;

@{
	String imsIdeaPage = PropertyGetter.getProperty("idea.ideaPage");
	String linkIdea = "";
	if(ideawg != null)
		linkIdea = imsIdeaPage.replace("!IDEA_ID!", ideawg.getIdeaId() + "");
		
	String apkMkpPage = "";
	if(model.getProject().getApkMkpId() != 0)
		apkMkpPage = PropertyGetter.getProperty("mkp.artefact.publication.page").replace("!ARTEFACT_ID!", Integer.toString(model.getProject().getApkMkpId()));
		
	String webMkpPage = "";
	if(model.getProject().getWebMkpId() != 0)
		webMkpPage = PropertyGetter.getProperty("mkp.artefact.publication.page").replace("!ARTEFACT_ID!", Integer.toString(model.getProject().getWebMkpId()));
}

@{
	String mashupIds = "";
	
	if(mashupProjectList.size() > 0)
	{
		for(int i = 0; i < mashupProjectList.size() - 1; i++)
			mashupIds += mashupProjectList.get(i).getId() + ",";
	
		mashupIds += mashupProjectList.get(mashupProjectList.size() - 1).getId();
	}
}

@section("extraheader") {
<script type="text/javascript" src='@url("/")resources/js/jquery/select2/select2.min.js'></script> 
<link type="text/css" rel="stylesheet" href='@url("/resources/js/jquery/select2/select2.css")' />
}

<!-- Modal Delete Project Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.delete") @model.getProject().getName()</h4>
    <p>@message("projects.messages.delete_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='@url("/")user/gui/@model.getProject().getId()/delete/execute' method="POST">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Delete Comment Confirmation -->
<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>@message("projects.actions.delete_comment")</h4>
    <p>@message("projects.messages.delete_comment_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='' method="GET">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Remove Member Confirmation -->
<div id="modal4" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.remove") <span class="memberName"></span></h4>
    <p>@message("projects.messages.remove_member_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='' method="GET">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Remove Mashup Confirmation -->
<div id="modal5" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.remove") <span class="mashupName"></span></h4>
    <p>@message("projects.messages.remove_mashup_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='' method="GET">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Publish Project -->
<div id="modal6" class="modal">
  <div class="modal-content">
    <h4 style="text-align:center">@message("projects.actions.publish")</h4>
    <p style="text-align:center">@message("projects.messages.publish_select_type")</p>
    <br>
    <div class="row" style="text-align: center">
		<a onclick="javascript:showPublishConfirm('apk')" class="waves-effect waves-light btn" href="#">@message("general.label.mobile_app")</a>
		<a onclick="javascript:showPublishConfirm('web')" class="waves-effect waves-light btn" href="#">@message("general.label.web_app")</a>
	</div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Publish Project Confirmation -->
<div id="modal7" class="modal">
  <div class="modal-content">
    <h4>@message("projects.actions.publish")</h4>
    <p>@message("projects.messages.publish_overwrite.alert")<br>@message("projects.messages.publish_overwrite.confirm")</p>
  </div>
  <div class="modal-footer">
  	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:publishProject()">@message("general.actions.confirm")</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Delete Project Confirmation -->
<div id="modalEditInfo" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.edit") <span class="infoToBeEdited"></span></h4>
    <p>@message("projects.messages.insert_info") <span class="infoToBeEdited"></span></p>
	<br>
    <form id="editInfoForm" action='@url("/user/gui/edit/execute")' method="POST">
		<input id="id" name="id" type="hidden" value="@model.getProject().getId()" />
		<input id="workgroup.id" name="workgroup.id" type="hidden" value="@model.getProject().getWorkgroup().getId()" />
		<input id="createdAt" name="createdAt" type="hidden" value="@model.getProject().getCreatedAt()" />
		
		<div class="input-field col s12" id="edit_name">
	      <input id="name" name="name" type="text" class="project-name-chars" value="@model.getProject().getName()">
	      <label for="name" style="left:0">@message("projects.general.name")</label>
	    </div>
	    
	    <div class="input-field col s12" id="edit_description">
	      <textarea id="description" name="description" class="materialize-textarea">@model.getProject().getDescription()</textarea>
	      <label for="description" style="left:0">@message("projects.general.description")</label>
	    </div>				
	</form>
  </div>
  <div class="modal-footer">
  	<button class="modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:editInfoExecute()">@message("general.actions.confirm")</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<div class="">
	<div class="back-button-container">
		<a class="back-button" href='@url("/user/gui/list")'>
	  		<i class="material-icons left">arrow_back</i> @message("projects.actions.to_list")
		</a>
	</div>
	<br>
	<div style="position: relative">
		<h4 class="section-title">@model.getProject().getName()</h4>
		<!-- FAB button -->
		<span class="fixed-action-btn horizontal">
		  <a class="btn-floating btn-large fab-fixed-button">
		    <i class="large material-icons">menu</i>
		  </a>
		  <ul>
		    <li><a class="btn-floating cyan darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("projects.actions.edit")'
		      href='@url("/")user/gui/@model.getProject().getId()/editor'><i class="material-icons">create</i></a></li>
		    <li><a class="btn-floating light-green darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("projects.actions.preview")'
		      href='@url("/")guieditor/project_repository/gprj_@model.getProject().getId()/@model.getProject().getSpaName()@.html' target="_blank"><i class="material-icons">devices</i></a></li>
		    <li><a class="btn-floating purple darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("projects.actions.export_webapp")'
		      href='@url("/")user/gui/@model.getProject().getId()/export/web'><i class="material-icons">laptop</i></a></li>
		    <li><a class="btn-floating purple darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("projects.actions.export_mobile")'
		      onclick="javascript:exportApp(@model.getProject().getId())" href="#"><i class="material-icons">smartphone</i></a></li>
		    @if(model.getOwner().getId() == loggeduser.getProfile().getId()) {
		    <li><a class="btn-floating deep-orange darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("projects.actions.publish")' 
		  	onclick="javascript:showPublishProject(@model.getProject().getId(), @model.getProject().getApkMkpId(), @model.getProject().getWebMkpId())"
		  	style="cursor:pointer">
		  		<i class="material-icons export-icon">publish</i>
		  	</a></li>
		    <!-- Modal Trigger -->
		    <li><a class="btn-floating red accent-4 modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("projects.actions.delete")'
		    href="#modal1"><i class="material-icons">delete</i></a></li>
		    }
		  </ul>
		</span>
	</div>
	<br>
	<div class="">
	    <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s3"><a class="active" href="#projectinfo">@message("projects.details.info")</a></li>
	        @if(loggeduser.getProfile().getLevel() != 1) { <li class="tab col s3"><a href="#projectmashups">@message("projects.details.mashups.title")</a></li> }
	        <li class="tab col s3"><a href="#projectmembers">@message("projects.details.members.title")</a></li>
	      </ul>
	    </div>
	    <div id="projectinfo" class="col s12 tabContainer">
	     <div class="row">
	      <div class="col l6 s12">
	      	<h5>@message("projects.details.info")</h5>
	      	<ul class="">
	    		<li>
	    			<label>@message("projects.general.name")</label>
	    			@if(model.getOwner().getId() == loggeduser.getProfile().getId()) {
	    			&nbsp;&nbsp;<i class="tiny material-icons edit-icon tooltipped" onclick="javascript:editInfo('name')" data-position="right" data-tooltip='@message("general.actions.edit") @message("projects.general.name")' style="cursor: pointer">create</i>
	    			}
	    			<p>@model.getProject().getName()</p>
	    		</li>
	    		<li><label>@message("projects.general.workgroup")</label><p>@model.getProject().getWorkgroup().getName()</p></li>
	    		<li>
	    			<label>@message("projects.general.description")</label>
	    			@if(model.getOwner().getId() == loggeduser.getProfile().getId()) {
	    			&nbsp;&nbsp;<i class="tiny material-icons edit-icon tooltipped" onclick="javascript:editInfo('description')" data-position="right" data-tooltip='@message("general.actions.edit") @message("projects.general.description")' style="cursor: pointer">create</i>
	    			}
	    			<p>@model.getProject().getDescription()</p>
	    		</li>
	    		<li><label>@message("projects.details.owner")</label><p>@model.getOwner().getFirstName() @model.getOwner().getLastName()</p></li>
	    		<li>
					<label>@message("projects.details.members.title")</label>
					<p><ul>
					@for(Profile p : model.getMembers()){
						@if(loggeduser.getProfile().getId() != p.getId()){
							<li>@p.getFirstName() @p.getLastName()</li>
						}
					}
					</ul></p>
				</li>
	    		@if(ideawg != null)
				{
				<li><label>@message("projects.details.idea")</label><p><a target="_blank" href="@linkIdea">@ideawg.getIdeaName()</a></p></li>
				}
				@if(model.getProject().getApkMkpId() != 0)
				{
				<li><label>@message("projects.details.mkp.apk")</label><p><a target="_blank" href="@apkMkpPage">@message("projects.details.mkp.goto_app")</a></p></li>
				}
				@if(model.getProject().getWebMkpId() != 0)
				{
				<li><label>@message("projects.details.mkp.web")</label><p><a target="_blank" href="@webMkpPage">@message("projects.details.mkp.goto_app")</a></p></li>
				}
	    	</ul>	 
	      </div>
	      @if(loggeduser.getProfile().getLevel() != 1) {
	      <div class="col l6 s12">
	      	<h5>@message("projects.details.resources.title") <i class="material-icons circle tooltipped" data-position="right" data-delay="50" data-tooltip='@message("projects.details.resources.help")'>help</i></h5>
	      	<ul>
		      	<li>
					<label>@message("projects.details.resources.used_mashups")</label>
					<p><ul>
					@for(Project p : mashupProjectList)
						<li><a href="/visualcomposer/user/project/@p.getId()/details">@p.getName()</a></li>
					}
					</ul></p>
				</li>
	      	</ul>
	      </div>	
	      }      
	     </div>	     
		<div class="col s12">	
		 	<h5>@message("projects.details.comments.title")</h5>	    	
		  	@if(model.getComments().size() > 0) {
		  	<ul class="collection">
		  	@for(Comment cc: model.getComments()){
			<li class="collection-item avatar">
			<i class="material-icons circle">comment</i>
			<span class="title">@cc.getContent()</span>
			<p>
				<small><cite>@cc.getProfile().getFirstName() @cc.getProfile().getLastName()</cite></small>
				<br>
				<small><cite>@dateFormat(cc.getCreatedAt(), format:"dd MMM yyyy, HH:mm:ss")</cite></small>
			</p>
			<div href="#!" class="secondary-content">	
			@if(cc.getProfile().getId() == loggeduser.getProfile().getId()){
				<a onclick="javascript:deleteComment(@cc.getId())"><i class="material-icons delete-icon tooltipped" data-position="left" data-tooltip='@message("projects.actions.delete_comment")' style="cursor:pointer">delete</i></a>
				}
				</div>			
			</li>
			}
			</ul>
			} else {
				<strong><i>@message("projects.messages.no_comments")</i></strong><br><br>
			}
			
		</div>   

			<div class="row">	
				<form action='@url("/")user/gui/@model.getProject().getId()/comments/add' method="POST" class="col s12">
					<div class="row">
						<fieldset>
							<legend>&nbsp;@message("projects.details.comments.add")&nbsp;</legend>				
								<textarea id="content" name="content" class="input-xxlarge" rows="3"></textarea>
							<div>					
								<button type="submit" class="btn btn-primary">@message("general.actions.add")</button>
							</div>
						</fieldset>
					</div>
				</form>
			</div> 
	    </div> <!-- projectinfo -->
	    @if(loggeduser.getProfile().getLevel() != 1) {
	    <div id="projectmashups" class="col s12 tabContainer">
	    	<div class="row">
	    		@if(mashupProjectList.size() > 0) {
	    		<ul class="collection">
	    			@for(Project p : mashupProjectList)	{		
				    <li class="collection-item avatar">
				      <i class="material-icons circle">folder</i>
				      <span class="title">@p.getName()</span>
				      <p>@p.getDescription()</p>
				      <div href="#!" class="secondary-content">				      
				      	<a onclick="javascript:removeMashup('@p.getName()', @p.getId())">
				      		<i class="material-icons delete-icon tooltipped" data-position="left" data-tooltip='@message("projects.actions.remove_mashup")' style="cursor:pointer">close</i>
						</a>
				      </div>
				    </li>
					}
				</ul>
				} else {
				<strong><i>@message("projects.messages.no_mashups")</i></strong>
				}
	    	</div>

	    	<div class="row">
				<form action='@url("/user/gui/edit/execute")' method="POST" class="form">
					<div class="row">
						<fieldset>
							<legend>&nbsp;@message("projects.details.mashups.add")&nbsp;</legend>	
							<div>		
								<input id="addmashups" name="addmashupsId" type="hidden" value="@mashupIds" class="input-xxlarge" style="width: 100%">
							</div>	
							<br>
							<div>					
								<button id="addMashupButton" type="submit" class="btn btn-primary">
									<i class="icon-plus"></i> @message("general.actions.add")
								</button>
							</div>
						</fieldset>
					</div>
					<input type="hidden" id="name" name="name" value="@model.getProject().getName()" />
					<input type="hidden" id="description" name="description" value="@model.getProject().getName()" />
					<input type="hidden" id="workgroup_id" name="workgroup_id" value="@model.getProject().getWorkgroup().getId()" />
				</form>
	    	</div>
	    </div> <!-- projectmashups -->
	    }

	    <div id="projectmembers" class="col s12 tabContainer">
	    	<div class="row">
	    		@if(model.getMembers().size() > 1) {
	    		<ul class="collection">
	    			@for(Profile p : model.getMembers()){ 
	    				@if(loggeduser.getProfile().getId() != p.getId()){				
				    <li class="collection-item avatar">
				      <i class="material-icons circle">person</i>
				      <span class="title">@p.getFirstName() @p.getLastName()</span>
				      <p>@p.getEmail()</p>
				      @if(model.getOwner().getId() == loggeduser.getProfile().getId() && ideawg == null) {
				      <div href="#!" class="secondary-content">				      
				      	<a onclick="javascript:removeMember('@p.getFirstName() @p.getLastName()', @p.getId())">
				      		<i class="material-icons delete-icon tooltipped" data-position="left" data-tooltip='@message("projects.actions.remove_member")' style="cursor:pointer">close</i>
						</a>
				      </div>
				      }
				    </li>
						}
					}
				</ul>
				} else {
				<strong><i>@message("projects.messages.no_members")</i></strong>
				}
	    	</div>
	    	@if(model.getOwner().getId() == loggeduser.getProfile().getId() && ideawg == null) {
	    	<div class="row">
				<form action='@url("/")user/gui/@model.getProject().getId()/members/add' method="POST" class="form">
					<div class="row">
						<fieldset>
							<legend>&nbsp;@message("projects.details.members.add")&nbsp;</legend>	
							<div>		
								<input id="addmembers" name="addmembersId" type="hidden" value="" class="input-xxlarge" style="width:100%">
							</div>	
							<br>
							<div>					
								<button id="addMemberButton" type="submit" class="btn btn-primary">
									<i class="icon-plus"></i> @message("general.actions.add")
								</button>
							</div>
						</fieldset>
					</div>
				</form>
	    	</div>
	    	}
		</div>
	</div>
</div>

<div id="spinner_layer" class="valign-wrapper row" style="display: none">
	<div>
		<div id="build_wait">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.wait")</h5>
			</div>
			<br>
			<div class="progress row">
				<div class="indeterminate"></div>
			</div>
		</div>
		<div class="build_result" id="build_result_200">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.ready")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn download_apk" href="#"><i class="material-icons left">file_download</i> @message("projects.actions.download_apk")</a>
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn download_project" href="#"><i class="material-icons left">file_download</i> @message("projects.actions.download_cordova")</a>
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
		<div class="build_result" id="build_result_304">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.ready")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn download_apk" href="#"><i class="material-icons left">file_download</i> @message("projects.actions.download_apk")</a>
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn download_project" href="#"><i class="material-icons left">file_download</i> @message("projects.actions.download_cordova")</a>
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
		<div class="build_result" id="build_result_401">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.not_logged")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
		<div class="build_result" id="build_result_403">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.forbidden")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
		<div class="build_result" id="build_result_409">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.stillbuilding")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
		<div class="build_result" id="build_result_500">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.error")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
	</div>
</div>

@section("footerscript"){ 
<script>

	function exportApp(projectId)
	{	
		$.ajax({
			url : '@url("/")user/gui/' + projectId + '/export_apk',
			type : 'POST',
			beforeSend: function()
			{			
				$("#build_wait").show();
				$(".build_result").hide();
				$("#spinner_layer").show();
			},
			success : function(response)
			{
				console.log(response);
				
				if(response.success)
				{
					$(".download_apk").attr("href", '@url("/")user/gui/' + projectId + '/download_apk');
					$(".download_project").attr("href", '@url("/")user/gui/' + projectId + '/export/app');
				}
			
				$("#build_wait").hide();
				$("#build_result_" + response.status).show();
				
			}
		});
	}
	
	function hideLayer()
	{
		$("#spinner_layer").hide();
	}


	$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal-trigger').leanModal();
		
		$('.tooltipped').tooltip({delay: 50});
		
		$('#addMashupButton').prop('disabled', true);
		$('#addMemberButton').prop('disabled', true);
		
		$('#addmashups').on('change', function() {
			
			var currValue = $('#addmashups').val();
			
			$('#addMashupButton').prop('disabled', currValue == "");
		});
		
		$('#addmembers').on('change', function() {
			
			var currValue = $('#addmembers').val();
			
			$('#addMemberButton').prop('disabled', currValue == "");
		});
	});

	//The url we will send our get request to
	var searchUrl = '@url("/")user/gui/searchmashups.json';
	var pageSize = 0;
	
	$(function()
	{	
		function format(item) { return item.name; };
		function formatResult(item) 
		{ 
			return '<div ><strong>'+item.name+'</strong></div>';
		};	
		
		$('#addmashups').select2({
			width:'resolve',		
			multiple:true,
		    placeholder: '@message("projects.general.name")',
		    //Does the user have to enter any data before sending the ajax request
		    minimumInputLength: 0,            
		    allowClear: true,
		    ajax: {
		        //How long the user has to pause their typing before sending the next request
		        quietMillis: 150,
		        //The url of the json service
		        url: searchUrl,
		        dataType: 'json',
		        //Our search term and what page we are on
		        data: function (term, page) 
		        {
		        	var workgroupId = $("#workgroup_id").val();
		        	
		            return {
		                pagesize: pageSize,
		                page: page,
		                searchterm: term,
		                wgId: workgroupId
		            };
		        },
		        results: function (data, page) {
		        	//console.log(data);
		            //Used to determine whether or not there are more results available,
		            //and if requests for more data should be sent in the infinite scrolling
		            var more = (page * data.total) < data.total; 
		            return { results: data.results, more: more };
		        }
		    },
		    formatSelection: format,
            formatResult: formatResult
		});
	});
	
	var attendeeUrl2 = '@url("/")user/gui/@model.getProject().getId()/workgroupprofiles/search.json';
	var pageSize2 = 0;

	$(function(){	
		function format(item) { return item.name; };
		function formatResult(item) { 
			return '<div ><strong>'+item.name+'</strong></div><div ><small>'+item.email+'<small></div>';
		};	
		$('#addmembers').select2({
			width:'resolve',		
			multiple:true,
		    placeholder: '@message("projects.details.members.placeholder")',
		    //Does the user have to enter any data before sending the ajax request
		    minimumInputLength: 0,            
		    allowClear: true,
		    ajax: {
		        //How long the user has to pause their typing before sending the next request
		        quietMillis: 150,
		        //The url of the json service
		        url: attendeeUrl2,
		        dataType: 'json',
		        //Our search term and what page we are on
		        data: function (term, page) {
		            return {
		                pagesize: pageSize,
		                page: page,
		                searchterm: term
		            };
		        },
		        results: function (data, page) {
		            //Used to determine whether or not there are more results available,
		            //and if requests for more data should be sent in the infinite scrolling
		            var more = (page * data.total) < data.total; 
		            return { results: data.results, more: more };
		        }
		    },
		    formatSelection: format,
            formatResult: formatResult
		});
	});
	
	function deleteComment(id)
	{
		$("#modal3").find("form").attr("action", '@url("/")user/gui/@model.getProject().getId()/comments/' + id + '/delete');
		
		$("#modal3").openModal();
	}
	
	function removeMember(name, id)
	{
		$(".memberName").html(name);
		
		$("#modal4").find("form").attr("action", '@url("/")user/gui/@model.getProject().getId()/members/' + id + '/remove');
		
		$("#modal4").openModal();
	}
	
	function removeMashup(name, id)
	{
		$(".mashupName").html(name);
		
		$("#modal5").find("form").attr("action", '@url("/")user/gui/@model.getProject().getId()/mashup/' + id + '/remove');
		
		$("#modal5").openModal();
	}
	
	function showPublishProject(id, apkMkpId, webMkpId)
	{
		toBePublished = { id : id, apkMkpId : apkMkpId, webMkpId : webMkpId };
		
		$('#modal6').openModal();
	}

	function showPublishConfirm(type)
	{
		var skip = false;
		
		if(type == 'web')
		{
			if(toBePublished.webMkpId == 0)
				skip = true;
		}
		else
		{
			if(toBePublished.apkMkpId == 0)
				skip = true;
		}	
		
		toBePublished.type = type;
		
		if(skip)
		{
			publishProject();
			//console.log(toBePublished);
			$('#modal6').closeModal();
			
		}
		else
		{
			$('#modal7').openModal();
		}
	}

	function publishProject()
	{	
		$.ajax({
			type: "GET",
			dataType : 'json',
			url: '@url("/")user/gui/' + toBePublished.id + '/publish/' + toBePublished.type,
			success :function(response)
			{
				console.log(response);
				
				if(response.success)
				{
					var win = window.open(response.url, '_blank');
					//win.focus();
				}
				else
				{
					var toastContent = $('<span class="toastError">@message("projects.messages.publish_error")</span>');
					Materialize.toast(toastContent, 2000);
					$(".toastError").parent().addClass("toast-error");
				}
				
				$('#modal7').closeModal();
			}
		});
	}
	
	function editInfo(info)
	{
		var infoName = '@message("projects.general.name")';
		var infoDescription = '@message("projects.general.description")';
		
		$('.infoToBeEdited').html(info == 'name' ? infoName : infoDescription);
		
		$('#edit_name').hide();
		$('#edit_description').hide();
		
		$('#edit_' + info).show();
		
		$("#modalEditInfo").openModal();
	}
	
	function editInfoExecute()
	{
		$("#editInfoForm").submit();
	}
	</script> 
}