@args GuiProject guiproject, AccountDTO loggeduser, boolean loggedOwner, List<Project> mashupProjectList

@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Edit Gui Project")

@section("extraheader"){
	<link type="text/css" rel="stylesheet" href='@url("/resources/js/bootstrap/css/bootstrap-tagsinput.css")' />
	<link type="text/css" rel="stylesheet" href='@url("/resources/js/jquery/select2/select2.css")' />
	<script type="text/javascript" src='@url("/resources/js/bootstrap/js/bootstrap-tagsinput.min.js")'></script>
}

@{
	String mashupIds = "";
	
	if(mashupProjectList.size() > 0)
	{
		for(int i = 0; i < mashupProjectList.size() - 1; i++)
			mashupIds += mashupProjectList.get(i).getId() + ",";
	
		mashupIds += mashupProjectList.get(mashupProjectList.size() - 1).getId();
	}
}

<ul class="breadcrumb">
	<li><a href='@url("/")user/gui/list'>@message("project.management.my")</a>
		<span class="divider">/</span></li>
	<li><a href='@url("/")user/gui/@guiproject.getId()/details'>@guiproject.getName()</a>
		<span class="divider">/</span></li>
	<li class="active">@message("project.management.edit")</li>
</ul>

<div class="row-fluid">
	<div class="span3">
		@invoke("shared.guiprojectmenu", guiproject.getId(), "guiproject_edit", loggedOwner )
	</div>
	<div class="span9">
		<h4>@message("project.management.edit")</h4>
		<form action='@url("/user/gui/edit/execute")' method="POST">

			<div>
				<label for="name">@message("project.name") (*):</label> <input
					id="name" name="name" class="input-xxlarge" type="text"
					value="@guiproject.getName()" required />
			</div>
			<div>
				<label>@message("project.workgroup"):</label> <input type="text"
					readonly class="input-xxlarge"
					value="@guiproject.getWorkgroup().getName()">
			</div>
			<input type="hidden" id="workgroup_id" value="@guiproject.getWorkgroup().getId()" />
			<div>
				<label for="description"> @message("project.description"):</label>
				<textarea id="description" name="description" class="input-xxlarge"
					maxlength="255" rows="3">@guiproject.getDescription()</textarea>
			</div>
			<div>
				<label for="tags"> @message("project.tags"):</label>
				<input id="tags" name="tags" data-role="tagsinput" value="@guiproject.getTags()"/>
			</div>		
			<!-- 		
			<div>
				<label for="project.id">@message("guiproject.management.linkedmashup"):</label>				
				<select name="project.id" required>
					<option value="-1">none</option>
					@for(mprj: mashupProjectList){
						<option 
							@if(guiproject.getProject() !=null && guiproject.getProject().getId() == mprj.getId()) { 
								selected="selected"
							}
							value="@mprj.getId()">@mprj.getName()
						</option>
					}
				</select>						
								
			</div>
			-->
			
			@if(mashupProjectList.size() > 0)
			{
			<hr>
			<div>
			<h4>List of associated mashups</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<td>
							<strong>@message("project.name")</strong>
						</td>
						<td style="text-align: center;">
							<strong>@message("label.action")</strong>
						</td>
					</tr>
				</thead>
				<tbody>
					@for(Project p : mashupProjectList)
					{ 
					<tr>
						<td>@p.getName()</td>
						<td style="text-align: center;">
							<div class="btn-group">
								<a href='@url("/")user/gui/@guiproject.getId()/mashup/@p.getId()/remove' 
							class="btn btn-danger" onclick='return confirm("@message("message.confirm.remove")")'>
								<i class="icon-remove"></i> @message("label.remove")</a>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>
			</div>
			}
			
			<div class="alert alert-info alert-block">
				<h5>Add Mashups Projects</h5>
				<input id="addmashups" name="addmashupsId" type="hidden" value="@mashupIds" class="input-xxlarge" style="margin-bottom: 5px;width: 100%">
			</div>

			<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
		</form>
	</div>
</div>


@section("footerscript"){ 
	<script type="text/javascript" src='@url("/")resources/js/jquery/select2/select2.min.js'></script> 
	<script>
		//The url we will send our get request to
		var searchUrl = '@url("/")user/gui/searchmashups.json';
		var pageSize = 20;
		
		$(function()
		{	
			function format(item) { return item.name; };
			function formatResult(item) 
			{ 
				return '<div ><strong>'+item.name+'</strong></div>';
			};	
			
			$('#addmashups').select2({
				width:'resolve',		
				multiple:true,
			    placeholder: 'Project Name',
			    //Does the user have to enter any data before sending the ajax request
			    minimumInputLength: 0,            
			    allowClear: true,
			    ajax: {
			        //How long the user has to pause their typing before sending the next request
			        quietMillis: 150,
			        //The url of the json service
			        url: searchUrl,
			        dataType: 'json',
			        //Our search term and what page we are on
			        data: function (term, page) 
			        {
			        	var workgroupId = $("#workgroup_id").val();
			        	
			            return {
			                pagesize: pageSize,
			                page: page,
			                searchterm: term,
			                wgId: workgroupId
			            };
			        },
			        results: function (data, page) {
			        	//console.log(data);
			            //Used to determine whether or not there are more results available,
			            //and if requests for more data should be sent in the infinite scrolling
			            var more = (page * pageSize) < data.total; 
			            return { results: data.results, more: more };
			        }
			    },
			    formatSelection: format,
	            formatResult: formatResult
			});
		});
	</script> 
}