@args GuiProject project
@extends("shared.userlayout",loggeduser: loggeduser,section:"guiprojects", title:"Gadget Managemet")

<ul class="breadcrumb">
	<li>
		<a href="@url("/")user/gui/list">@message("project.management.my")</a>
		<span class="divider">/</span>
	</li>
	<li class="active">@project.getName()</li>
</ul>
<div class="row-fluid">
	<div class="span3">@invoke("shared.guiprojectmenu", @project.getId(), "project_home", model.isLoggedOwner())</div>

	<div class="span9">

		<h4>@message("socialgadget.export")</h4>

		<div>
			<form class="form-horizontal" id="updateGadgetPrefsForm" action='@url("/")user/gadget/@project.getId()/gadgetoperationexecute' method="post">
				<fieldset>
					@if(project.getHasGadget()){
						<label>@message("socialgadget.modulePrefs.url")</label>
						<blockquote>
							<strong>@fullUrl("/")extresources/prj_@project.getId()/gadget.xml</strong>
							<small>copy and paste into your gadget container</small>
						</blockquote>
					}
					<div class="control-group">
						<label class="control-label" for="modulePrefs_title">@message("socialgadget.modulePrefs.title"):</label>
						<div class="controls">
							<input type="text" id="modulePrefs_title" name="title"
								value="@project.getGadgetTitle()" class="input-xlarge"
								placeholder='@message("socialgadget.modulePrefs.title")' />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="modulePrefs_author">@message("socialgadget.modulePrefs.author"):</label>
						<div class="controls">
							<input type="text" id="modulePrefs_author" name="author"
								value="@project.getGadgetAuthor()" class="input-xlarge"
								placeholder='@message("socialgadget.modulePrefs.author")' />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="modulePrefs_author_email">@message("socialgadget.modulePrefs.author_email"):</label>
						<div class="controls">
							<input type="email" id="modulePrefs_author_email"
								name="authorEmail" value="@project.getGadgetAuthorEmail()"
								class="input-xlarge"
								placeholder='@message("socialgadget.modulePrefs.author_email")' />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="modulePrefs_description">@message("socialgadget.modulePrefs.description"):</label>
						<div class="controls">
							<textarea id="modulePrefs_description" name="description"
								class="input-xlarge"
								placeholder='@message("socialgadget.modulePrefs.description")'>@project.getGadgetDescription()</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="modulePrefs_width">@message("socialgadget.modulePrefs.width"):</label>
						<div class="controls">
							<input type="number" id="modulePrefs_width" name="width"
								value="@project.getGadgetWidth()" min="0" class=""
								placeholder='@message("socialgadget.modulePrefs.width")' />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="modulePrefs_height">@message("socialgadget.modulePrefs.height"):</label>
						<div class="controls">
							<input type="number" id="modulePrefs_height" name="height"
								value="@project.getGadgetHeight()" min="0" class=""
								placeholder='@message("socialgadget.modulePrefs.height")' />
						</div>
					</div>
				</fieldset>
				<fieldset>
					<input type="submit" name="save" class="btn btn-info" value="@message("socialgadget.modulePrefs.save")"/>
					@if(project.getHasGadget()){
					<input type="submit" name="export" class="btn btn-info" value="@message("socialgadget.modulePrefs.export")"/>
					}
				</fieldset>
			</form>
		</div>
	</div>
</div>