@args List<GuiProjectDTO> projectList 
@args List<Boolean> canPublish
@args AccountDTO loggeduser 
@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Gui Projects")

@section("extraheader"){
<script type="text/javascript" src='@url("/")resources/js/libs/list.min.js'></script>

<script>
$(document).ready(function (){
	var options = {
	  valueNames: [{ attr: 'data-title', name: 'project_title' }, { attr: 'data-time', name: 'project_updated' }]
	};

	projectList = new List('projects', options);
	
	// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	$('.modal-trigger').leanModal();
	
	$('.tooltipped').tooltip({delay: 50});
	
	$("#projectFilter").on('input', function() {
		setTimeout(function(){
			if(projectList.visibleItems.length == 0)
				$("#emptyList").show();
			else
				$("#emptyList").hide();
		}, 300);
	});
});

function toggleSort(elem)
{
	if($(elem).find(".sortUp").is(":visible"))
	{
		$(elem).find(".sortUp").hide();
		$(elem).find(".sortDown").show();
	}
	else
	{
		$(elem).find(".sortDown").hide();
		$(elem).find(".sortUp").show();
	}
}
</script>
}

@{
	int index = 0;
}

<h4 class="section-title">@message("home.mockup.title")</h4>

<div id="projects">
<div class="row">		
	<form class="col s12" action="#">
		<div class="row">
			<div class="input-field col l8 s12">
		    	<i class="material-icons prefix">search</i>
				<input name="criteria" id="projectFilter" placeholder='@message("projects.list.filter.placeholder")' type="text" class="search" value="" />
			</div>
		</div>
	</form>
</div>
<div class="row center" style="position: relative">	

	<a class="btn btn-small" href='@url("/user/gui/wizard")'>
	  <i class="material-icons left">add</i> @message("projects.list.new")
	</a>

	<!-- FAB button -->
	<span class="fixed-action-btn horizontal" style="bottom: -10px !important">
	  <a class="btn-floating btn-large fab-fixed-button">
	    <i class="large material-icons">sort</i>
	  </a>
	  <ul>
	    <li>
	    	<a class="btn-floating tooltipped sort" data-position="top" data-delay="50" data-tooltip='@message("projects.list.sort_by_name")'
	    data-sort="project_title" onclick="javascript:toggleSort(this)"><i class="material-icons">sort_by_alpha</i></a>
	    </li>
	    <li>
	    	<a class="btn-floating tooltipped sort" data-position="top" data-delay="50" data-tooltip='@message("projects.list.sort_by_update")'
	    data-sort="project_updated" onclick="javascript:toggleSort(this)"><i class="material-icons">update</i></a>
	    </li>
	  </ul>
	</span>
</div>

<ul class="collection list">
@for(project: projectList )
{
<li class="collection-item avatar">
  <i class="material-icons circle">folder</i>
  <span class="title"><a href='@url("/")user/gui/@project.getGuiProject().getId()/details' class="project_title" data-title="@project.getGuiProject().getName()">@project.getGuiProject().getName()</a></span>
  <p>@project.getGuiProject().getWorkgroup().getName() <br>
     @message("projects.list.updated_at") <span class="project_updated" data-time="@project.getGuiProject().getUpdatedAt()">@project.getGuiProject().getUpdatedAt().format("dd/MM/yyyy HH:mm:ss")</span>
  </p>
  <div href="#!" class="secondary-content">
  	<a class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip='@message("projects.actions.edit")' href='@url("/")user/gui/@project.getGuiProject().getId()/editor'>
  		<i class="material-icons edit-icon">create</i>
  	</a>
	<a class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip='@message("projects.actions.preview")' href='@url("/")guieditor/project_repository/gprj_@project.getGuiProject().getId()/@project.getGuiProject().getSpaName()@.html' target="_blank">
  		<i class="material-icons preview-icon">devices</i>
  	</a>
  	<a class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip='@message("projects.actions.export_webapp")' href='@url("/")user/gui/@project.getGuiProject().getId()/export/web'>
  		<i class="material-icons export-icon">laptop</i>
  	</a>
  	<span class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip='@message("projects.actions.export_mobile")' onclick="javascript:exportApp(@project.getGuiProject().getId())" style="cursor:pointer">
  		<i class="material-icons export-icon">smartphone</i>
  	</span>
  	@if(loggeduser.getProfile().getId() == project.getOwner().getId())
  	{
  	<a class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip='@message("projects.actions.publish")' 
  	onclick="javascript:showPublishProject(@project.getGuiProject().getId(), @project.getGuiProject().getApkMkpId(), @project.getGuiProject().getWebMkpId())"
  	style="cursor:pointer">
  		<i class="material-icons publish-icon">publish</i>
  	</a>
  	<a class="list-action-icon modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip='@message("projects.actions.delete")'
    href="#modal1" onclick="javascript:setProject('@project.getGuiProject().getName()', @project.getGuiProject().getId())">
    	<i class="material-icons delete-icon">delete</i>
    </a>
    }
  </div>
</li>
}
</ul>
<div class="row" id="emptyList" style="display:none">
	<h5 style="text-align:center">@message("projects.messages.no_results")</h5>
</div>
</div>

<!-- Modal Delete Project Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.delete") <span class="projectName"></span></h4>
    <p>@message("projects.messages.delete_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='' method="POST">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Publish Project -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4 style="text-align:center">@message("projects.actions.publish")</h4>
    <p style="text-align:center">@message("projects.messages.publish_select_type")</p>
    <br>
    <div class="row" style="text-align: center">
		<a onclick="javascript:showPublishConfirm('apk')" class="waves-effect waves-light btn" href="#">@message("general.label.mobile_app")</a>
		<a onclick="javascript:showPublishConfirm('web')" class="waves-effect waves-light btn" href="#">@message("general.label.web_app")</a>
	</div>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Publish Project Confirmation -->
<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>@message("projects.actions.publish")</h4>
    <p>@message("projects.messages.publish_overwrite.alert")<br>@message("projects.messages.publish_overwrite.confirm")</p>
  </div>
  <div class="modal-footer">
  	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:publishProject()">@message("general.actions.confirm")</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<div id="spinner_layer" class="valign-wrapper row" style="display: none">
	<div>
		<div id="build_wait">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.wait")</h5>
			</div>
			<br>
			<div class="progress row">
				<div class="indeterminate"></div>
			</div>
		</div>
		<div class="build_result" id="build_result_200">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.ready")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn download_apk" href="#"><i class="material-icons left">file_download</i> @message("projects.actions.download_apk")</a>
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn download_project" href="#"><i class="material-icons left">file_download</i> @message("projects.actions.download_cordova")</a>
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
		<div class="build_result" id="build_result_304">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.ready")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn download_apk" href="#"><i class="material-icons left">file_download</i> @message("projects.actions.download_apk")</a>
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn download_project" href="#"><i class="material-icons left">file_download</i> @message("projects.actions.download_cordova")</a>
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
		<div class="build_result" id="build_result_401">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.not_logged")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
		<div class="build_result" id="build_result_403">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.forbidden")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
		<div class="build_result" id="build_result_409">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.stillbuilding")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
		<div class="build_result" id="build_result_500">
			<div class="row">
				<h5>@message("projects.messages.buildingapp.error")</h5>
			</div>
			<br>
			<div class="row" style="text-align: center">
				<a onclick="javascript:hideLayer()" class="waves-effect waves-light btn" href="#"><i class="material-icons left">close</i> @message("general.actions.close")</a>
			</div>
		</div>
	</div>
</div>

@section("footerscript"){ 
<script>

function setProject(name, id)
{
	$(".projectName").html(name);
	$("#modal1").find("form").attr("action", '@url("/")user/gui/' + id + '/delete/execute')
}

function exportApp(projectId)
{	
	$.ajax({
		url : '@url("/")user/gui/' + projectId + '/export_apk',
		type : 'POST',
		beforeSend: function()
		{			
			$("#build_wait").show();
			$(".build_result").hide();
			$("#spinner_layer").show();
		},
		success : function(response)
		{
			console.log(response);
			
			if(response.success)
			{
				$(".download_apk").attr("href", '@url("/")user/gui/' + projectId + '/download_apk');
				$(".download_project").attr("href", '@url("/")user/gui/' + projectId + '/export/app');
			}
		
			$("#build_wait").hide();
			$("#build_result_" + response.status).show();
			
		}
	});
}

function showPublishProject(id, apkMkpId, webMkpId)
{
	toBePublished = { id : id, apkMkpId : apkMkpId, webMkpId : webMkpId };
	
	$('#modal2').openModal();
}

function showPublishConfirm(type)
{
	var skip = false;
	
	if(type == 'web')
	{
		if(toBePublished.webMkpId == 0)
			skip = true;
	}
	else
	{
		if(toBePublished.apkMkpId == 0)
			skip = true;
	}	
	
	toBePublished.type = type;
	
	if(skip)
	{
		publishProject();
		//console.log(toBePublished);
		$('#modal2').closeModal();
		
	}
	else
	{
		$('#modal3').openModal();
	}
}

function publishProject()
{	
	$.ajax({
		type: "GET",
		dataType : 'json',
		url: '@url("/")user/gui/' + toBePublished.id + '/publish/' + toBePublished.type,
		success :function(response)
		{
			console.log(response);
			
			if(response.success)
			{
				var win = window.open(response.url, '_blank');
				//win.focus();
			}
			else
			{
				var toastContent = $('<span class="toastError">@message("projects.messages.publish_error")</span>');
				Materialize.toast(toastContent, 2000);
				$(".toastError").parent().addClass("toast-error");
			}
			
			$('#modal3').closeModal();
		}
	});
}

function hideLayer()
{
	$("#spinner_layer").hide();
}
</script>
}
