@args GuiProjectMembersViewModel model, AccountDTO loggeduser 
@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Mockup Project Members")

@section("extraheader") {
<link type="text/css" rel="stylesheet" href='@url("/resources/js/jquery/select2/select2.css")' />
}
<ul class="breadcrumb">
	<li>
		<a href='@url("/")user/gui/list'>@message("project.management.my")</a>
		<span class="divider">/</span>
	</li>
	<li>
		<a href='@url("/")user/gui/@model.getGuiProject().getId()/details'>@model.getGuiProject().getName()</a>
		<span class="divider">/</span>
	</li>
	<li class="active">@message("project.management.comments")</li>
</ul>


<div class="row-fluid">

	<div class="span3">
		@invoke("shared.guiprojectmenu", model.getGuiProject().getId(), "project_members", model.isLoggedOwner())
		
	</div>
	<div class="span9">

		<div class="row-fluid">
			<div class="span6">
				<table class="table ">
					<tr>
						<th>@message("project.management.name")</th>
						<td>@model.getGuiProject().getName()</td>
					</tr>					
					<tr>
						<th>@message("project.workgroup")</th>
						<td>@model.getGuiProject().getWorkgroup().getName()</td>
						<td></td>
					</tr>
					<tr>
						<th>@message("project.management.owner")</th>
						<td>@model.getOwner().getFirstName() @model.getOwner().getLastName()</td>
					</tr>
				</table>
			</div>
		</div>
		@if(model.getMembers().size() > 1){
		<h4>@message("project.management.members")</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<td>
						<strong>@message("profile.name")</strong>
					</td>
					<td>
						<strong>@message("profile.email")</strong>
					</td>
					<td style="text-align: center;">
						<strong>@message("label.action")</strong>
					</td>
				</tr>
			</thead>
			<tbody>
				@for(Profile p : model.getMembers()){ 
				@if(loggeduser.getProfile().getId() != p.getId()){
				<tr>
					<td>@p.getFirstName() @p.getLastName()</td>
					<td>@p.getEmail()</td>
					<td style="text-align: center;">
						<div class="btn-group">
							<a href='@url("/")user/gui/@model.getGuiProject().getId()/members/@p.getId()/remove' 
							class="btn btn-danger" onclick='return confirm("@message("message.confirm.remove")")'>
							<i class="icon-remove"></i> @message("label.remove")</a>
						</div>
					</td>
				</tr>
				} }
			</tbody>
		</table>
		}


		<div class="alert alert-info alert-block">
			<h5>@message("project.management.members.add")</h5>
			<form action='@url("/")user/gui/@model.getGuiProject().getId()/members/add' method="POST" class="form">
				<input id="addmembers" name="addmembersId" type="hidden" value="" class="input-xxlarge" style="margin-bottom: 5px;">
				<button type="submit" class="btn btn-primary">
					<i class="icon-plus"></i> @message("label.add")
				</button>
			</form>
		</div>
	</div>
</div>

@section("footerscript"){ 
	<script type="text/javascript" src='@url("/")resources/js/jquery/select2/select2.min.js'></script> 
	<script>
		//The url we will send our get request to
		var attendeeUrl = '@url("/")user/gui/@model.getGuiProject().getId()/workgroupprofiles/search.json';
		var pageSize = 20;

		$(function(){	
			function format(item) { return item.name; };
			function formatResult(item) { 
				return '<div ><strong>'+item.name+'</strong></div><div ><small>'+item.email+'<small></div>';
			};	
			$('#addmembers').select2({
				width:'resolve',		
				multiple:true,
			    placeholder: '@message("workgroup.management.members.nameoremail")',
			    //Does the user have to enter any data before sending the ajax request
			    minimumInputLength: 0,            
			    allowClear: true,
			    ajax: {
			        //How long the user has to pause their typing before sending the next request
			        quietMillis: 150,
			        //The url of the json service
			        url: attendeeUrl,
			        dataType: 'json',
			        //Our search term and what page we are on
			        data: function (term, page) {
			            return {
			                pagesize: pageSize,
			                page: page,
			                searchterm: term
			            };
			        },
			        results: function (data, page) {
			            //Used to determine whether or not there are more results available,
			            //and if requests for more data should be sent in the infinite scrolling
			            var more = (page * pageSize) < data.total; 
			            return { results: data.results, more: more };
			        }
			    },
			    formatSelection: format,
	            formatResult: formatResult
			});
		});
	</script> 
}