<!-- MODALS -->

<!-- Set Input -->
<div id="bindingInputParameter" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.set_input.title")</h4>
		<hr class="styleModalHr">
		<p class="row">@message("mockup.modals.set_input.description")</p>
		<div id="inputparamstreecontainer"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="setInputOk">@message("general.actions.ok")</a>
		<!-- <a href="#!" class=" modal-action waves-effect waves-green btn-flat" id="setInputClear">Clear</a> -->
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.close")</a>
	</div>
</div>

<!-- Invoke workflow -->
<div id="invokeWorkflow" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.invoke_datasources.title")</h4>
		<hr class="styleModalHr">
		<p class="row">@message("mockup.modals.invoke_datasources.description")</p>
		<div id="invokeWorkflowContainer"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="invokeWorkflowOk">@message("mockup.modals.invoke_datasources.confirm")</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.close")</a>
	</div>
</div>

<!-- Invoke workflow results -->
<div id="treeModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.invoke_results.title")</h4>
		<hr class="styleModalHr">
		<p class="row">@message("mockup.modals.invoke_results.description")
		<span class="treeModalSelectedItemRequires">@message("mockup.modals.invoke_results.required_type") <strong id="treeModalSelectedItemDataType"></strong> <span id="treeModalSelectedItemDataTypeIcon"></span></span>
		<span class="treeModalSelectedItemRequires treeModalSelectedItemMap_object">@message("mockup.modals.map_markers.single_marker.select_object")</span>
		<span class="treeModalSelectedItemRequires treeModalSelectedItemMap_array">@message("mockup.modals.map_markers.multiple_markers.select_object")</span>
		</p>
		<div id="treecontainer"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="treeModalOk">@message("general.actions.ok")</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.close")</a>
	</div>
</div>

<!-- Edit HTML Content -->
<div id="editorModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.content.title")</h4>
		<div id="contenteditor"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:saveElementHTML()">@message("general.actions.save")</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:closeModal('editorModal')">@message("general.actions.close")</a>
	</div>
</div>

<!-- Edit CSS -->
<div id="styleModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.style.title")</h4>
		<div id="panelStyleContainer"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:closeModal('styleModal')">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Edit Properties -->
<div id="propertiesModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.properties.title")</h4>
		<div id="panelPropertiesContainer"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:closeModal('propertiesModal')">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Edit Form Settings -->
<div id="formSettingsModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.settings.form.title")</h4>
		<div id="panelFormSettingsContainer"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:closeModal('formSettingsModal')">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Form Add Input -->
<div id="formAddInputModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.add_input.title")</h4>
		<hr class="styleModalHr">
		<p class="row">@message("mockup.modals.add_input.description")</p>
		<div id="panelFormAddInputContainer">
			<div class="row">
				<form action="#">
					<p>
						<input class="with-gap" name="inputType" type="radio" id="inputTypeText" value="inputTypeText" checked />
						<label for="inputTypeText">Text</label>
					</p>
					<p>
						<input class="with-gap" name="inputType" type="radio" id="inputTypeSelect" value="inputTypeSelect" />
						<label for="inputTypeSelect">Select</label>
					</p>
					<p>
						<input class="with-gap" name="inputType" type="radio" id="inputTypeCheckbox" value="inputTypeCheckbox" />
						<label for="inputTypeCheckbox">Checkbox</label>
					</p>
					<p>
						<input class="with-gap" name="inputType" type="radio" id="inputTypeRadio" value="inputTypeRadio" />
						<label for="inputTypeRadio">Radio</label>
					</p>
					<p>
						<input class="with-gap" name="inputType" type="radio" id="inputTypeTextarea" value="inputTypeTextarea" />
						<label for="inputTypeTextarea">Textarea</label>
					</p>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action waves-effect waves-green btn-flat" onclick="javascript:addInputToForm()">@message("general.actions.ok")</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</a>
	</div>
</div>

<!-- Gmap Settings -->
<div id="gmapSettingsModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.settings.map.title")</h4>
		<div id="panelGmapSettingsContainer"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:closeModal('gmapSettingsModal')">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Gmap Select markers -->
<div id="gmapMarkersModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.map_markers.title")</h4>
		<hr class="styleModalHr">
		<p class="row">@message("mockup.modals.map_markers.description")</p>
		<div id="panelGmapMarkersContainer">
			<div class="row">
				<form action="#">
					<p>
						<input class="with-gap" name="markersType" type="radio" id="markersTypeSingle" value="markersTypeSingle" checked />
						<label for="markersTypeSingle" class="checkbox-label">@message("mockup.modals.map_markers.single_marker")</label>
					</p>
					<p>
						<input class="with-gap" name="markersType" type="radio" id="markersTypeMultiple" value="markersTypeMultiple" />
						<label for="markersTypeMultiple" class="checkbox-label">@message("mockup.modals.map_markers.multiple_markers")</label>
					</p>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:chooseMarkerType()">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Edit Table -->
<div id="tableModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.settings.table.title")</h4>
		<div id="panelTableContainer">
		
			<h5>@message("mockup.modals.settings.table.rows")</h5>
			<hr class="styleModalHr">
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="tableModalRows" type="number" min="1">
							<label for="tableModalRows" class="active">@message("mockup.modals.settings.table.number_of_rows")</label>
						</div>
					</div>
				</form>
			</div>
			
			<h5>@message("mockup.modals.settings.table.columns")</h5>
			<hr class="styleModalHr">
			<div class="row">
				<ul class="collection" id="tableModalColumnList">					
				</ul>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:tableModal_update();closeModal('tableModal')">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Table select data confirm -->
<div id="tableSelectDataConfirmModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.table_data.title")</h4>
		<hr class="styleModalHr">
		<p class="row">@message("mockup.modals.table_data.autogenerate_columns")</p>
		<div id="panelTableSelectDataConfirmModalContainer"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@message("general.label.no")</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:tableModal_selectDataOpen()">@message("general.label.yes")</a>
	</div>
</div>

<!-- Table select data -->
<div id="tableSelectDataModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.table_data.title")</h4>
		<hr class="styleModalHr">
		<p class="row">@message("mockup.modals.table_data.description")</p>
		<div id="panelTableSelectDataModalContainer"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:table_autogenerate()">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Map select data -->
<div id="mapSelectDataModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.map_data.title")</h4>
		<hr class="styleModalHr">
		<p class="row">@message("mockup.modals.map_data.description")</p>
		<div id="panelMapSelectDataModalContainer"></div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:map_setInfoWindow()">@message("general.actions.ok")</a>
	</div>
</div>

<!-- Heading Settings -->
<div id="headingSettingsModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h4>@message("mockup.modals.settings.heading.title")</h4>
		<hr class="styleModalHr">
		<p class="row">@message("mockup.modals.settings.heading.description")</p>
		<div id="panelHeadingSettingsContainer">
			<div class="row">
				<div class="input-field col s12">
				  <select id="headingSettingsModalSelect">
				    <option value="h1">@message("mockup.modals.settings.heading.level") 1</option>
				    <option value="h2">@message("mockup.modals.settings.heading.level") 2</option>
				    <option value="h3">@message("mockup.modals.settings.heading.level") 3</option>
				    <option value="h4">@message("mockup.modals.settings.heading.level") 4</option>
				    <option value="h5">@message("mockup.modals.settings.heading.level") 5</option>
				  </select>
				  <label>@message("mockup.modals.settings.heading.level")</label>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="javascript:headingSettingsUpdate()">@message("general.actions.ok")</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.close")</a>
	</div>
</div>

<!-- end MODALS -->

<style>
.modal
{
	background: white !important;
}

.modal-content > h4
{
	color: #212121 !important;
}

.modalTabContent
{
	padding-top: 20px !important;
}

.styleModalHr
{
	background: #424242;
	height: 1px;
}
</style>