@args GuiProject project
@args List<Workgroup> workgroupList
@args AccountDTO loggeduser
@args List<Project> mashupProjectList
@extends("shared.userlayout", loggeduser: loggeduser, section:"projects", title:"Gui Project Wizard")



@section("extraheader") {
<script type="text/javascript" src='@url("/resources/js/draw2d/lib/Class.js")'></script>
<script type="text/javascript" src='@url("/resources/js/components/handlebars/handlebars.js")'></script>
<script type="text/javascript" src='@url("/")resources/js/vme2App/HandlebarsHelpers.js'></script>
<script type="text/javascript" src='@url("/resources/js/jquery/tree/jquery.jstree.js")'></script>

<script type="text/javascript" src='@url("/")resources/js/vme2App/guieditor/GuiWizard.js'></script>

<script type="text/javascript" src='@url("/")resources/js/jquery/select2/select2.min.js'></script> 
<link type="text/css" rel="stylesheet" href='@url("/resources/js/jquery/select2/select2.css")' />

<link type="text/css" rel="stylesheet" href="/visualcomposer/resources/css/font-awesome/css/font-awesome.min.css">
}

<div class="row">
	<h4>@message("projects.wizard.title")</h4>
	<div class="subHeader">
		<h5>@message("projects.wizard.description")</h5>
	</div>
	<div id="wizardContainer">
		<div class="">
		    <div class="col s12">
		      <ul class="tabs">
		        <li id="wizard_1-header" class="tab col s3"><a class="active" href="#wizard_1">1. @message("projects.wizard.steps.1")</a></li>
		        <li id="wizard_2-header" class="tab col s3 disabled"><a href="#wizard_2">2. @message("projects.wizard.steps.2")</a></li>
		        <li id="wizard_3-header" class="tab col s3 disabled"><a href="#wizard_3">3. @message("projects.wizard.steps.3")</a></li>
		        <li id="wizard_4-header" class="tab col s3 disabled"><a href="#wizard_4">4. @message("projects.wizard.steps.4")</a></li>
		        <li id="wizard_5-header" class="tab col s3 disabled"><a href="#wizard_5">5. @message("projects.wizard.steps.5")</a></li>
		      </ul>
		    </div>
		    
		    <div id="wizard_1" class="col s12 tabContainer">
		    	<br>
				<div class="row">
					@if(loggeduser.getProfile().getLevel() == 3) {
					<div class="col l3 m6 s12">
						<div class="card">
							<div class="card-image">
								<img src='@url("/resources/images/template-preview-blank.png")'>
								<span class="card-title">@message("projects.wizard.templates.blank.title")</span>
							</div>
							<div class="card-content">
								<p>@message("projects.wizard.templates.blank.description")</p>
							</div>
							<div class="card-action">
								<a href="#" class="waves-effect waves-light btn blue" onclick="javascript:guiWizard.selectTemplate('fromscretch')">@message("projects.wizard.actions.select_template")</a>
							</div>
						</div>
				 	</div>
				 	}
					<div class="col l3 m6 s12">
						<div class="card">
							<div class="card-image">
								<img src='@url("/resources/images/template-preview-blank.png")'>
								<span class="card-title">@message("projects.wizard.templates.form.title")</span>
							</div>
							<div class="card-content">
								<p>@message("projects.wizard.templates.form.description")</p>
							</div>
							<div class="card-action">
								<a href="#" class="waves-effect waves-light btn blue" onclick="javascript:guiWizard.selectTemplate('blank')">@message("projects.wizard.actions.select_template")</a>
							</div>
						</div>
				 	</div>
				 	<div class="col l3 m6 s12">
						<div class="card">
							<div class="card-image">
								<img src='@url("/resources/images/template-preview-table.png")'>
								<span class="card-title">@message("projects.wizard.templates.table.title")</span>
							</div>
							<div class="card-content">
								<p>@message("projects.wizard.templates.table.description")</p>
							</div>
							<div class="card-action">
								<a href="#" class="waves-effect waves-light btn blue" onclick="javascript:guiWizard.selectTemplate('table')">@message("projects.wizard.actions.select_template")</a>
							</div>
						</div>
				 	</div>
				 	<div class="col l3 m6 s12">
						<div class="card">
							<div class="card-image">
								<img src='@url("/resources/images/template-preview-map.png")'>
								<span class="card-title">@message("projects.wizard.templates.map.title")</span>
							</div>
							<div class="card-content">
								<p>@message("projects.wizard.templates.map.description")</p>
							</div>
							<div class="card-action">
								<a href="#" class="waves-effect waves-light btn blue" onclick="javascript:guiWizard.selectTemplate('map')">@message("projects.wizard.actions.select_template")</a>
							</div>
						</div>
				 	</div>
				 	<div class="col l3 m6 s12">
						<div class="card">
							<div class="card-image">
								<img src='@url("/resources/images/template-preview-tablemap.png")'>
								<span class="card-title">@message("projects.wizard.templates.tablemap.title")</span>
							</div>
							<div class="card-content">
								<p>@message("projects.wizard.templates.tablemap.description")</p>
							</div>
							<div class="card-action">
								<a href="#" class="waves-effect waves-light btn blue" onclick="javascript:guiWizard.selectTemplate('tablemap')">@message("projects.wizard.actions.select_template")</a>
							</div>
						</div>
				 	</div>
				</div>
		    </div> <!-- wizard_1 -->
		    
		    <div id="wizard_2" class="col s12 tabContainer">
		    	<h4 class="selectedTemplate"></h4>
				<div class="row">
					<form id="projectInfoForm">
						<h5>@message("projects.wizard.sections.general")</h5>
						<div class="row">
							<div class="input-field col s6">
								<input id="name" name="name" type="text" class="project-name-chars" value="@project.getName()" required>
								<label for="name">@message("projects.general.name")</label>
							</div>
							<div class="input-field col s6">
								<select id="workgroup_id" name="workgroup.id" required>
								  <option value="" disabled selected>@message("projects.create.workgroup.choose")</option>
								  @for(workgroupList){
								  <option  @if(project.getWorkgroup() != null && (project.getWorkgroup().getId() == _.getId())){ selected="selected" } value="@_.getId()">@_.getName()</option>
								  }
								</select>
								<label>@message("projects.general.workgroup")</label>
							</div>
						</div>
					    <div class="row">
					    	<div class="input-field col s12">
								<input id="title" name="title" type="text" value="" required>
								<label for="title">@message("projects.create.title")</label>
							</div>
							<div class="input-field col s12">
								<textarea id="description" name="description" class="materialize-textarea" required></textarea>
								<label for="description">@message("projects.general.description")</label>
							</div>
					    </div>
					</form>
				 
				</div>
		    </div> <!-- wizard_2 -->
		    
		    <div id="wizard_3" class="col s12 tabContainer">	
		    	<h4 class="selectedTemplate"></h4>		    	
				<div class="row" id="mashups">
					<h5>@message("projects.wizard.sections.data_source") 
					<i class="material-icons circle tooltipped" data-position="right" data-delay="50" data-tooltip='@message("projects.wizard.help.select_data_source")'>help</i>
					</h5>
					<div class="input-field col s12">
					   <input id="addmashups" name="addmashupsId" type="hidden" value="" class="input-xxlarge" style="width:100%">
					</div>
				</div>
				<br>
		      	<div id="step32" style="display:none">
					<div class="row">
						<h5>@message("projects.wizard.sections.get_data")  
						<i class="material-icons circle tooltipped" data-position="right" data-delay="50" data-tooltip='@message("projects.wizard.help.specify_inputs")'>help</i>
						</h5>
						<form id="invokeMashupForm">						
						</form>
					</div>
					<br>
					<div id="spinner" class="center" style="display:none">
						<div class="preloader-wrapper big active">
						  <div class="spinner-layer spinner-red-only">
						    <div class="circle-clipper left">
						      <div class="circle"></div>
						    </div><div class="gap-patch">
						      <div class="circle"></div>
						    </div><div class="circle-clipper right">
						      <div class="circle"></div>
						    </div>
						  </div>
						</div>
					</div>
					
					<div class="row selectDataContainer" id="mashupExecutionError">
					</div>
					
					<div class="row selectDataContainer" id="selectTableDataContainer">
						<h5>@message("projects.wizard.sections.table_data")   
						<i class="material-icons circle tooltipped" data-position="right" data-delay="50" data-tooltip='@message("projects.wizard.help.select_table_data")'>help</i>
						</h5>
						<div class="col s12" class="treecontainer" id="tabletree">
						</div>
						<br>
					</div>
					
					<div class="row selectDataContainer" id="selectMapDataContainer">
						<h5>@message("projects.wizard.sections.map_data")  
						<i class="material-icons circle tooltipped" data-position="right" data-delay="50" data-tooltip='@message("projects.wizard.help.select_map_data")'>help</i>
						</h5>
						<div class="col s12" class="treecontainer" id="maptree">
						</div>
						<br>
					</div>
				</div>
		    </div> <!-- wizard_3 -->
		    
		    <div id="wizard_4" class="col s12 tabContainer">
		    	<h4 class="selectedTemplate"></h4>
				<div class="row confContainer" id="confTableContainer" style="display:none">
					<h5>@message("projects.wizard.sections.column_order") 
					<i class="material-icons circle tooltipped" data-position="right" data-delay="50" data-tooltip='@message("projects.wizard.help.specify_column_order")'>help</i>
					</h5>
					
					<div class="col s12">
						<div id="confTable_1"></div>
					</div>
				</div>
				<div class="row confContainer" id="confMapContainer" style="display:none">
					<h5>@message("projects.wizard.sections.info_window") 
					<i class="material-icons circle tooltipped" data-position="right" data-delay="50" data-tooltip='@message("projects.wizard.help.specify_info_window_fields")'>help</i>
					</h5>
					
					<div class="col s12">
						<div id="confTable_2"></div>
					</div>
				</div>
		    </div> <!-- wizard_4 -->
		    
		    <div id="wizard_5" class="col s12 tabContainer">
		    	<div class="row center">
		    		<br>
		    		<h4>@message("projects.wizard.messages.completed") </h4>
		    		<br>
		    	</div>
		    </div> <!-- wizard_5 -->
		    
		</div>
	
		<div class="wizardActions">
			<!-- prev button -->
			<button id="wizardPrevButton" class="btn btn-floating btn-large fab-fixed-button tooltipped" onclick="javascript:guiWizard.prevStep()" data-position="top" data-delay="50" data-tooltip='@message("projects.wizard.actions.prev")'>
				<i class="large material-icons">arrow_back</i>
			</button>
			<!-- next button -->
			<button id="wizardNextButton" class="btn btn-floating btn-large fab-fixed-button right tooltipped" onclick="javascript:guiWizard.nextStep()" data-position="top" data-delay="50" data-tooltip='@message("projects.wizard.actions.next")'>
				<i class="large material-icons">arrow_forward</i>
			</button>
			<a href="#" id="wizardDoneButton" class="btn btn-floating btn-large fab-fixed-button right tooltipped" data-position="top" data-delay="50" data-tooltip='@message("projects.wizard.actions.done")'>
				<i class="large material-icons">done</i>
			</a>
		</div>
	</div>
	
</div>


@section("footerscript"){ 

<style>
label.active
{
	color: #212121 !important;
	font-weight: bold !important;
}

.subHeader h5
{
	font-size: 1.2em !important;
	padding-top: 1em;
	padding-bottom: 1em;
}

.tabContainer h5
{
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

.card-title
{
	color: black !important;
	font-weight: bold !important;
	width: 100%;
	background: rgba(255,255,255, 0.5);
}

#checkboxSortable > div
{
	border: 1px solid #bdbdbd;
	padding-top: 10px;
	padding-right: 10px;
}

#checkboxSortable > div:hover
{
	cursor: pointer;
	border: 1px solid #2962ff;
	box-shadow: 0px 0px 10px #2962ff;
}

.circle.tooltipped:hover
{
	cursor: pointer;
}

#maptree, #tabletree
{
	background: white !important; 
}

.fa
{
	background: white !important;
}

.jstree-search
{
	color: black !important;
	font-style: normal !important;
}

.select2-container .select2-choice 
{
    height: 40px !important;
    line-height: 40px !important;
    color: black !important;
    border-radius: 0px !important;
    background: white !important; 
    background-image: none !important; 
}

.select2-arrow 
{
    line-height: 40px !important;
    border-left: none !important; 
    border-radius: 0 !important;
    background: white !important; 
    background-image: none !important;
}

.select2-search
{
	margin-bottom: 10px;
}

</style>


<script>
$(document).ready(function(){
	
	guiWizard = new GuiWizard(@loggeduser.getProfile().getLevel());
	
	$('select').material_select();
	$('.modal-trigger').leanModal();		
	$('.tooltipped').tooltip({delay: 50});
});

//The url we will send our get request to
var searchUrl = '@url("/")user/gui/searchmashups.json';
var pageSize = 20;

$(function()
{	
	function format(item) { return item.name; };
	function formatResult(item) 
	{ 
		return '<div><strong>'+item.name+'</strong><br><span>'+item.description+'</span></div>';
	};	
	
	$('#addmashups').select2({
		width:'resolve',		
		multiple:false,
	    placeholder: 'Project Name',
	    //Does the user have to enter any data before sending the ajax request
	    minimumInputLength: 0,            
	    allowClear: true,
	    ajax: {
	        //How long the user has to pause their typing before sending the next request
	        quietMillis: 150,
	        //The url of the json service
	        url: searchUrl,
	        dataType: 'json',
	        //Our search term and what page we are on
	        data: function (term, page) 
	        {
	        	var workgroupId = -1;
	        	/*
	        	if($("#workgroup_id option:selected").val() == "")
	        	{
	        		var toastContent = $('<span class="toastError">You must select a workgroup first</span>');
	    			Materialize.toast(toastContent, 2000);
	    			$(".toastError").parent().addClass("toast-error");
	        	}
	        	else*/
	        		workgroupId = $("#workgroup_id option:selected").val();
	        	
	            return {
	                pagesize: pageSize,
	                page: page,
	                searchterm: term,
	                wgId: workgroupId
	            };
	        },
	        results: function (data, page) {
	        	//console.log(data);
	            //Used to determine whether or not there are more results available,
	            //and if requests for more data should be sent in the infinite scrolling
	            var more = (page * pageSize) < data.total; 
	            return { results: data.results, more: false };
	        }
	    },
	    formatSelection: format,
        formatResult: formatResult
	});
	
	$('#addmashups').on("change", function(e) { 
	    guiWizard.step32();
	});
});
</script> 
}