@args AddOpenDataViewModel model;

@extends("shared.adminlayout", "Admin - Import Open data")


<div class="row-fluid">

<div class="span3">
	@invoke("shared.adminmenu", "opendata_add")
</div>
<div class="span9">
<h4>@message("odata.management.add")</h4>

<form action='@url("/admin/opendata/add/url")' method="POST">
	<div>
		<label for="sourceName">@message("odata.source.name")</label>
		<input type="text" name="sourceName" value="" class="input-xxlarge" required />
	</div> 
	<div>
		<label for="wadlUrl">@message("odata.source.url")</label>
		<input type="url" name="url" value="@model.getUrl()" class="input-xxlarge" required />
	</div>
	
	<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
</form>

<form action='@url("/admin/opendata/add/file")' method="POST" enctype="multipart/form-data">
	<div>
		<label for="sourceName">@message("odata.source.name")</label>
		<input type="text" name="sourceName" value="" class="input-xxlarge" required />
	</div> 
	<div class="control-group">
		<label class="control-label" for="wadlFile">@message("odata.source.file")</label>
		<div class="controls">
			<input type="file" name="file" value="@model.getFile()" class="input-xxlarge" required />
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
		</div>
	</div>
</form>
</div>
</div>