#screenshotToolbar
{
	padding-top: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
#descrLabel
{
	color: white;
}
#screenshotDescription
{
	background: white !important;
}

#publishButton
{
	background: rgb(111, 175, 218) !important;
}