@args Workgroup workgroup; 
@extends("shared.adminlayout")


<div class="row-fluid">
	<div class="span3">@invoke("shared.adminmenu", "workgroup_add")</div>
	<div class="span9">


		<h4>@message("workgroup.management.add")</h4>
		<form action='@url("/admin/workgroup/add/execute")' method="POST">
			<div>
				<label for="name">@message("workgroup.name"):</label>
				<input id="name" name="name" class="input-xxlarge" type="text" value="@workgroup.getName()" required />
			</div>
			<div>
				<label for="description"> @message("workgroup.description"):</label>
				<textarea id="description" name="description" class="input-xxlarge" rows="3">@workgroup.getDescription()</textarea>
			</div>
			<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
		</form>
	</div>
</div>
