@args Workgroup workgroup; 
@extends("shared.adminlayout", title:"Delete Workgroup")

<ul class="breadcrumb">
  <li><a href='@url("/")admin/workgroup/list'>@message("workgroup.management")</a> <span class="divider">/</span></li>  
  <li><a href='@url("/")admin/workgroup/@workgroup.getId()/details'>@workgroup.getName()</a> <span class="divider">/</span></li>
  <li class="active">@message("workgroup.management.delete")</li>
</ul>
<div class="row-fluid">
	<div class="span3">
	@invoke("shared.adminworkgroupmenu", workgroup.getId(), "workgroup_delete" ) 
	
	</div>
	<div class="span9">
					 
		<form action='@url("/")admin/workgroup/@workgroup.getId()/delete/execute' method="POST">

			<div class="alert alert-block alert-error fade in">
				<h5 class="alert-heading">@message("workgroup.management.delete")</h5>
				<p>
					@workgroup.getName()  
	
					<br>
					<br>
						
					@message("workgroup.management.delete.confirm") 
					<br>
					<br>
				</p>
				<p>
					<button type="submit" class="btn btn-danger">@message("label.confirm")</button>
					<a class="btn" href='@url("/")admin/workgroup/@workgroup.getId()/details'>@message("message.cancel")</a>
				</p>
			</div>

		</form>
	</div>
</div>