@args Workgroup workgroup, List<Profile> profiles 

@extends("shared.adminlayout", "Admin - Workgroup Details")

@section("extraheader") {
<script type="text/javascript" src='@url("/")resources/js/jquery/select2/select2.min.js'></script> 
<link type="text/css" rel="stylesheet" href='@url("/resources/js/jquery/select2/select2.css")' />
}

@{
	String membersIds = "";
	
	if(profiles.size() > 0)
	{
		for(int i = 0; i < profiles.size() - 1; i++)
			membersIds += profiles.get(i).getId() + ",";
	
		membersIds += profiles.get(profiles.size() - 1).getId();
	}
}

<!-- Modal Delete Workgroup Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Delete <span class="wgName"></span></h4>
    <p>@message("workgroup.management.delete.confirm") </p>
  </div>
  <div class="modal-footer">
  	<form action='' method="POST">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("label.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("message.cancel")</button>
  </div>
</div>

<div class="">
	<div>
		<a class="back-button" href='@url("/admin/workgroup/list")'>
	  		<i class="material-icons left">arrow_back</i> Back to workgroup list
		</a>
	</div>
	<br>
	<div style="position: relative">
		<h4 class="section-title">@workgroup.getName()</h4>
		<!-- FAB button -->
		<span class="fixed-action-btn horizontal">
		  <a class="btn-floating btn-large fab-fixed-button">
		    <i class="large material-icons">menu</i>
		  </a>
		  <ul>
			<li><a class="btn-floating red accent-4 modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete workgroup"
		    href="#modal1"><i class="material-icons">delete</i></a></li>
		  </ul>
		</span>
	</div>
	<br>
	<div class="">
	    <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s3"><a class="active" href="#workgroupinfo">Workgroup Info</a></li>
	        <li class="tab col s3"><a href="#workgroupmembers">Members</a></li>
	      </ul>
	    </div>
	    
	    <div id="workgroupinfo" class="col s12 tabContainer">
	    
	     <div class="row">
	      <div class="col l6 s12">
	      	<h5>General info</h5>
	      	<ul class="">
	    		<li><label>@message("workgroup.name")</label><p>@workgroup.getName()</p></li>
	    		<li><label>@message("workgroup.description")</label><p>@workgroup.getDescription()</p></li>
	    		<li>
					<label>@message("workgroup.management.members")</label>
					<p><ul>
					@for(profile: profiles){
						<li>@profile.getFirstName() @profile.getLastName()</li>
					}
					</ul></p>
				</li>
	    	</ul>	 
	      </div>
	      
	      <div class="col l6 s12">
 
	      </div>
	    </div>
	    
	   </div>
	   
	   <div id="workgroupmembers" class="col s12 tabContainer">
	    	<div class="row">
	    		@if(profiles.size() > 0) {
	    		<ul class="collection">
	    			@for(profiles){		
				    <li class="collection-item avatar">
				      <i class="material-icons circle">person</i>
				      <span class="title">@_.getFirstName() @_.getLastName()</span>
				      <p>@_.getEmail()</p>
				      <div href="#!" class="secondary-content">				      
				      	<a href='@url("/")admin/workgroup/@workgroup.getId()/members/@_.getId()/remove' onclick='return confirm("@message("workgroup.management.members.remove")")'>
							<i class="material-icons delete-icon">close</i>
						</a>
				      </div>
				    </li>
					}
				</ul>
				} else {
				<strong><i>No members</i></strong>
				}
	    	</div>

	    	<div class="row">
				<form action='@url("/")admin/workgroup/@workgroup.getId()/members/add' method="POST" class="form">
					<div class="row">
						<fieldset>
							<legend>&nbsp;Add Member&nbsp;</legend>	
							<div>	
								<input id="addmembers" name="addmembersId" type="hidden" value="@membersIds" class="input-xxlarge" style="width: 100%">
							</div>	
							<br>
							<div>					
								<button type="submit" class="btn btn-primary">
									<i class="icon-plus"></i> @message("label.add")
								</button>
							</div>
						</fieldset>
					</div>
				</form>
	    	</div>
	    </div> <!-- "userworkgroups" -->	   
	    
	</div>
</div>



<!-- 
<ul class="breadcrumb">
	<li>
		<a href="@url("/")admin/workgroup/list">@message("workgroup.management.list")</a>
		<span class="divider">/</span>
	</li>
	<li class="active">@workgroup.getName()</li>
</ul>
<div class="row-fluid">
	<div class="span3">
		@invoke("shared.adminworkgroupmenu", workgroup.getId(), "workgroup_details")</div>
	<div class="span9">


		<h4>@message("workgroup.management.details")</h4>
		<div class="row-fluid">
			<div class="span6 ">
				<table class="table ">
					<tr>
						<th>@message("workgroup.name")</th>
						<td>@workgroup.getName()</td>
					</tr>
					<tr>
						<th>@message("workgroup.description")</th>
						<td>@workgroup.getDescription()</td>
					</tr>

				</table>
			</div>

		</div>



		<h4>@message("workgroup.management.members")</h4>
		

		@if(profiles.size()) {
		<table class="table table-striped">
			<thead>
				<tr>
					<th>@message("profile.name")</th>
					<th>@message("profile.email")</th>
					<th>@message("label.action")</th>
				</tr>
			</thead>
			<tbody>
				@for(profile: profiles){
				<tr>
					<td>@profile.getFirstName() @profile.getLastName()</td>
					<td>@profile.getEmail()</td>
					<td>
						<div class="btn-group">
							<a href='@url("/")admin/workgroup/@workgroup.getId()/members/@profile.getId()/remove' onclick='return confirm("@message("message.confirm.delete")")'
								class="btn btn-danger">
								<i class="icon-remove"></i> @message("workgroup.management.members.remove")</a>
						</div>
					</td>
				</tr>
				}
			</tbody>
		</table>
		}
		
		<div class="alert alert-info alert-block">
		<h5>@message("workgroup.management.members.add")</h5>
		<form action='@url("/")admin/workgroup/@workgroup.getId()/members/add' method="POST" class="form">
			<input id="addmembers" name="addmembersId" type="hidden" value="" class="input-xxlarge" style="margin-bottom: 5px;">
			<button type="submit" class="btn btn-primary"><i class="icon-plus"></i> @message("label.add")</button>
		</form>
		</div>
	</div>
</div>
 -->

@section("footerscript"){ 
	<script>
		//The url we will send our get request to
		var attendeeUrl = '@url("/")admin/profile/search.json';
		var pageSize = 20;

		$(function(){	
			function format(item) { return item.name; };
			function formatResult(item) { 
				return '<div ><strong>'+item.name+'</strong></div><div ><small>'+item.email+'<small></div>';
			};	
			$('#addmembers').select2({
				width:'resolve',		
				multiple:true,
			    placeholder: '@message("workgroup.management.members.nameoremail")',
			    //Does the user have to enter any data before sending the ajax request
			    minimumInputLength: 0,            
			    allowClear: true,
			    ajax: {
			        //How long the user has to pause their typing before sending the next request
			        quietMillis: 150,
			        //The url of the json service
			        url: attendeeUrl,
			        dataType: 'json',
			        //Our search term and what page we are on
			        data: function (term, page) {
			            return {
			                pagesize: pageSize,
			                page: page,
			                searchterm: term
			            };
			        },
			        results: function (data, page) {
			            //Used to determine whether or not there are more results available,
			            //and if requests for more data should be sent in the infinite scrolling
			            var more = (page * pageSize) < data.total; 
			            return { results: data.results, more: more };
			        }
			    },
			    formatSelection: format,
	            formatResult: formatResult
			});
		});
	</script> 
}