@args Workgroup workgroup; 
@extends("shared.adminlayout")

<ul class="breadcrumb">
	<li>
		<a href="@url("/")admin/workgroup/list">@message("workgroup.management.list")</a>
		<span class="divider">/</span>
	</li>
	<li class="active">@workgroup.getName()</li>
</ul>
<div class="row-fluid">
	<div class="span3">@invoke("shared.adminworkgroupmenu", workgroup.getId(), "workgroup_edit")</div>
	<div class="span9">

		<h4>@message("workgroup.management.edit")</h4>
		<form action='@url("/admin/workgroup/edit/execute")' method="POST">

			<input id="id" name="id" type="hidden" value="@workgroup.getId()" />
			<input id="createdAt" name="createdAt" type="hidden" value="@workgroup.getCreatedAt()" />

			<div>
				<label class="text-error">@message("workgroup.name")(*)</label>
				<input id="name" name="name" class="input-xxlarge" type="text" value="@workgroup.getName()" required />
			</div>
			<div>
				<label> @message("workgroup.description")</label>
				<textarea id="description" name="description" class="input-xxlarge" rows="5">@workgroup.getDescription()</textarea>
			</div>
			<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
		</form>
	</div>
</div>
