@args List<Workgroup> workgroupList, AccountDTO loggeduser
@extends("shared.adminlayout", title:"Admin - Workgroup")

@include("shared.inlinedefinitions")


@section("extraheader"){
<script type="text/javascript" src='@url("/")resources/js/libs/list.min.js'></script>

<script>
$(document).ready(function (){
	var options = {
	  valueNames: [{ attr: 'data-title', name: 'wg_name' }]
	};

	var userList = new List('workgroups', options);
});
</script>
}

<h4 class="section-title">@message("workgroup.management.list")</h4>

<div id="workgroups">
<div class="row">		
	<form class="col s12" action="#">
		<div class="row">
			<div class="input-field col l8 s12">
		    	<i class="material-icons prefix">search</i>
				<input name="criteria" id="projectFilter" placeholder="Enter a word to filter workgroups" type="text" class="search" value="" />
			</div>
		</div>
	</form>
</div>

<div class="row center" style="position: relative">	
	<a class="btn btn-small" href='@url("/")admin/workgroup/add'>
	  <i class="material-icons left">add</i> New workgroup
	</a>

	<!-- FAB button -->
	<span class="fixed-action-btn horizontal" style="bottom: -10px !important">
	  <a class="btn-floating btn-large fab-fixed-button">
	    <i class="large material-icons">sort</i>
	  </a>
	  <ul>
	    <li>
	    	<a class="btn-floating tooltipped sort" data-position="top" data-delay="50" data-tooltip="Sort by name"
	    data-sort="user_name"><i class="material-icons">sort_by_alpha</i></a>
	    </li>
	  </ul>
	</span>
</div>

<ul class="collection list">
@for(workgroup: workgroupList) {
<li class="collection-item avatar">
  <i class="material-icons circle">people</i>
  <span class="title"><a href='@url("/")admin/workgroup/@workgroup.getId()/details' class="wg_name" data-title="@workgroup.getName()">@workgroup.getName()</a></span>
  <p>
  	<span>@workgroup.getProfileWorkgroups().size() members</span><br>
  </p>
  <div href="#!" class="secondary-content">
  	<a class="list-action-icon modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="Delete workgroup"
    href="#modal1" onclick="javascript:setWorkgroup('@workgroup.getName()', @workgroup.getId())">
    	<i class="material-icons delete-icon">delete</i>
    </a>
  </div>
</li>
}
</ul>

</div>

<!-- Modal Delete Workgroup Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Delete <span class="wgName"></span></h4>
    <p>@message("workgroup.management.delete.confirm") </p>
  </div>
  <div class="modal-footer">
  	<form action='' method="POST">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("label.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("message.cancel")</button>
  </div>
</div>

@section("footerscript"){ 
<script>
$(document).ready(function(){
	// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	$('.modal-trigger').leanModal();
	
	$('.tooltipped').tooltip({delay: 50});
});

function setWorkgroup(name, id)
{
	$(".wgName").html(name);
	$("#modal1").find("form").attr("action", '@url("/")admin/workgroup/' + id + '/delete/execute')
}
</script>
}