@args HashMap<String, String> marketplaceProperties
@args HashMap<String, String> artefactsProperties
@args HashMap<String, String> ideaProperties
@args HashMap<String, String> decisionengineProperties
@args AccountDTO loggeduser
@extends("shared.adminlayout", "WeLive configuration") 
@include("shared.inlinedefinitions")

@{
	SortedSet<String> k;
	Iterator<String> keys;
	String key, value, mpRows, artRows, oiaRows, deRows;
	
	k = new TreeSet<String>(marketplaceProperties.keySet());	
	keys = k.iterator();
	mpRows = "";
	
	while(keys.hasNext())
	{
		key = keys.next();
		value = marketplaceProperties.get(key);
		
		mpRows += "<tr><td>" + key + "</td>";
		mpRows += "<td><input class='input-xxlarge' name='" + key + "' type='text' value='" + value + "'/></td></tr>";							
		
	}
	
	k = new TreeSet<String>(artefactsProperties.keySet());	
	keys = k.iterator();
	artRows = "";
	
	while(keys.hasNext())
	{
		key = keys.next();
		value = artefactsProperties.get(key);
		
		artRows += "<tr><td>" + key + "</td>";
		artRows += "<td><input class='input-xxlarge' name='" + key + "' type='text' value='" + value + "'/></td></tr>";							
		
	}
	
	k = new TreeSet<String>(ideaProperties.keySet());	
	keys = k.iterator();
	oiaRows = "";
	
	while(keys.hasNext())
	{
		key = keys.next();
		value = ideaProperties.get(key);
		
		oiaRows += "<tr><td>" + key + "</td>";
		oiaRows += "<td><input class='input-xxlarge' name='" + key + "' type='text' value='" + value + "'/></td></tr>";							
		
	}
	
	k = new TreeSet<String>(decisionengineProperties.keySet());	
	keys = k.iterator();
	deRows = "";
	
	while(keys.hasNext())
	{
		key = keys.next();
		value = decisionengineProperties.get(key);
		
		deRows += "<tr><td>" + key + "</td>";
		deRows += "<td><input class='input-xxlarge' name='" + key + "' type='text' value='" + value + "'/></td></tr>";							
		
	}
} 

<div class="row-fluid">
	<div class="span3">@invoke("shared.adminmenu", "configuration")</div>
	<div class="span9">

		<h4>Configuration Properties</h4>

		<div>
			<form action='@url("/admin/interactions/configure/save")' method="POST">
			<table class="table table-striped">
				<tbody>		
				<tr><td style="background:white"><strong>Marketplace - General</strong></td>
					<td style="background:white"></td></tr>		
					<tr>
						<td style="background:white"><strong>Name</strong></td>
						<td style="background:white"><strong>Value</strong></td>
					</tr>			
					@raw(){@mpRows}
				<tr><td style="background:white"><strong>Marketplace - Category IDs</strong></td>
					<td style="background:white"></td></tr>		
					<tr>
						<td style="background:white"><strong>Name</strong></td>
						<td style="background:white"><strong>Value</strong></td>
					</tr>	
					@raw(){@artRows}
				<tr><td style="background:white"><strong>Open Innovation Area</strong></td>
					<td style="background:white"></td></tr>		
					<tr>
						<td style="background:white"><strong>Name</strong></td>
						<td style="background:white"><strong>Value</strong></td>
					</tr>	
					@raw(){@oiaRows}
				<tr><td style="background:white"><strong>Decision Engine</strong></td>
					<td style="background:white"></td></tr>		
					<tr>
						<td style="background:white"><strong>Name</strong></td>
						<td style="background:white"><strong>Value</strong></td>
					</tr>	
					@raw(){@deRows}
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
			</form>
		</div>
		
	</div>
</div>