@args Profile profile; 
@extends("shared.adminlayout", "Admin - Add Administrator" )

@section("extraheader"){
<script type="text/javascript">
<!--
function validatePass(p1, p2) {
    if (p1.value != p2.value || p1.value == '' || p2.value == '') {
        p2.setCustomValidity('@message("message.password.notmatch")');
    } else {
        p2.setCustomValidity('');
    }
}
//-->
</script>
}

<div class="row-fluid">
	<div class="span3">@invoke("shared.adminmenu", "admins_add")</div>
	<div class="span9">


		<form name="registrationForm" action='@url("/")admin/profile/admins/add/execute' method="POST" class="form-horizontal">
		<fieldset>
			<legend>@message("profile.management.admins.add")</legend>
			<div class="control-group">
				<label class="control-label" for="firstName">@message("profile.firstname"):</label>
				<div class="controls">
					<input id="firstName" name="firstName" type="text" placeholder='@message("profile.firstname")' value="@profile.getFirstName()"
						required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="lastName">@message("profile.surname"):</label>
				<div class="controls">
					<input id="lastName" name="lastName" placeholder='@message("profile.surname")' type="text" value="@profile.getLastName()"
						required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="email">@message("profile.email"):</label>
				<div class="controls">
					<input id="email" name="email" type="email" placeholder='@message("profile.email")' value="@profile.getEmail()" required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="account.psw">@message("account.password"):</label>
				<div class="controls">
					<input id="account.psw" name="account.psw" type="password" placeholder='@message("account.password")' required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="account.confirmPsw">@message("account.confirmpassword"):</label>
				<div class="controls">
					<input id="account.confirmPsw" name="account.confirmPsw" type="password" 
					placeholder='@message("account.confirmpassword")' onfocus="validatePass(document.getElementById('new'), this);" 
				 	oninput="validatePass(document.getElementById('account.psw'), this);" required />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
				</div>
			</div>			

		</fieldset>
	</form>
	</div>
</div>

