@args List<Profile> profileList, AccountDTO loggeduser 
@extends("shared.adminlayout", title:"Admin - Administrators") @include("shared.inlinedefinitions")

<div class="row-fluid">
	<div class="span3">@invoke("shared.adminmenu", "admins_list")</div>
	<div class="span9">
		<h4>@message("profile.management.admins")</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>@message("profile.name")</th>
					<th>@message("profile.email")</th>
					<th>@message("label.status")</th>
					<th>@message("label.action")</th>
				</tr>
			</thead>
			<tbody>
				@for(profile: profileList){
				<tr>
					<td>
						 @profile.getFirstName() @profile.getLastName() 
					</td>
					<td>@profile.getEmail()</td>
					<td>
						<a href="#"> @decodeStatus(profile.getAccount().getStatus())</a>
					</td>
					<td>
						@if(loggeduser.getProfile().getId() != profile.getId()){
							@if	(profile.getAccount().getStatus() != 2) {					
							<a class="btn "
							onclick='return confirm("@message("message.confirm.enable")")'  
							href='@url("/")admin/profile/admins/@profile.getId()/enable'>
								 @message("label.enable")</a>
							}
							else {
							<a class="btn btn-danger" 
							onclick='return confirm("@message("message.confirm.disable")")' 
							href='@url("/")admin/profile/admins/@profile.getId()/disable'>
								 @message("label.disable")</a>
							}
							@//<a class="btn btn-danger" href='@url("/")admin/profile/@profile.getId()/delete' onclick="return confirm('@message("message.confirm.delete")')">@message("label.delete")</a>
						}

					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>