@args Profile profile; 
@extends("shared.adminlayout", title:"Delete user")

<ul class="breadcrumb">
  <li><a href='@url("/")admin/profile/list'>@message("profile.management.users")</a> <span class="divider">/</span></li>  
  <li><a href='@url("/")admin/profile/@profile.getId()/details'>@profile.getEmail()</a> <span class="divider">/</span></li>
  <li class="active">@message("profile.management.delete")</li>
</ul>
<div class="row-fluid">
	<div class="span3">
	@invoke("shared.adminprofilemenu", profile.getId(), "profile_delete" ) 
	
	</div>
	<div class="span9">
					 
		<form action='@url("/")admin/profile/@profile.getId()/delete/execute' method="POST">

			<div class="alert alert-block alert-error fade in">
				<h5 class="alert-heading">@message("profile.management.delete")</h5>
				<p>
					@profile.getEmail() - @profile.getFirstName() @profile.getLastName()  
	
					<br>
					<br>
						
					@message("profile.management.delete.confirm") 
					<br>
					<br>
				</p>
				<p>
					<button type="submit" class="btn btn-danger">@message("label.confirm")</button>
					<a class="btn" href='@url("/")admin/profile/@profile.getId()/details'>@message("message.cancel")</a>
				</p>
			</div>

		</form>
	</div>
</div>