@args Profile profile, List<Workgroup> workgroups 
@extends("shared.adminlayout", "Admin - User Details") 
@include("shared.inlinedefinitions")

@section("extraheader") {
<script type="text/javascript" src='@url("/")resources/js/jquery/select2/select2.min.js'></script> 
<link type="text/css" rel="stylesheet" href='@url("/resources/js/jquery/select2/select2.css")' />
}

@{
	String groupIds = "";
	
	if(workgroups.size() > 0)
	{
		for(int i = 0; i < workgroups.size() - 1; i++)
			groupIds += workgroups.get(i).getId() + ",";
	
		groupIds += workgroups.get(workgroups.size() - 1).getId();
	}
}

<!-- Modal Delete User Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Delete @profile.getFirstName() @profile.getLastName()</h4>
    <p>@message("profile.management.delete.confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='@url("/")admin/profile/@profile.getId()/delete/execute' method="POST">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("label.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("message.cancel")</button>
  </div>
</div>

<div class="">
	<div>
		<a class="back-button" href='@url("/admin/profile/list")'>
	  		<i class="material-icons left">arrow_back</i> Back to user list
		</a>
	</div>
	<br>
	<div style="position: relative">
		<h4 class="section-title">@profile.getFirstName() @profile.getLastName()</h4>
		<!-- FAB button -->
		<span class="fixed-action-btn horizontal">
		  <a class="btn-floating btn-large fab-fixed-button">
		    <i class="large material-icons">menu</i>
		  </a>
		  <ul>
		  	@if(profile.getAccount().getStatus() == 2) {
			<li><a class="btn-floating red accent-4 modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Disable user"
		    href='@url("/")admin/profile/@profile.getId()/disable'><i class="material-icons">power_settings_new</i></a></li>
		  	} else {
		  	<li><a class="btn-floating  light-green darken-4 modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Enable user"
		    href='@url("/")admin/profile/@profile.getId()/enable'><i class="material-icons">power_settings_new</i></a></li>
			}
			<li><a class="btn-floating red accent-4 modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete user"
		    href="#modal1"><i class="material-icons">delete</i></a></li>
		  </ul>
		</span>
	</div>
	<br>
	<div class="">
	    <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s3"><a class="active" href="#userinfo">User Info</a></li>
	        <li class="tab col s3"><a href="#userworkgroups">Workgroups</a></li>
	      </ul>
	    </div>
	    
	    <div id="userinfo" class="col s12 tabContainer">
	    
	     <div class="row">
	      <div class="col l6 s12">
	      	<h5>General info</h5>
	      	<ul class="">
	    		<li><label>@message("profile.email")</label><p>@profile.getEmail()</p></li>
	    		<li><label>@message("account.status")</label><p>@decodeStatus(profile.getAccount().getStatus())</p></li>
	    		<li>
					<label>@message("profile.management.workgroups")</label>
					<p><ul>
					@for(workgroups){
						<li>@_.getName()</li>
					}
					</ul></p>
				</li>
				<li><label>Cross-components Id</label><p>@profile.getCcUserId()</p></li>
				@if(profile.getOrganization() != null) { <li><label>Organization</label><p>@profile.getOrganization().getName() (@if(profile.getOrganizationRole() == 1) { Owner } else { Member })</p></li> }
	    	</ul>	 
	      </div>
	      
	      <div class="col l6 s12">
	      	<h5>User Level</h5>
	      	<form id="userLevelForm" action='#' method="GET">
				<div class="input-field col s12">
				  <select id="userLevelSelect">
				    <option value="1" @if(profile.getLevel() == 1){ selected }>Mockup Designer</option>
				    <option value="2" @if(profile.getLevel() == 2){ selected }>Developer Base</option>
				    <option value="3" @if(profile.getLevel() == 3){ selected }>Developer Advanced</option>
				  </select>
				  <label>User Level</label>
				</div>
				<div class="input-field col s12">
					<a class="waves-effect waves-light btn" onclick="javascript:updateUserLevel()"><i class="material-icons left">save</i>Save</a>
				</div>
	      	</form>	 
	      </div>
	    </div>
	    
	   </div>
	   
	   <div id="userworkgroups" class="col s12 tabContainer">
	    	<div class="row">
	    		@if(workgroups.size() > 0) {
	    		<ul class="collection">
	    			@for(workgroups){		
				    <li class="collection-item avatar">
				      <i class="material-icons circle">people</i>
				      <span class="title">@_.getName()</span>
				      <div href="#!" class="secondary-content">				      
				      	<a href='@url("/")admin/profile/@profile.getId()/workgroups/@_.getId()/remove' onclick='return confirm("@message("profile.management.workgroups.remove")")'>
							<i class="material-icons delete-icon">close</i>
						</a>
				      </div>
				    </li>
					}
				</ul>
				} else {
				<strong><i>No workgroups</i></strong>
				}
	    	</div>

	    	<div class="row">
				<form action='@url("/")admin/profile/@profile.getId()/workgroups/add' method="POST" class="form">
					<div class="row">
						<fieldset>
							<legend>&nbsp;Add Workgroup&nbsp;</legend>	
							<div>	
								<input id="addgroups" name="addgroupsId" type="hidden" value="@groupIds" class="input-xxlarge" style="width: 100%">
							</div>	
							<br>
							<div>					
								<button type="submit" class="btn btn-primary">
									<i class="icon-plus"></i> @message("label.add")
								</button>
							</div>
						</fieldset>
					</div>
				</form>
	    	</div>
	    </div> <!-- "userworkgroups" -->	   
	    
	</div>
</div>

@section("footerscript"){ 
<script>

	function updateUserLevel()
	{
		var level = $("#userLevelSelect").val();
		
		if(level != "")
		{
			$("#userLevelForm").attr("action", '@url("/")admin/profile/@profile.getId()/level/' + level);
			$("#userLevelForm").submit();
		}
	}

	$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		$('.modal-trigger').leanModal();
		
		$('select').material_select();
		
		$('.tooltipped').tooltip({delay: 50});
	});
	
	var attendeeUrl = '@url("/")admin/workgroup/search.json';
	var pageSize = 20;

	$(function(){	
		function format(item) { return item.name; };
		function formatResult(item) { 
			return '<div ><strong>'+item.name+'</strong></div><div ><small>'+item.description+'<small></div>';
		};	
		$('#addgroups').select2({
			width:'resolve',		
			multiple:true,
		    placeholder: '@message("profile.management.workgroups.entername")',
		    //Does the user have to enter any data before sending the ajax request
		    minimumInputLength: 0,            
		    allowClear: true,
		    ajax: {
		        //How long the user has to pause their typing before sending the next request
		        quietMillis: 150,
		        //The url of the json service
		        url: attendeeUrl,
		        dataType: 'json',
		        //Our search term and what page we are on
		        data: function (term, page) {
		            return {
		                pagesize: pageSize,
		                page: page,
		                searchterm: term
		            };
		        },
		        results: function (data, page) {
		            //Used to determine whether or not there are more results available,
		            //and if requests for more data should be sent in the infinite scrolling
		            var more = (page * pageSize) < data.total; 
		            return { results: data.results, more: more };
		        }
		    },
		    formatSelection: format,
            formatResult: formatResult
		});
	});
</script>
}
