@args List<Profile> profileList, AccountDTO loggeduser
@extends("shared.adminlayout", title:"Admin - Users")

@include("shared.inlinedefinitions")


@section("extraheader"){
<script type="text/javascript" src='@url("/")resources/js/libs/list.min.js'></script>

<script>
$(document).ready(function (){
	var options = {
	  valueNames: [{ attr: 'data-title', name: 'user_name' }, { attr: 'data-email', name: 'user_email' }]
	};

	var userList = new List('users', options);
});
</script>
}

<h4 class="section-title">@message("profile.management.users")</h4>

<div id="users">
<div class="row">		
	<form class="col s12" action="#">
		<div class="row">
			<div class="input-field col l8 s12">
		    	<i class="material-icons prefix">search</i>
				<input name="criteria" id="projectFilter" placeholder="Enter a word to filter users" type="text" class="search" value="" />
			</div>
		</div>
	</form>
</div>

<div class="row center" style="position: relative">	
	<!-- FAB button -->
	<span class="fixed-action-btn horizontal" style="bottom: -10px !important">
	  <a class="btn-floating btn-large fab-fixed-button">
	    <i class="large material-icons">sort</i>
	  </a>
	  <ul>
	    <li>
	    	<a class="btn-floating tooltipped sort" data-position="top" data-delay="50" data-tooltip="Sort by name"
	    data-sort="user_name"><i class="material-icons">sort_by_alpha</i></a>
	    </li>
	  </ul>
	</span>
</div>

<ul class="collection list">
@for(profile: profileList) {
<li class="collection-item avatar">
  <i class="material-icons circle user-icon-status-@profile.getAccount().getStatus()">person</i>
  <span class="title"><a href='@url("/")admin/profile/@profile.getId()/details' class="user_name" data-title="@profile.getFirstName() @profile.getLastName()">@profile.getFirstName() @profile.getLastName()</a></span>
  <p><span class="user_email" data-email="@profile.getEmail()">@profile.getEmail()</span><br>
     <span class="user-label-status-@profile.getAccount().getStatus()">@decodeStatus(profile.getAccount().getStatus())</span>
  </p>
  <div href="#!" class="secondary-content">
    @if(profile.getAccount().getStatus() == 2) {
	<a class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip="Disable user" href='@url("/")admin/profile/@profile.getId()/disable'>
  		<i class="material-icons delete-icon">power_settings_new</i>
  	</a>
  	} else {
  	<a class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip="Enable user" href='@url("/")admin/profile/@profile.getId()/enable'>
  		<i class="material-icons preview-icon">power_settings_new</i>
  	</a>
	}
  	<a class="list-action-icon modal-trigger tooltipped" data-position="top" data-delay="50" data-tooltip="Delete user"
    href="#modal1" onclick="javascript:setUser('@profile.getFirstName() @profile.getLastName()', @profile.getId())">
    	<i class="material-icons delete-icon">delete</i>
    </a>
  </div>
</li>
}
</ul>

</div>

<!-- Modal Delete User Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Delete <span class="userName"></span></h4>
    <p>@message("profile.management.delete.confirm") </p>
  </div>
  <div class="modal-footer">
  	<form action='' method="POST">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("label.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("message.cancel")</button>
  </div>
</div>

<!--  
<div class="row-fluid">
	<div class="span3">@invoke("shared.adminmenu", "users_list")</div>
	<div class="span9">
		<h4>@message("profile.management.users")</h4>
		<table class="table table-striped ">
			<thead>
				<tr>
					<th>@message("profile.name")</th>
					<th>@message("profile.email")</th>
					<th style="text-align: center;">@message("profile.workgroups")</th>
					<th style="text-align: center;">@message("label.status")</th>
					<th style="text-align: center;">@message("label.action")</th>
				</tr>
			</thead>
			<tbody>
				@for(profile: profileList){
				<tr >
					<td><a  href='@url("/")admin/profile/@profile.getId()/details'>
						@profile.getFirstName() @profile.getLastName()
						</a>
					</td>
					<td>@profile.getEmail()</td>
					<td style="text-align: center;">
					@if(profile.getProfileWorkgroups().size() > 0){
						<span class="badge badge-info" >@profile.getProfileWorkgroups().size()</span>
					}
					else {
							<span title='@message("message.profile.worgroups.none")' class="badge badge-important" >@profile.getProfileWorkgroups().size()</span>
					}
					</td>
					<td style="text-align: center;">
						<a href="#"> @decodeStatus(profile.getAccount().getStatus())</a>
					</td>
					<td style="text-align: center;">
						@if(loggeduser.getProfile().getId() != profile.getId()){
							<a class="btn btn-info" href='@url("/")admin/profile/@profile.getId()/details'>@message("label.details")</a>
							
						}

					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>
-->

<style>
.user-label-status-1
{
	color: #ff6f00 !important;
}

.user-icon-status-1
{
	background: #ff6f00 !important;
}

.user-label-status-2
{
	color: #33691e !important;
}

.user-icon-status-2
{
	background: #33691e !important;
}

.user-label-status-3
{
	color: #b71c1c !important;
}

.user-icon-status-3
{
	background: #b71c1c !important;
}
</style>

@section("footerscript"){ 
<script>
$(document).ready(function(){
	// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	$('.modal-trigger').leanModal();
	
	$('.tooltipped').tooltip({delay: 50});
});

function setUser(name, id)
{
	$(".userName").html(name);
	$("#modal1").find("form").attr("action", '@url("/")admin/profile/' + id + '/delete/execute')
}
</script>
}