@extends("shared.mainlayout", title:"OAuth - success")

<!-- 
<div class='span6 offset3 '>	
		<div class="alert alert-success alert-block">
			<h4>@message("message.oauth.authentication.success")</h4>
			<br/>
			<p style="text-align: right;">				
				@if(request.getSession().getAttribute("projectId")!=null){
					<a href="@url("/")user/project/@request.getSession().getAttribute("projectId")/editor" class="btn btn-info mashupButton">Goto Editor</a>
					@{
					request.getSession().setAttribute("projectId", null);
					}@
				}else{
					<a href="#" class="btn btn-primary" onclick="refreshAndClose()"> Exit </a>
				}				
			</p>
		</div>
</div>
-->

<div class="row">
	<h4>@message("message.oauth.authentication.success")</h4>
</div>
<div class="row center">
	<a href="#" class="btn btn-small" onclick="refreshAndClose();">OK</a>
</div>

<script type="text/javascript">
function refreshAndClose() {
    window.opener.location.reload(true);
    window.close();
}

window.onbeforeunload = function() {
	refreshAndClose();
    return null;
};
</script>