@args List<CategoryDTO> categoryList
@args AccountDTO loggeduser
@extends("shared.adminlayout", "Admin - User Details") 
@include("shared.inlinedefinitions")

<div class="row-fluid">
	<div class="span3">@invoke("shared.adminmenu", "category_list")</div>
	<div class="span9">

		<h4>List Category</h4>

		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<td><strong>ID</strong></td>
						<td><strong>Description</strong></td>
						<td><strong>Parent Catagory</strong></td>
						<td><strong>-</strong></td>
					</tr>
				</thead>
				<tbody>
					@for(CategoryDTO category: categoryList){
					<tr>
						<td>
							@category.getId()
						</td>
						<td>
							@category.getDescription()
						</td>
						<td>
							@if(category.getParentCategory()!=null)
							{
								@category.getParentCategory().getDescription()
							}
							else
							{
								&nbsp;
							}
						</td>
					
						<td>
							<div class="btn-group">
						 		<a href='@url("/")admin/category/@category.getId()/edit' class="btn btn-small btn-primary">
								<i class="icon-pencil"></i> @message("marketplace.category.edit")</a>	 
								@if(category.getId()!=0)	
								{
									<a class="btn btn-small btn-danger" href='@url("/")admin/category/@category.getId()/delete'
										onclick='return confirm("@message("message.confirm.delete")")' title='@message("label.delete")'> 
										<i class="icon-remove"></i>
									</a>
								}  
							</div>
						</td>
					</tr>
					} 
				</tbody>
			</table>
		</div>
	</div>
</div>