@args CategoryDTO category 
@args AccountDTO loggeduser 
@args CategoryDTO categoryList 
@extends("shared.adminlayout", "Admin - User Details") 
@include("shared.inlinedefinitions")
<script type="text/javascript" src='@url("/")resources/js/jquery/jquery-1.10.2.min.js'></script>
<script type="text/javascript" src='@url("/")resources/js/jquery/ui/jquery-ui.min.js'></script>
<script type="text/javascript" src='@url("/")resources/js/bootstrap/js/bootstrap-dropdown.js'></script>
<script type="text/javascript" src='@url("/")resources/js/vme2App/marketplace/lib/Class.js'></script>
<script type="text/javascript" src='@url("/")resources/js/vme2App/marketplace/Category.js'></script>


<script>
var category;
$(function() {
	category=new Category();
	 // $('.dropdown').dropdown();  
	}); 


</script>


<div class="row-fluid">
	
	@if(category.getDescription() != null)
	{
		<div class="span3">@invoke("shared.adminmenu", "category_list")</div>
	}
	else
	{
		<div class="span3">@invoke("shared.adminmenu", "category_add")</div>
	}
	<div class="span9">

		<h4>@message("marketplace.category")</h4>
		<div>
			<form action='@url("/admin/category/edit/save")' method="POST" >

				<input id="id" name="id" type="hidden" value="@category.getId()" />
				
				@if(category==null || category.getId()==null || category.getId()!=0)
				{
					<div style="clear:both">
						<div class="dropdown clearfix" style="height:80px">
							<label for="name" >@message("marketplace.category.parentCategory"):</label> 
							<ul class="dropdown-menu" style="display:block;top: 30px;" required>
								<li class="dropdown-submenu" id="root_menu_categorie">
								
									@if(category.getId() != null)
									{
										@if(category.getParentCategory() != null)
										{
								 			<a tabindex="-1" href="#">@category.getParentCategory().getDescription()</a>
								 		}
								 		else
								 		{
								 			<a tabindex="-1" href="#">@category.getDescription()</a>
								 		}
								 	}
								 	else
								 	{
								 		<a tabindex="-1" href="#">Select Category</a>
								 	}
								 	<ul class="dropdown-menu">
									 	<li class="dropdown-submenu">
										 	<a tabindex="-1" href="#" onclick='category.setCategory(@categoryList.getId(),$(this));'>@categoryList.getDescription()</a>
										 	<ul class="dropdown-menu">
											@for(CategoryDTO categoryFirtLivel:categoryList.getChildrenCategories())
											{
											    <li class="dropdown-submenu">
												<a tabindex="-1" href="#" onclick='category.setCategory(@categoryFirtLivel.getId(),$(this));'> @categoryFirtLivel.getDescription()</a>
													<ul class="dropdown-menu">
														@for(CategoryDTO categorySecondLivel:categoryFirtLivel.getChildrenCategories()) 
														{
															<li class="dropdown-submenu">
																<a tabindex="-1" onclick='category.setCategory(@categorySecondLivel.getId(),$(this));'href="#">
																	@categorySecondLivel.getDescription()
																</a>
																
															</li> 
														}
													</ul>
												</li>
											}
											</ul>
										</li>
									</ul>
								</li>	
							</ul>
							
						</div>
						
					</div>
					}
					@if(category.getParentCategory() != null)
					{
						<input id="categoryId" name="parentCategory.id" type="hidden" value="@category.getParentCategory().getId()" />
					}
					else
					{
						<input id="categoryId" name="parentCategory.id" type="hidden" />
					}
				<div>
					<label for="description">
						@message("marketplace.category.description"):</label>
					<textarea name="description" class="input-xxlarge" maxlength="255"
						rows="3" required >@category.getDescription()</textarea>
				</div>
				
			
				<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
			</form>
		</div>
	</div>
</div>
