@args AddOpenDataViewModel model;

@extends("shared.adminlayout", "Admin - Add Ckan Server")


<div class="row-fluid">

<div class="span3">
	@invoke("shared.adminmenu", "ckanserver_add")
</div>
<div class="span9">
<h4>@message("ckan.management.add")</h4>

<form action='@url("/admin/ckanserver/add/execute")' method="POST">
	<div>
		<label for="name">@message("ckan.name")</label>
		<input type="text" name="name"  class="input-xxlarge" required />
	</div>
 	<div>
		<label for="description">@message("ckan.description")</label>
		<input type="text" name="description" class="input-xxlarge" required />
	</div>
	<div>
		<label for="url">@message("ckan.url")</label>
		<input type="url" name="url" class="input-xxlarge" required />
	</div>
	
	<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
</form>

</div>
</div>