@args List<CkanServer> resourceList, AccountDTO loggeduser; 
@extends("shared.adminlayout", "Admin - Ckan Server Catalog") 
@include("shared.inlinedefinitions")

<div class="row-fluid">

	<div class="span3">@invoke("shared.adminmenu", "ckanserver_list")</div>
	<div class="span9">

		<h4>@message("ckan.management.list")</h4>

		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<td><strong>@message("service.name")</strong></td>
						<td><strong>@message("ckan.description")</strong></td>
						<td><strong>@message("ckan.url")</strong></td>
						<td><strong>@message("service.visibility")</strong></td>
						<td><strong>@message("label.action")</strong></td>
					</tr>
				</thead>
				<tbody>					 
					@for(CkanServer pserv: resourceList){
					<tr>
						<td>@pserv.getName()</td>
						<td>@pserv.getDescription()</td>
						<td>@pserv.getUrl()</td>
						<td>@decodeServiceVisibility(pserv.getVisibility())</td>
						<td>
							<div class="btn-group">
								@if (pserv.getVisibility() == 4){
									<a href='@url("/")admin/ckanserver/@pserv.getId()/setvisibility?code=1' class="btn " 
									onclick='return confirm("@message("message.confirm.enable")")' title='@message("enable")'>
										<i class="icon-eye-open"></i>
									</a>
								}
								else if(pserv.getVisibility() == 1){
									<a href='@url("/")admin/ckanserver/@pserv.getId()/setvisibility?code=4' class="btn " 
									onclick='return confirm("@message("message.confirm.disable")")' title='@message("label.disable")'>
										<i class="icon-eye-close"></i>
									</a>							
								}
								<a href='@url("/")admin/ckanserver/@pserv.getId()/delete' class="btn btn-danger" 
								onclick='return confirm("@message("message.confirm.delete")")' title='@message("label.delete")'>
									<i class="icon-remove"></i>
								</a>							
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>