@args AccountDTO loggeduser 
@extends("shared.userlayout", loggeduser: loggeduser, title:"Home")

@section("extraheader"){

}


<div class="row">		
	<div class="col l6 s12">
		<div class="card">
			<div class="card-image">
				<img src='@url("/resources/images/img_apps-01.png")'>
				<span class="card-title">@message("home.mockup.title")</span>
			</div>
			<div class="card-content">
				<p>@message("home.mockup.description")</p>
			</div>
			<div class="card-action">
				<a class="waves-effect waves-light btn blue" href='@url("/user/gui/list")'>@message("home.projects.list")</a>
				<a class="waves-effect waves-light btn blue" href='@url("/user/gui/wizard")'>@message("home.projects.create")</a>
			</div>
		</div>
	</div>
	@if(loggeduser.getProfile().getLevel() != 1) {
	<div class="col l6 s12">
		<div class="card">
			<div class="card-image">
				<img src='@url("/resources/images/img-services-01.png")'>
				<span class="card-title">@message("home.mashup.title")</span>
			</div>
			<div class="card-content">
				<p>@message("home.mashup.description")</p>
			</div>
			<div class="card-action">
				<a class="waves-effect waves-light btn blue" href='@url("/user/project/list")'>@message("home.projects.list")</a>
				<a class="waves-effect waves-light btn blue" href='@url("/user/project/add")'>@message("home.projects.create")</a>
			</div>
		</div>
	</div>
	}
</div>
@if(loggeduser.getProfile().getLevel() != 1) {
<div class="row">
	<div class="col l6 s12">
		<div class="card">
			<div class="card-image">
				<img src='@url("/resources/images/img-buldingblock-01.png")'>
				<span class="card-title">@message("home.catalogs.title")</span>
			</div>
			<div class="card-content">
				<p>@message("home.catalogs.description")</p>
			</div>
			<div class="card-action">
				<a class="waves-effect waves-light btn blue" href='@url("/user/servicecatalog/list")'>@message("home.catalogs.services")</a>
				<a class="waves-effect waves-light btn blue" href='@url("/user/opendata/list")'>@message("home.catalogs.datasets")</a>
				<a class="waves-effect waves-light btn blue" href='@url("/user/mp/add/artefact")'>@message("home.catalogs.import")</a>
			</div>
		</div>
	</div>
</div>
}

@section("footerscript"){ 
<style>
.card-title
{
	color: #1565c0 !important;
	font-size: 2em !important;
	text-shadow: 1px 1px 0px white;
	font-weight: bold !important;
	width: 100%;
	text-align: right;
	padding: 0.5em !important;
	padding-right: 1em !important;
	background: rgba(255, 255, 255, 0.7) !important;
}

.card-image img
{
	height: 400px;
	width: auto !important;
	margin: auto;
}

.card-action a
{
}
</style>
}