@args Account account; 
@extends("shared.publiclayout", title:"Login", active:"login")

<div class='span6 offset3 '>

	<form name='loginForm' action='@url("/auth/user/login/execute")' method='POST' class="form-horizontal">
		<fieldset>
			<legend>@message("user.login.title")</legend>

			<div class="control-group">
				<label class="control-label" for="email">@message("profile.email"):</label>
				<div class="controls">
					<input type="email" id="email" name="email" value="@account.getEmail()" placeholder='@message("profile.email")' required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="psw">@message("account.password"):</label>
				<div class="controls">
					<input type="password" id="psw" name="psw" value="@account.getPsw()" placeholder='@message("account.password")' required>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type='submit' class='btn btn-primary'>@message("label.action.login")</button>
				</div>
			</div>

			<div class="form-actions">
	

				<small><em>@message("user.login.social.title")</em></small>
				<div class="btn-group">
				<a href='@url("/socialauth?id=facebook")'>
					<img src='@url("/resources/images/facebook_icon.png")' alt='Facebook' title='Facebook' border='0' />
				</a>
				<a href='@url("/socialauth?id=twitter")'>
					<img src='@url("/resources/images/twitter_icon.png")' alt='Twitter' title='Twitter' border='0' />
				</a>

				<a href='@url("/socialauth?id=googleplus")'>
					<img src='@url("/resources/images/googleplus.png")' alt='Google+' title='Google+' border='0' width='41' />
				</a>
				</div>
			</div>



		</fieldset>
	</form>



</div>
