@args Account account; 
@extends("shared.publiclayout",
title:"Registration - Success", active:"registration")

<div class='span6 offset3 '>

	
		<div class="alert alert-success alert-block">
		<h4>@message("message.registration.success.title")</h4>
			@message("message.registration.success.content")
			
			
				
			
			
			<br>
			<br>
			<a class="btn btn-primary" href='@url("/")'> Home </a>
		</div>
	


</div>
