@args Account account, String error_message
@extends("shared.publiclayout",
title:"Registration - Fail", active:"registration")

<div class='span6 offset3 '>

	
		<div class="alert alert-error alert-block">
			<h4>@message("message.registration.error.title")</h4>
			@message("message.registration.error.content")
			<br>
			@(error_message)		
			<br>
			<a class="btn btn-primary" href='@url("/")'> Home </a>
		</div>
		
	


</div>
