@args Account account; 
@extends("shared.publiclayout", title:"Registration", active:"registration")

@section("extraheader"){
<script type="text/javascript">
<!--
function validatePass(p1, p2) {
    if (p1.value != p2.value || p1.value == '' || p2.value == '') {
        p2.setCustomValidity('@message("message.password.notmatch")');
    } else {
        p2.setCustomValidity('');
    }
}
//-->
</script>
}

<div class='span6 offset3 '>


	<form name="registrationForm" action='@url("/auth/user/registration/execute")' method="POST" class="form-horizontal">
		<fieldset>
			<legend>@message("user.registration.title")</legend>
			<div class="control-group">
				<label class="control-label">@message("profile.name"):</label>
				<div class="controls">
					<input id="profile.firstName" name="profile.firstName" type="text" placeholder='@message("profile.name")' value="@account.getProfile().getFirstName()"
						required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">@message("profile.surname"):</label>
				<div class="controls">
					<input id="profile.lastName" name="profile.lastName" placeholder='@message("profile.surname")' type="text" value="@account.getProfile().getLastName()"
						required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">@message("profile.email"):</label>
				<div class="controls">
					<input id="email" name="email" type="email" placeholder='@message("profile.email")' value="@account.getEmail()" required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">@message("account.password"):</label>
				<div class="controls">
					<input id="psw" name="psw" type="password" placeholder='@message("account.password")' value="@account.getPsw()" required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">@message("account.confirmpassword"):</label>
				<div class="controls">
					<input id="confirmPsw" name="confirmPsw" type="password" placeholder='@message("account.confirmpassword")' value="@account.getPsw()" 
					required 
				    placeholder='@message("me.management.passwordconfirm")' 
				 	onfocus="validatePass(document.getElementById('psw'), this);" 
				 	oninput="validatePass(document.getElementById('psw'), this);" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">@message("label.action.registration")</button>
				</div>
			</div>
			<div class="form-actions">
				<small><em>@message("user.registration.social.title")</em></small>
				<div class="btn-group">
				<a href='@url("/socialauth?id=facebook")'>
					<img src='@url("/resources/images/facebook_icon.png")' alt='Facebook' title='Facebook' border='0' />
				</a>
<!-- 
				<a href='@url("/socialauth?id=twitter")'>
					<img src='@url("/resources/images/twitter_icon.png")' alt='Twitter' title='Twitter' border='0' />
				</a>
 -->
				<a href='@url("/socialauth?id=googleplus")'>
					<img src='@url("/resources/images/googleplus.png")' alt='Google+' title='Google+' border='0' width='41' />
				</a>
				</div>
			</div>

		</fieldset>
	</form>
</div>

