@args Account account;
@extends("shared.publiclayout", title:"Registration", active:"registration")

@section("extraheader"){
<script type="text/javascript">
<!--
function validatePass(p1, p2) {
    if (p1.value != p2.value || p1.value == '' || p2.value == '') {
        p2.setCustomValidity('@message("message.password.notmatch")');
    } else {
        p2.setCustomValidity('');
    }
}
//-->
</script>
}

<div class='span4 offset4 '>
	<form name="registrationForm" action='@url("/auth/user/registration/social/execute")' method="POST" class="form-horizontal">
		<fieldset>
			<legend>@message("user.registration.title")</legend>

			<div class="control-group">
				<label class="control-label">@message("profile.name"):</label>
				<div class="controls">
					<input id="profile.firstName" name="profile.firstName" type="text" placeholder='@message("profile.name")' value="@account.getProfile().getFirstName()"
						required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">@message("profile.surname"):</label>
				<div class="controls">
					<input id="profile.lastName" name="profile.lastName" type="text" placeholder='@message("profile.surname")' value="@account.getProfile().getLastName()"
						required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">@message("profile.email"):</label>
				<div class="controls">
					<input id="email" name="email" type="email" value="@account.getEmail()" placeholder='@message("profile.email")' required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">@message("account.password"):</label>
				<div class="controls">
					<input id="psw" name="psw" type="password" placeholder='@message("account.password")' required />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">@message("account.confirmpassword"):</label>
				<div class="controls">
					<input id="confirmPsw" name="confirmPsw" type="password" placeholder='@message("account.confirmpassword")'
					required 
				    placeholder='@message("me.management.passwordconfirm")' 
				 	onfocus="validatePass(document.getElementById('psw'), this);" 
				 	oninput="validatePass(document.getElementById('psw'), this);"
					
					/>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">

					<button type="submit" class="btn btn-primary">@message("label.action.registration")</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
