@args List<MashupDTO> mashupList
@args AccountDTO loggeduser
@extends("shared.userlayout", loggeduser: loggeduser, section:"marketplace", title:"Mashup Project Marketplace Managemet") 
@include("shared.inlinedefinitions")

<div class="row-fluid">

	<div class="span3">@invoke("shared.marketplacemenu", "mashup_list")</div>
	<div class="span9">

		<h4>@message("marketplace.mashup.management.list")</h4>

		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<td><strong>ID</strong></td>
						<td><strong>Name</strong></td>
							<td><strong>Category</strong></td>
						<td><strong>Author group</strong></td>
						<td><strong>Description</strong></td>
						<td><strong>Version</strong></td>
						<td><strong>Tags</strong></td>
						<td><strong>-</strong></td>
					</tr>
				</thead>
				<tbody>
					@for(MashupDTO mashup: mashupList){
					<tr>
						<td>
							@mashup.getId()
						</td>
						<td>
							@mashup.getName()
						</td>
						<td>
							@mashup.getCategory().getDescription()
						</td>
						<td>
							@mashup.getAuthorGroup()
						</td>
						<td>
							@mashup.getDescription()
						</td>
						<td>
							@mashup.getVersion()
						</td>
						<td>
							@mashup.getTags()
						</td>
						<td>							
						 		<a href='@url("/")user/marketplace/@mashup.getId()/edit' class="btn btn-small btn-primary" title="@message("marketplace.management.edit")">
								<i class="icon-pencil"></i></a>
						 		<a href='/mashupMarketplace/marketplace/marketplace/read.action?id=@mashup.getId()' target="_blank" class="btn btn-small btn-primary" title="@message("marketplace.management.preview")">
								<i class="icon-eye-open"></i></a>	 									 
								
								<a class="btn btn-small btn-danger" href='@url("/")/user/marketplace/@mashup.getId()/delete'
									onclick='return confirm("@message("message.confirm.delete")")' title='@message("label.delete")'> 
									<i class="icon-remove"></i>
								</a>  							
						</td>
					</tr>
					} 
				</tbody>
			</table>
		</div>
	</div>
</div>