@args MashupDTO mashup 
@args AccountDTO loggeduser
@args Boolean editMode  
@args CategoryDTO categoryList 
@extends("shared.userlayout",loggeduser: loggeduser,section:"marketplace", title:"Mashup Project Marketplace Managemet")
@include("shared.inlinedefinitions")
<script type="text/javascript" src='@url("/")resources/js/jquery/jquery-1.10.2.min.js'></script>
<script type="text/javascript" src='@url("/")resources/js/jquery/ui/jquery-ui.min.js'></script>
<script type="text/javascript" src='@url("/")resources/js/bootstrap/js/bootstrap-dropdown.js'></script>
<script type="text/javascript" src='@url("/")resources/js/vme2App/marketplace/lib/Class.js'></script>
<script type="text/javascript" src='@url("/")resources/js/vme2App/marketplace/Mashup.js'></script>


<script>
var mashup;
$(function() {
	mashup=new Mashup();
	 // $('.dropdown').dropdown();  
	}); 


</script>



<div class="row-fluid">

	@if(editMode)
	{
		<div class="span3">@invoke("shared.marketplacemenu", "mashup_list")</div>
	}
	else
	{
		<div class="span3">@invoke("shared.usermenu", "guiproject_list")</div>
	}
	
	<div class="span9">

		<h4>@message("marketplace.mashup")</h4>

		<div>
			<form action='@url("/user/marketplace/mashup/edit/save")' method="POST" enctype="multipart/form-data">

				<input id="id" name="id" type="hidden" value="@mashup.getId()" />
				<input name="mockupId" type="hidden" value="@mashup.getMockupId()" />
				
				<div style="clear:both">
					<div class="dropdown clearfix" style="height:80px">
						<label for="name" >@message("marketplace.mashup.category"):</label> 
						<ul class="dropdown-menu" style="display:block;top: 30px;" required>
							<li class="dropdown-submenu" id="root_menu_categorie">
								@if	(mashup.getId()==null)
								{
							 		<a tabindex="-1" href="#"  onclick='mashup.setCategory(@categoryList.getId(),$(this));'> @categoryList.getDescription()</a>
							 	}
							 	else
							 	{
							 		<a tabindex="-1" href="#"> @mashup.getCategory().getDescription()</a>
							 	}
							 		
								 	<ul class="dropdown-menu">
									@for(CategoryDTO categoryFirtLivel:categoryList.getChildrenCategories())
									{
									    <li class="dropdown-submenu">
										<a tabindex="-1" href="#" onclick='mashup.setCategory(@categoryFirtLivel.getId(),$(this));'> @categoryFirtLivel.getDescription()</a>
											<ul class="dropdown-menu">
												@for(CategoryDTO categorySecondLivel:categoryFirtLivel.getChildrenCategories()) 
												{
													<li class="dropdown-submenu">
														<a tabindex="-1" onclick='mashup.setCategory(@categorySecondLivel.getId(),$(this));'href="#">
															@categorySecondLivel.getDescription()
														</a>
														<ul class="dropdown-menu">
															@for(CategoryDTO categoryThreeLivel: categorySecondLivel.getChildrenCategories()) 
															{
																<li >
																	<a tabindex="-1" onclick='mashup.setCategory(@categoryThreeLivel.getId(),$(this));'href="#">
																		@categoryThreeLivel.getDescription()
																	</a>
																</li> 
															}
														</ul>
													</li> 
												}
											</ul>
										</li>
									}
									</ul>
									
							</li>	
						</ul>
						@if	(mashup.getId()!=null)
						{
							<input id="categoryId" name="category.id" type="hidden" value="@mashup.getCategory().getId()" />
						}
						else
						{
							<input id="categoryId" name="category.id" type="hidden" value="@categoryList.getId()" />
							}
					</div>
				</div>
				<div>
					<label for="name">@message("marketplace.mashup.name"):</label> <input
						id="name" name="name" class="input-xxlarge" type="text"
						value="@mashup.getName()" required />
				</div>

				<div>
					<label for="description">
						@message("marketplace.mashup.description"):</label>
					<textarea name="description" class="input-xxlarge" maxlength="255"
						rows="3" required>@mashup.getDescription()</textarea>
				</div>
				<div>
					<label>@message("marketplace.mashup.version"):</label> <input
						type="text" class="input-xxlarge" name="version"
						value="@mashup.getVersion()">
				</div>
				<div>
					<label>@message("marketplace.mashup.tags"):</label> <input
						type="text" class="input-xxlarge" name="tags"
						value="@mashup.getTags()">
				</div>
				<div>
					<label>@message("marketplace.mashup.authorGroup"):</label> <input
						type="text" class="input-xxlarge" name="authorGroup"
						value="@mashup.getAuthorGroup()" required>
				</div>
				<div class="control-group">
					<label for="xmlFile" class="control-label">@message("marketplace.mashup.image"): </label>
					<div class="controls">
					@if(mashup.getId() == null)
					{
						<input type="file" required="" class="input-xxlarge" name="image">
					}
					else
					{
						<input type="file" class="input-xxlarge" name="image">
					}
					</div>
				</div>
			
				<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
			</form>
		</div>
	</div>
</div>
