@args ServiceCatalog service, AccountDTO loggeduser, List<AuthProviderType> oauthTypes; 
@extends("shared.userlayout", loggeduser: loggeduser, section:"servicecatalog", title:"Service authentication") 
@include("shared.inlinedefinitions")

@section("extraheader"){
<script type="text/javascript">

$(function(){
	var checkRequired = function(){
		$(".basicrequired").prop("required", $("#oauthType_type").val() == 'BASIC');	
		
		$(".fields").hide();
		switch($("#oauthType_type").val()){
			case "1.0":
			case "2.0":
				$(".oauth_fields").show();
			break;
			case "BASIC": 
				$(".basic_fields").show();
				break;
			case "WELIVEAUTH": 
				$(".welive_fields").show();
				break;
		}
	}
	
	checkRequired();
	
	$("#oauthType_type").change(function(){
		checkRequired();
	});		
});

</script>
}

<ul class="breadcrumb">
	<li><a href="@url("/")user/servicecatalog/list" >@message("service.management.list")</a> <span
		class="divider">/</span></li>
	<li class="active">@service.getName()</li>
</ul>

<div class="row-fluid">
	<div class="span3">@invoke("shared.servicedetailsmenu", service, loggeduser, "service_oauth")</div>
	<div class="span9">

		<h4>@service.getName()</h4>
		<form class="form-horizontal" action='@url("/")user/servicecatalog/@service.getId()/addauth' method="POST">
			<div class="control-group">
					<label class="control-label" for="oauthType_type">@message("service.management.auth.authtype"):</label>
					<div class="controls">
						<select id="oauthType_type" name="authType.type" required>
						@for(type: oauthTypes){
							<option 
							@if (service.getAuthType() !=null && service.getAuthType().getType().equals(type.getType())) { 
								selected="selected" 
							}
							value="@type.getType()">@type.getDescription()</option>							
						}
						</select>
					</div>
			</div>
			<fieldset class="fields basic_fields">
				<legend>@message("service.management.auth.basic_parameters")</legend>
				
				<div class="control-group">
					<label class="control-label" for="username">@message("service.management.auth.username"):</label>
					<div class="controls">
						<input type="text" placeholder="username" name="username"
							value="@service.getUsername()" class="input-xlarge basicrequired">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">@message("service.management.auth.password"):</label>
					<div class="controls">
						<input type="password" placeholder="password" name="password"
							value="@service.getPassword()" class="input-xlarge basicrequired">
					</div>
				</div>
				
			</fieldset>
			
			<!-- IVAN: added for welive -->
			<fieldset class="welive_fields fields">
			<div class="control-group">
				<label class="control-label" for="scope">@message("service.management.oauth.scope"):</label>
				<div class="controls">
					<input type="text" placeholder="List of comma separated scopes" id="scope" name="scope"
						value="@service.getScope()" class="input-xxlarge oauth1required">
				</div>
			</div>
			</fieldset>
			
			<div class="form-actions">
					<button type="submit" class="btn btn-primary">@message("label.save")</button>
					<input type="reset" class="btn ">
			</div>
		</form>


	</div>
</div>