@args RestOperationDTO operation;
@args AccountDTO loggeduser;
@extends("shared.userlayout", loggeduser: loggeduser)

<h4>@message("service.management.operationtemplate.title")</h4>

<h5 class='text-success'>@message("service.management.operationtemplate.name"): @operation.getName()</h5>

<form action='@url("/user/servicecatalog/addresttemplate/execute")' method="POST">
	<input type="hidden" name="operationId" value="@operation.getId()">
	<div>
		<label for="name"><strong>@message("service.management.operationtemplate.template.name")</strong></label>
		<input type="text" name="name" value="" class="input-xxlarge" required />
	</div> 
	<div>
		<label for="description"><strong>@message("service.management.operationtemplate.template.description")</strong></label>
		<textarea name="description" class="input-xxlarge" maxlength="255" rows="3"></textarea>
	</div>	
	<table class="table table-striped">	
		<thead>
			<tr>
				<th>@message("service.management.operationtemplate.paramname")</th>
				<th>@message("service.management.operationtemplate.defvalue")</th>
				<th>@message("service.management.operationtemplate.hide")</th>
			</tr>
		</thead>		  		
		@for(RestParameter parameter: operation.getExecMethod().getParameters()){						       
           	<tr>
           		<td>@parameter.getLabel()</td>
           		<td>
           			<input type="hidden" name="parameters[@(parameter_index-1)].name" value="@parameter.getName()">
					@if (parameter.getOptions()!=null) {
						<select class='paramInput' name='parameters[@(parameter_index-1)].defaultValue' value="@parameter.getDefaultValue()">
	                    	@for(key : parameter.getOptions().keySet()){
					        	<option value="@key" @if(key.equals(parameter.getDefaultValue())){selected}>@key</option>
					        }
						</select>
					}
					else
					{						
						<input class='paramInput' name='parameters[@(parameter_index-1)].defaultValue' type='text'  value='@parameter.getDefaultValue()'/>
					}	           		
           		</td>
           		<td class="text-center">
           			@if(parameter.isRequired()){
           				<input type="hidden" name="parameters[@(parameter_index-1)].hide" value="false">
           				<span class="label label-important">required</span>	           				
           			}
           			else
           			{
						<input class='checkbox' name='parameters[@(parameter_index-1)].hide' type='checkbox'/>
           			}
           		</td>
           	</tr>					
		}
	</table>
	
	<button type="submit" class="btn btn-primary">@message("label.confirm")</button>	  
</form>