@args AddWsdlServiceViewModel model;
@args AccountDTO loggeduser;
@extends("shared.userlayout", loggeduser: loggeduser, section:"servicecatalog", title:"Import from WADL")

<div class="row-fluid">
<div class="span3">
	@invoke("shared.servicecatalogmenu", "service_addwsdl")
</div>
<div class="span9">

<h4>@message("service.management.addwsdl")</h4>

<form action='@url("/user/servicecatalog/add/wsdl/url")' method="POST">
	<div>
		<label for="wsdlUrl">URL: </label>
		<input type="url" name="wsdlUrl" value="@model.getWsdlUrl()" class="input-xxlarge" required />
	</div>
	
	<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
</form>

<form action='@url("/user/servicecatalog/add/wsdl/file")' method="POST" enctype="multipart/form-data">
	<div class="control-group">
		<label class="control-label" for="wsdlFile">File: </label>
		<div class="controls">
			<input type="file" name="wsdlFile" value="@model.getWsdlFile()" class="input-xxlarge" required />
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
		</div>
	</div>
</form>
</div>
</div>