@args AddWadlViewModel model;
@args AccountDTO loggeduser;
@extends("shared.userlayout", loggeduser: loggeduser, section:"servicecatalog", title:"Import from WADL")


<div class="row-fluid">

<div class="span3">
	@invoke("shared.servicecatalogmenu", "service_addwadl")
</div>
<div class="span9">
<h4>@message("service.management.addwadl")</h4>

<form action='@url("/user/servicecatalog/add/wadl/url")' method="POST">
	<div>
		<label for="serviceName">@message("service.name")</label>
		<input type="text" name="serviceName" value="" class="input-xxlarge" required />
	</div> 
	<div>
		<label for="wadlUrl">URL: </label>
		<input type="url" name="wadlUrl" value="@model.getWadlUrl()" class="input-xxlarge" required />
	</div>
	
	<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
</form>

<form action='@url("/user/servicecatalog/add/wadl/file")' method="POST" enctype="multipart/form-data">
	<div>
		<label for="serviceName">@message("service.name")</label>
		<input type="text" name="serviceName" value="" class="input-xxlarge" required />
	</div> 
	<div class="control-group">
		<label class="control-label" for="wadlFile">File: </label>
		<div class="controls">
			<input type="file" name="wadlFile" value="@model.getWadlFile()" class="input-xxlarge" required />
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary">@message("label.confirm")</button>
		</div>
	</div>
</form>
</div>
</div>