@args ServiceCatalog service, ServiceCatalogExt service_ext, List<SoapOperation> soapOperationList, List<RestOperation> serviceResourceList, AccountDTO loggeduser
@extends("shared.userlayout", loggeduser: loggeduser, section:"servicecatalog", title:"Service details") 
@include("shared.inlinedefinitions")

@section("extraheader") {
<link type="text/css" rel="stylesheet" href='@url("/resources/js/libs/json-schema-view-js/style.min.css")' />
<script type="text/javascript" src='@url("/")resources/js/libs/json-schema-view-js/bundle.min.js'></script>
}

@import it.eng.PropertyGetter;

@{
String mkpBaseUrl = PropertyGetter.getProperty("mkp.baseUrl");
}

<!-- Modal Delete Service Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.delete") <span class="serviceName"></span></h4>
    <p>@message("projects.messages.delete_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='' method="GET">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Service Dependencies -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>@message("projects.messages.cant_delete") <span class="serviceName"></span></h4>
    <p>@message("projects.messages.cant_delete.reason")</p>
    <ul id="depList">
    </ul>
  </div>
  <div class="modal-footer">
  	<button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.ok")</button>
  </div>
</div>

<div class="back-button-container">
	<a class="back-button" href='@url("/user/servicecatalog/list")'>
  		<i class="material-icons left">arrow_back</i> @message("catalogs.actions.to_list")
	</a>
</div>
<br>
<div style="position: relative">
	<h4 class="section-title">@service.getName()</h4>
	@if(service.getProfile().getId() == loggeduser.getProfile().getId()) { 
	<!-- FAB button -->
	<span class="fixed-action-btn horizontal">
	  <a class="btn-floating btn-large fab-fixed-button">
	    <i class="large material-icons">menu</i>
	  </a>
	  <ul>
	  	<!-- 
	    <li>
	    @if(service.getVisibility() == 3) {
	    <a class="btn-floating cyan darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("catalogs.actions.visibility.set_workgroup")'
	      href='@url("/")user/servicecatalog/@service.getId()/setvisibility?code=2'><i class="material-icons">visibility</i></a>
	    }
	    else {
	    <a class="btn-floating cyan darken-3 tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("catalogs.actions.visibility.set_private")'
	      href='@url("/")user/servicecatalog/@service.getId()/setvisibility?code=3'><i class="material-icons">visibility_off</i></a>
	    }
	    </li>	  
	    -->  
	    <!-- Modal Trigger -->
	    <li><a class="btn-floating red accent-4 modal-trigger tooltipped" data-position="bottom" data-delay="50" data-tooltip='@message("catalogs.actions.remove")'
	    onclick="javascript:deleteService('@service.getName()', @service.getId())"><i class="material-icons">delete</i></a></li>
	  </ul>
	</span>
	}
</div>

<div class="">
	<div class="row">
		<div class="col m3">
		@if(service.getType()==2) {
			<img src="@mkpBaseUrl/MarketplaceStore-portlet/icons/icone_servizi_rest-01.png" />
		}
		else {
			<img src="@mkpBaseUrl/MarketplaceStore-portlet/icons/icone_servizi_soap-01.png" />
		}
		</div>
		<div class="col m8">
			<ul>
				<li><strong>@message("catalogs.details.type"): </strong>@decodeServiceType(service.getType())</li>
				<!-- <li><strong>@message("catalogs.details.visibility"): </strong>@decodeServiceVisibility(service.getVisibility())</li>-->
				@if(service_ext != null && service_ext.isFrom_marketplace()) 
				{
				<li><strong>@message("catalogs.details.description"): </strong>@service_ext.getDescription()</li>	
				<li><a href=@service_ext.getLink_page() target="_blank">@message("catalogs.details.mkp_page")</a></li>	
				}
			</ul>
		</div>
	</div>
	<br>
	<h5>@message("catalogs.details.operations")</h5>
	<br>
	@if(service.getType()==2) {
	<div class="row">
		
		<ul class="collapsible" data-collapsible="accordion">
		@for (RestOperation resource: serviceResourceList) { <!-- Iterate through operations -->
			@{
				RestMethod method = null;
			
				try
				{
					method = resource.getRestMethod();
				}
				catch(Exception e)
				{
				}
			}
		  <li>
		    <div class="collapsible-header">
		    	<div class="row" style="margin-bottom: 0">
		    		<div class="col s1"><span class="opMethod opMethod_@method.getHttpMethod()">@method.getHttpMethod()</span></div>
		    		<div class="col s5"><span class="opPath">@method.getUrl()</span></div>
		    		<div class="col s6" class="opName" style="text-align: right"><span>@resource.getName()</span></div>
		    	</div>
		    </div>
		    <div class="collapsible-body opContainer">
		    	<div>
		    		<strong class="opSection">@message("catalogs.details.operations.description")</strong>
			    	<div style="padding: 1em">
						@resource.getDoc()
					</div>
				</div>
				@if(method.getAuthentication() != null && method.getAuthInfo() != null && method.getAuthentication().compareTo("true") == 0)
				{
				<div>
					<strong class="opSection">@message("catalogs.details.operations.authorization")</strong>						
					<div style="padding: 1em">
					<strong>@message("catalogs.details.operations.authorization.permissions")</strong>
						<ul>
						@for(String scope: method.getAuthInfo().getScopes()) {
							<li>@scope</li>
						}
						</ul>
					</div>

				</div>
				}
				@if(method.getParameters() != null && method.getParameters().size() > 0){
				<div>
					<strong class="opSection">@message("catalogs.details.operations.parameters")</strong>
					<br><br>
					<table class="striped">
						<thead>
							<tr>
								<td class="col s2">
									<strong>@message("catalogs.details.operations.parameters.name")</strong>
								</td>
								<td class="col s1">
									<strong>@message("catalogs.details.operations.parameters.type")</strong>
								</td>
								<td class="col s5">
									<strong>@message("catalogs.details.operations.parameters.description")</strong>
								</td>
								<td class="col s1">
									<strong>@message("catalogs.details.operations.parameters.required")</strong>
								</td>
								<td class="col s3">
									<strong>@message("catalogs.details.operations.parameters.schema")</strong>
								</td>
							</tr>
						</thead>
						<tbody>
							@for (RestParameter par: method.getParameters()){
								<tr>
									<td class="col s2">@par.getName()</td>
									<td class="col s1">@par.getType()</td>
									<td class="col s5">@par.getDoc().getText()</td>
									<td class="col s1">@par.isRequired()</td>
									<td class="schemaContainer col s3">
										<input type="hidden" value="@par.getSchema()">
										<div></div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<br>
				} <!-- Parameters -->
				@if(method.getResponses() != null && method.getResponses().size() > 0) {
				<div>
					<strong class="opSection">@message("catalogs.details.operations.responses")</strong>
					<br><br>
					<table class="striped">
						<thead>
							<tr>
								<td class="col s2">
									<strong>@message("catalogs.details.operations.responses.code")</strong>
								</td>
								<td class="col s6">
									<strong>@message("catalogs.details.operations.responses.description")</strong>
								</td>
								<td class="col s4">
									<strong>@message("catalogs.details.operations.responses.schema")</strong>
								</td>
							</tr>
						</thead>
						<tbody>
							@for (RestResponse res: method.getResponses()){
							<tr>
								<td class="col s2">@if(res.getStatusCodes() != null){@res.getStatusCodes().get(0)}</td>
								<td class="col s6">@if(res.getDoc() != null){@res.getDoc().get(0).getText()}</td>
								<td class="schemaContainer col s4">
									<input type="hidden" value="@res.getSchema()">
									<div></div>
								</td>
							</tr>
							}
						</tbody>
					</table>
				</div>
				} <!-- Responses -->
		    </div>
		  </li>
		}
		</ul>
	</div>
	} else {
	<div class="row">		
		<ul class="collapsible" data-collapsible="accordion">
		@for (SoapOperation soapop: soapOperationList) {
		<li>
		    <div class="collapsible-header">
		    	<div class="row" style="margin-bottom: 0">
		    		<!-- <div class="col s1"><span class="opMethod opMethod_"></span></div> -->
		    		<div class="col s5"><span class="opPath">@soapop.getOperationName()</span></div>
		    		<div class="col s6" class="opName" style="text-align: right"><span>@soapop.getBindingName()</span></div>
		    	</div>
		    </div>
		</li>
		<!-- TODO to be completed -->
		}
		</ul>
	</div>
	}
</div>

<script>
function viewOperationList()
{
	$(".table-striped").toggle();
}

function htmlDecode(value)
{ 
  return $('<div/>').html(value).text(); 
}

function renderSchemas()
{
	$(".schemaContainer").each(function(){
		
		var schema = $(this).find("input").first().val();
		
		var div = $(this).find("div").first();
		
		if(schema != "")
		{
			var view = "";
			
			try
			{
				view = new JSONSchemaView(JSON.parse(schema), 0);
			}
			catch(ex)
			{
				view = new JSONSchemaView(JSON.parse(htmlDecode(schema)), 0);
			}
			
			var content = view.render();
		
			$(div).html(content);	
		}
	});	
}

function deleteService(name, id)
{
	$.ajax({
		type: "POST",
		dataType : 'json',
		url: '@url("/")user/servicecatalog/' + id + '/delete/check',
		success :function(response)
		{
			$(".serviceName").html(name);
			
			if(response.mashups.length == 0)
			{				
				$("#modal1").find("form").attr("action", '@url("/")user/servicecatalog/' + id + '/delete');
				
				$("#modal1").openModal();
			}
			else
			{
				var content = "";
				
				for(var i = 0; i < response.mashups.length; i++)
				{
					content += '<li><a target="_blank" href="@url("/")user/project/' + response.mashups[i].id + '/details">' + response.mashups[i].name + '</a></li>';	
				}
				
				$("#depList").html(content);
				
				$("#modal2").openModal();
			}
		}
	});
}

$(document).ready(function(){
	renderSchemas();

	$('.collapsible').collapsible({
		accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
	});
});
</script>