@args ServiceCatalogListViewModel model, AccountDTO loggeduser; 
@extends("shared.userlayout", loggeduser: loggeduser, section:"servicecatalog", title:"Service Catalog") 
@include("shared.inlinedefinitions")

@section("extraheader"){
<script type="text/javascript" src='@url("/")resources/js/libs/list.min.js'></script>

<script>
$(document).ready(function (){
	var options = {
	  valueNames: [{ attr: 'data-title', name: 'service_title' }]
	};

	catalogList = new List('catalog', options);
	
	// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
	$('.modal-trigger').leanModal();
	
	$('.tooltipped').tooltip({delay: 50});
	
	$("#catalogFilter").on('input', function() {
		setTimeout(function(){
			if(catalogList.visibleItems.length == 0)
				$("#emptyList").show();
			else
				$("#emptyList").hide();
		}, 300);
	});
});

function toggleSort(elem)
{
	if($(elem).find(".sortUp").is(":visible"))
	{
		$(elem).find(".sortUp").hide();
		$(elem).find(".sortDown").show();
	}
	else
	{
		$(elem).find(".sortDown").hide();
		$(elem).find(".sortUp").show();
	}
}

function deleteService(name, id)
{
	$.ajax({
		type: "POST",
		dataType : 'json',
		url: '@url("/")user/servicecatalog/' + id + '/delete/check',
		success :function(response)
		{
			$(".serviceName").html(name);
			
			if(response.mashups.length == 0)
			{				
				$("#modal1").find("form").attr("action", '@url("/")user/servicecatalog/' + id + '/delete');
				
				$("#modal1").openModal();
			}
			else
			{
				var content = "";
				
				for(var i = 0; i < response.mashups.length; i++)
				{
					content += '<li><a target="_blank" href="@url("/")user/project/' + response.mashups[i].id + '/details">' + response.mashups[i].name + '</a></li>';	
				}
				
				$("#depList").html(content);
				
				$("#modal2").openModal();
			}
		}
	});
}
</script>
}

<!-- Modal Delete Service Confirmation -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>@message("general.actions.delete") <span class="serviceName"></span></h4>
    <p>@message("catalogs.messages.delete_confirm")</p>
  </div>
  <div class="modal-footer">
  	<form action='' method="GET">
    	<button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.confirm")</button>
    </form>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.cancel")</button>
  </div>
</div>

<!-- Modal Service Dependencies -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>@message("catalogs.messages.cant_delete") <span class="serviceName"></span></h4>
    <p>@message("catalogs.messages.cant_delete.reason")</p>
    <ul id="depList">
    </ul>
  </div>
  <div class="modal-footer">
  	<button class="modal-action modal-close waves-effect waves-green btn-flat">@message("general.actions.ok")</button>
  </div>
</div>

<h4 class="section-title">@message("home.catalogs.services")</h4>

<div id="catalog">
<div class="row">		
	<form class="col s12" action="#">
		<div class="row">
			<div class="input-field col l8 s12">
		    	<i class="material-icons prefix">search</i>
				<input name="criteria" id="catalogFilter" placeholder='@message("catalogs.list.filter.placeholder")' type="text" class="search" value="" />
			</div>
		</div>
	</form>
</div>

<div class="row center" style="position: relative">	
	<a class="btn btn-small" href='@url("/user/mp/add/artefact")'>
	  <i class="material-icons left">add</i> @message("catalogs.list.add")
	</a>
	
	<!-- FAB button -->
	<span class="fixed-action-btn horizontal" style="bottom: -10px !important">
	  <a class="btn-floating btn-large fab-fixed-button">
	    <i class="large material-icons">sort</i>
	  </a>
	  <ul>
	    <li>
	    	<a class="btn-floating tooltipped sort" data-position="top" data-delay="50" data-tooltip='@message("catalogs.list.sort_by_name")'
	    data-sort="service_title" onclick="javascript:toggleSort(this)"><i class="material-icons">sort_by_alpha</i></a>
	    </li>
	  </ul>
	</span>
</div>

<ul class="collection list">
@for(ServiceCatalog service: model.getMyList()){
  <li class="collection-item avatar">
  @if(service.getType() == 1){
    <i class="material-icons circle green">send</i>
  }
  else {
  	<i class="material-icons circle blue">send</i>
  }
    <span class="title"><a href='@url("/")user/servicecatalog/@service.getId()/details' class="service_title" data-title="@service.getName()">@service.getName()</a></span>
    <p>
    	<strong>@message("catalogs.details.type")</strong>: @decodeServiceType(service.getType()) 
    	<!-- <br>
       	<strong>@message("catalogs.details.visibility")</strong>: @decodeServiceVisibility(service.getVisibility()) -->
    </p>
    <div href="#!" class="secondary-content">
	  	@if(service.getProfile().getId() == loggeduser.getProfile().getId()) { 
	  		<!--  
			@if(service.getVisibility() == 3) { 
				<a class="list-action-icon tooltipped" href='@url("/")user/servicecatalog/@service.getId()/setvisibility?code=2'
		     	data-position="top" data-delay="50" data-tooltip='@message("catalogs.actions.visibility.set_workgroup")'>
					<i class="material-icons" style="color:#ffab00">visibility_off</i>
				</a> 
			} 
			else { 
				<a class="list-action-icon tooltipped" href='@url("/")user/servicecatalog/@service.getId()/setvisibility?code=3'
					data-position="top" data-delay="50" data-tooltip='@message("catalogs.actions.visibility.set_private")'>
					<i class="material-icons" style="color:#304ffe">visibility</i>
				</a> 
			} 
			-->
			<a class="list-action-icon tooltipped" data-position="top" data-delay="50" data-tooltip='@message("catalogs.actions.remove")'
				onclick="javascript:deleteService('@service.getName()', @service.getId())"> 
				<i class="material-icons delete-icon" style="cursor: pointer">delete</i>
			</a> 
		}
    </div>
  </li>
}
@for(ServiceCatalog pserv: model.getPublicList()){
  <li class="collection-item avatar">
    @if(pserv.getType() == 1){
	  <i class="material-icons circle green">send</i>
	}
	else {
	 <i class="material-icons circle blue">send</i>
	}
    <span class="title"><a href='@url("/")user/servicecatalog/@pserv.getId()/details'> @pserv.getName()</a></span>
    <p>
    	<strong>@message("catalogs.details.type")</strong>: @decodeServiceType(pserv.getType()) 
    	<br>
       	<strong>@message("catalogs.details.visibility")</strong>: @decodeServiceVisibility(pserv.getVisibility())
    </p>
    <a href="#!" class="secondary-content">
    </a>
  </li>
}
</ul>
<div class="row" id="emptyList" style="display:none">
	<h5 style="text-align:center">@message("catalogs.messages.no_results")</h5>
</div>
</div>