@args ServiceCatalog service, OperationTemplateDTO template;
@args AccountDTO loggeduser;
@extends("shared.userlayout", loggeduser: loggeduser)

<ul class="breadcrumb">
	<li>
		<a href="@url("/")user/servicecatalog/list">@message("service.management.list")</a>
		<span class="divider">/</span>
	</li>		
	<li>
		<a href="@url("/")user/servicecatalog/@service.getId()/details">@service.getName()</a>
		<span class="divider">/</span>
	</li>
	<li class="active">@template.getName()</li>
</ul>

<div class="row-fluid">
	<div class="span3">
	@invoke("shared.servicedetailsmenu", service, loggeduser, "view_template")	
	</div>
	<div class="span9">

<h4>@message("service.management.operationtemplate.view.title")</h4>

<h5 class='text-success'>@message("service.management.operationtemplate.template.name"): @template.getName()</h5>

<p>@template.getDescription()</p>
<table class="table table-striped">	
	<thead>
		<tr>
			<th>@message("service.management.operationtemplate.paramname")</th>
			<th>@message("service.management.operationtemplate.defvalue")</th>
			<th>@message("service.management.operationtemplate.hide")</th>
		</tr>
	</thead>
	<tbody>		  		
		@for(OperationTemplateParameter parameter: template.getParameters()){						       
           	<tr>
           		<td>@parameter.getName()</td>
           		<td>@parameter.getDefaultValue()</td>
           		<td class="text-center">           		
           			<input class='checkbox' name='parameters[@(parameter_index-1)].hide' type='checkbox' @if(parameter.isHide()){checked} disabled/>           			
        		</td>
           	</tr>					
		}
	</tbody>
</table>	
</div>
</div>	