html {
	width: 100%;
	min-width: 700px;
	height: 100%;
	min-height: 400px;
	margin: 0 auto
}

body {
	width: 100%;
	min-width: 700px;
	height: calc(100% - 120px);
	min-height: 400px;
}

#container {
	/* HEIGHT */
	height: 100%;
	/* WIDTH */
	width: 100%;
	min-width: 700px;
}

#loadedFileName 
{
	font-weight: bold;
}

#controls-bar
{
	background: #424242;
	padding: 5px;
	margin-bottom: 5px;
}

#controls-bar ul
{
	margin-bottom: 0px;
	margin-top: 0px;
}

#controls-bar ul .material-icons
{
	color: white;
}

#content {
	padding: 0;
}

#canvas {
	background-color: #FAFAFA;
}

#palette {
	padding: 0px;
	padding-left: 10px;
}

.palette_node_element {
	border-radius: 2px;
	padding: 5px;
	margin: 5px;
	background: white;
	font-weight: bold;
	border: 2px solid black;
	cursor:pointer;
}

.palette_node_element > .col
{
	padding: 0;
}

.project_palette_header
{
	color: black !important;
	padding-left: 5px;
	font-weight: bold;
}

.input_element
{
	
	background: #4caf50 !important;
	color: black;
}

.output_element
{
	background: #f44336 !important;
	color: black;
}


.operator_element
{
	background: #ffd600 !important;
	color: black;
}

.soap_element 
{
	background: #00bcd4 !important;
	color: black;
}

.rest_element 
{
	background: #42a5f5 !important;
	color: black;
}

.operation_element, .resource_element 
{
	margin-left: 10px;
    margin-right: 10px;
}

.opendata_element 
{
	background: #cddc39 !important;
	color: black;
}

.innerprocess_element 
{
	background: #e57373 !important;
	color: black;
}

.palette_label_service_type
{
	font-size: xx-small;
	font-style: italic;
	font-weight: bold;
	left: -0.25em;
	bottom: -0.75em;
}

#editor 
{
	
}

#toolbar {
	overflow: visible;
	padding: 0 15px;
}

#view
{
	background: white !important;
}

#canvas
{
	background: white !important;
}

#title {
	padding: 10px;
	padding-right: 40px;
}

#property {
	padding: 10px;
}

.modal-wide {
	width: 800px;
	margin-left: -400px;
}

.modal hr 
{
    background: black;
    height: 2px;
    border-style: none;
}

#connectParamsModal .modal-body {
	overflow: hidden;
}

#connectParamsModal [class^="span"]>div {
	overflow: auto;
	max-height: 320px;
}

.targetRow {
	margin-bottom: 0 !important;
}

#connectParamsModal .targetRow .input-field {
	margin-top: 0 !important;
}

.previewtreecontainer, #treecontainer
{
	background: inherit !important; 
	overflow: hidden;
}

.previewtreecontainer .fa, #treecontainer .fa
{
	background: inherit !important;
}

.previewtreecontainer .fa.icon-file-text, #treecontainer .fa.icon-file-text
{
	color: #82b1ff;
}

.previewtreecontainer .fa.icon-folder-close, #treecontainer .fa.icon-folder-close
{
	color: #0d47a1;
}

.previewtreecontainer .fa.icon-th-list, #treecontainer .fa.icon-th-list
{
	color: #00695c;
}

/****** DRAW 2D CUSTOM *******/
.redport {
	fill: red;
}

.saveButton
{
	background: #38ADC7 !important;
}

.accordion_div
{
	height: 100% !important;
	padding: 0px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-size: 0.8em !important;
	border: none;
}

.accordion_div ul
{
	margin: 0px !important;
}

.accordion_header
{
	height: 100% !important;
	font-family: 'Asap', sans-serif !important;
	font-size: 0.9em !important;
	background: #FAFAFA !important;
	color: black !important;
	font-weight: bold;
}

.import_link a
{
	cursor: pointer;
	color: rgb(0,69,84);
}

.dropdown-menu
{
	background: #FAFAFA;
}

.dropdown-menu li
{
	font-size: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
}

.dropdown-menu a
{
	color: black !important;
}

.dropdown-menu a:hover
{
	color: white !important;
}

#import li
{
	list-style-type: none;
}

.import_buttons
{
	width: calc(100% - 30px);
	margin-left: 0px;
	margin-bottom:10px;
}

#importModal, #importFromMarketplaceModal
{
	height: 80%;
}

.modal-body
{
	height: 80%;
}

.srcBtn
{
	font-size: 1em !important;
	margin: 0px !important;
}

.hrSearch
{
	margin: 0px;
	margin-bottom: 20px;
}

#searchForm
{
	margin-bottom: 0px;
}

#artefactsList
{
	margin-left: 0px;
}

.listElement
{
	list-style: none;
}

.listElement h3
{
	margin: 0px;
}

.listElement div
{
	width: calc(100% - 15px);
	margin-left: 15px;
}

.imported_success
{
	font-size:1em;
	color: green;
	text-align: left;
	cursor: default;
	margin-right: 15px !important;
}

.imported_success a
{
	font-size:0.8em;
	cursor: pointer;
}

.imported_error
{
	font-size:1em;
	color: red;
	text-align: left;
	cursor: default;
	margin-right: 15px !important;
}



.artefact_title
{
	font-size: 1.4em;
	margin-right: 10px;
	text-decoration: underline;
	display:inline;
}

.artefact_descr
{
	text-align: justify;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-right: 0 !important;
	margin-top: 5px !important;
	padding-bottom: 5px !important;
	font-size: 1em;
	line-height: 1.2em;
}

.artefact_type
{
	margin-left: 0 !important;
	font-weight: bold;
	font-style:italic;
	font-size: 0.8em;
	margin-bottom: 10px;
	color: gray;
}

.artefact_type i
{
	font-size: 1.2em;
}

.artefact_url
{
	margin-left: 0 !important;	
	margin-top: 10px;
	font-size: 0.8em;
}

.artefact_button
{
	float:right;
	color:#08c;
	cursor:pointer;
	margin-right: 15px !important;
}

.artefact_button_check
{
	float:right;
	color:green;
	cursor:pointer;
	margin-right: 15px !important;
}

.artefact_button_error
{
	float:right;
	color:red;
	cursor:pointer;
	margin-right: 15px !important;
}

.artefact_image
{
	width: 150px;
}

.artefact_rating
{
	margin-left: 0 !important;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #FFCC00;
}

.suggestion
{
	margin: 0 !important;
}

.suggestion a
{
	color: white !important;
	cursor: pointer;
	padding: 0px !important;
	margin-left: 10px;
}

.suggestion img
{
	width: 36px !important;
	height: 36px !important;
	margin-top: 2px;
}

.suggestion span
{
	font-size: 0.7em !important;
	color: white;
	font-weight: bold;
	border: 1px solid rgb(56, 173, 199);
	line-height: 0.7em;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.listContainer
{
	
}

.listContainer .input-field
{
	margin-bottom: 0;
	padding-left: 5px;
	padding-right: 10px;
}