@args int workgroupId, String page

<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">@message("workgroup.management.workgroup")</li>
		<li @if(page.equals("workgroup_details")) { class="active" } >
			<a href='@url("/")admin/workgroup/@workgroupId/details'>@message("workgroup.management.details")</a>
		</li>
		<li class="divider"></li>
		<li @if(page.equals("workgroup_edit")) { class="active" } >
			<a href='@url("/")admin/workgroup/@workgroupId/edit'>@message("workgroup.management.edit")</a>
		</li>
		<li @if(page.equals("workgroup_delete")) { class="active" } >
			<a href='@url("/")admin/workgroup/@workgroupId/delete'>@message("workgroup.management.delete")</a>
		</li>

	</ul>
</div>