@args int profileId, String page
<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">@message("profile.management.profile")</li>
		<li @if(page.equals("profile_details")) { class="active" } >
			<a href='@url("/")admin/profile/@profileId/details'>@message("profile.management.details")</a>
		</li>
		<li @if(page.equals("user_activities")) { class="active" } >
			<a href='@url("/")admin/activityStream?activityProfileId=@profileId'>@message("profile.management.activities")</a>
		</li>		
		<li class="divider"></li>		
		<li @if(page.equals("profile_delete")){ class="active" } >
			<a href='@url("/")admin/profile/@profileId/delete'>@message("profile.management.delete")</a>
		</li>
	</ul>
</div>