@args ServiceCatalog service, String page

<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">@message("service.management.service")</li>
		<li @if(page.equals("service_details")) { class="active" } >
			<a href='@url("/")admin/servicecatalog/@service.getId()/details'>@message("service.management.detail")</a>
		</li>
		@if(service.getType() == 2) {
		<li @if(page.equals("service_oauth")){ class="active" } >
			<a href='@url("/")admin/servicecatalog/@service.getId()/addoauth'>@message("service.management.oauth.parameters")</a>
		</li>
		}
	</ul>
</div>