@args String title = "Admin", AccountDTO loggeduser
@extends("shared.mainlayout", title:title)

@include("shared.navigation")

<div class="main-container">
	<div class="section">
		@include("shared.alerts")
		
		@render()
	</div>
</div>

<!-- footer -->
@include("shared.footer")
<!-- /footer -->