@args String message, String alert

@{
	if(message == null || "".equals(message)){
		message = request.getParameter("message");
	} 
	if(alert == null || "".equals(alert)){
		alert = request.getParameter("alert");
	} 
	alert = ((alert == null || "".equals(alert)) ? "error" : alert);
}
 
@if(message){
<!-- <div class="chip alert-@alert">@message(message) <i class="close material-icons">close</i></div> -->
<script>
$(document).ready(function(){

	var toastContent = $('<span class="toastMessage">@message(message)</span>');
	Materialize.toast(toastContent, 2000);
	$(".toastMessage").parent().addClass("toast-@alert");
});
</script>
}