@args String message, String alert, String stackTrace

@{
	if(message == null || "".equals(message)){
		message = request.getParameter("message");
	} 
	if(alert == null || "".equals(alert)){
		alert = request.getParameter("alert");
	} 
	alert = ((alert == null || "".equals(alert)) ? "error" : alert);
	if(stackTrace == null || "".equals(stackTrace)){
		stackTrace = request.getParameter("stackTrace");
	} 
}
 
@if(message){
<div class="row-fluid">
	<div class='span10 offset1 alert alert-@alert' style="clear: both">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<div class="text-center">
		<strong >@message(message)</strong>
		</div>
		@if(stackTrace){
			<div>
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="text-error"><small>view stack trace</small></a>
				<div id="collapseOne" class="panel-collapse collapse text-error">
					<small>@message(stackTrace)</small>
				</div>
			</div>
		}
	</div>
</div>
}