@args int projectId,  String page, boolean owner

<div class="well sidebar-nav main_sidebarmenu">
	<ul class="nav nav-list">
		<li class="nav-header"><i class="icon-folder-open"></i>&nbsp;@message("guiproject.management")</li>
		<li @if(page.equals("project_home")){ class="active"} >
			<a href='@url("/")user/gui/@projectId/details'><i class="icon-book"></i>&nbsp;&nbsp;@message("project.details")</a>
		</li>
		<li @if(page.equals("project_comments")){ class="active"} >
			<a href='@url("/")user/gui/@projectId/comments'><i class="icon-comment"></i>&nbsp;&nbsp;@message("project.management.comments")			
			</a>
		</li>		
		@if (owner) {
			<li @if(page.equals("project_members")){ class="active"} >
				<a href='@url("/")user/gui/@projectId/members'><i class="icon-user"></i>&nbsp;&nbsp;@message("project.management.members")</a>
			</li>
			<li @if(page.equals("guiproject_edit")){ class="active"} >
				<a href='@url("/")user/gui/@projectId/edit'><i class="icon-edit"></i>&nbsp;&nbsp;@message("project.management.edit")</a>
			</li>
			<li @if(page.equals("project_delete")){ class="active"} >
				<a href='@url("/")user/gui/@projectId/delete'><i class="icon-trash"></i>&nbsp;&nbsp;@message("project.management.delete")</a>
			</li>
		}				
		<li class="divider"></li>
		<li>
			<a href='@url("/")user/gui/@projectId/editor'><i class="icon-pencil"></i>&nbsp;&nbsp;@message("guiproject.management.editgui")</a>
		</li>		
	</ul>
</div>