@def decodeStatus(int status) {
    @if(status == 1){    
	<span class="label label-warning">@message("label.status.activation.pending")</span>
	}else if(status == 2){
	<span class="label label-success">@message("label.status.enabled")</span>
	}else if(status == 3){
	<span class="label label-important">@message("label.status.disabled")</span>
	}else if(status == 4){
	<span class="label label-warning">@message("label.status.resetpassword")</span>
	}
}

@def decodeRole(int role){

	@if(role == 1){
		<span class="label">@message("label.type.admin")</span>
	}else{
		<span class="label label-success">@message("label.type.user")</span>
	}
}

@def workgroupRoleDef(int role){

	@if(role == 1){
	<span class="label">@message("label.role.owner")</span>
	}else if(role == 2){
	<span class="label label-success">@message("label.role.user")</span>
	}else{
	<span class="label">@message("label.role.unknown")</span>
	}
}

@def decodeServiceType(int type){

	@if(type == 1){
    @message("service.management.type.soap")
    }else{
    @message("service.management.type.rest")
    }
}

@def decodeServiceVisibility(int visibility){

	@if(visibility == 1){
	@message("catalogs.visibility.public")
	}else if(visibility == 2){
	@message("catalogs.visibility.workgroup")
	}else if(visibility == 3){
	@message("catalogs.visibility.private")
	}else {
	@message("label.visibility.disabled")
	}
}

@def restAuthDef(String auth){

	@if(auth!=null && auth.equals("true")){
		<span class="label label-warning">@message("label.auth.required")</span>
	}else{
		<span class="label label-success">@message("label.auth.none")</span>
	}
}