@args String page

<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">@message("marketplace.mashup.management")</li>
		<li @if(page.equals("mashup_list")){ class="active" } >
			<a href='@url("/user/marketplace/mashupList")'>@message("marketplace.mashup.management.list")</a>
		</li>
	</ul>
	
</div>
