@args String page;

<div class="well sidebar-nav main_sidebarmenu">
	<ul class="nav nav-list">
		<li class="nav-header">@message("me.management")</li>
		<li @if(page.equals("account_home")){ class="active"} >
			<a href='@url("/")user/me/'>@message("me.management.home")</a>
		</li>
		<li @if(page.equals("account_changepassword")){ class="active"} >
			<a href='@url("/")user/me/changepassword'>@message("me.management.changepassword")</a>
		</li>
	</ul>
</div>