@import it.eng.PropertyGetter;
@import javax.servlet.http.Cookie;
@args AccountDTO loggeduser

@{
	String baseUrl = PropertyGetter.getProperty("oauth.callbackContext");
	String marketplaceUrl = PropertyGetter.getProperty("mkp.baseUrl");
	String usdleditorPortlet = PropertyGetter.getProperty("usdleditor.portlet");
	String gadgetEndpointBaseUrl = PropertyGetter.getProperty("gadget.endpointBaseUrl");
	String publishGadgetUrl = PropertyGetter.getProperty("mkp.gadgetPublishUrl");
	
	Cookie[] cookies = request.getCookies();
	
	String locale = "en_EN";

	if(cookies != null && cookies.length > 0) 
	{
		for(Cookie cookie : cookies) 
		{
			if(cookie.getName().equals("locale")) 
			{
				locale = cookie.getValue();
				break;
			}
		}
	}
	
	HashMap<String,String> messageMap = PropertyGetter.getMessageMap(locale);
	
	Iterator<String> it = messageMap.keySet().iterator();
	
	List<String> messages = new ArrayList<String>();
	
	while(it.hasNext())
	{
		messages.add(it.next());
	}
	
	String key = "";


	String liferayBaseUrl = PropertyGetter.getProperty("mkp.baseUrl") + "/" + (locale.compareTo("en_EN") == 0 ? "en" : locale);
	String vcBaseUrl = PropertyGetter.getProperty("app.publicUrl") + "/" + PropertyGetter.getProperty("app.url.name");
	
	String pilot = loggeduser.getProfile().getPilotId();
	
	if(pilot != null)
	{
		if(pilot.compareToIgnoreCase("Uusimaa") == 0)
		{
			pilot = "Helsinki Region";
		}
		else if(pilot.compareToIgnoreCase("Novisad") == 0)
		{
			pilot = "Novi Sad";
		}
	}
	
	String imageUrl = loggeduser.getProfile().getExtImageUrl();
	
	if(imageUrl != null && imageUrl.trim().compareTo("") != 0)
		imageUrl = PropertyGetter.getProperty("mkp.baseUrl") + imageUrl;
	else
		imageUrl = "/" + PropertyGetter.getProperty("app.url.name") + "/resources/images/no-avatar.jpg";
		
	String socialUrl = "";
	
	if(loggeduser.getProfile().getExtNickname() != null && loggeduser.getProfile().getExtNickname().trim().compareTo("") != 0)
		socialUrl = liferayBaseUrl + "/web/" + loggeduser.getProfile().getExtNickname() + "/so/profile";
		
	String myAccountUrl = PropertyGetter.getProperty("cdv.myAccount.url");
}


<!-- TO BE COMPLETED -->
<script>
var Settings = {
	baseUrl: '@baseUrl',
	serviceCatalog: {
		baseUrl: '/user/servicecatalog',
		search: {
			itemsPerPage: 24,
			searchUrl: '@url("/user/mp/artefacts")',
			importUrl: '@url("/user/mp/submit/artefact")'
		}
	},
	opendataCatalog: {
		baseUrl: '/user/opendata',
	},
	mashupProjects: {
		baseUrl: '/user/project',
	},
	external: {
		marketplace: {
			baseUrl: '@marketplaceUrl'
		}
	}
};

var Message = [];

@for(int i = 0; i < messages.size(); i++) {
	Message['@messages.get(i)'] = '@messageMap.get(messages.get(i))';
}

function autoTranslate()
{
	//console.log('auto translate');
	
	$(".auto-translate").each(function(index) {
	  	
		var message = $(this).attr('data-message');
		
		$(this).html(Message[message] ? Message[message] : message);
	});
}
</script>

<script>
@if(loggeduser.getRole() == 2) {
function switchMode(userLevel)
{
	if(userLevel == @loggeduser.getProfile().getLevel())
		return;
	
	$("#userLevel").val(userLevel);
	$("#switchModeForm").submit();
}
}
</script>

<input type="hidden" id="publishUrl" value='@url("/user/mp/publish/execute")' />
<input type="hidden" id="searchUrl" value='@url("/user/mp/artefacts")' />
<input type="hidden" id="detailsUrl" value='@url("/user/servicecatalog")' />
<input type="hidden" id="od_detailsUrl" value='@url("/user/opendata")' />
<input type="hidden" id="opendataUrl" value='@url("/user/opendata")' />
<input type="hidden" id="defaultImage" value='@url("/resources/images/defaultIcon.png")' />

<input type="hidden" id="marketplaceUrl" value="@marketplaceUrl" />
<input id="usdleditorPortlet" type="hidden" value="@usdleditorPortlet" />
<input id="gadgetEndpointBaseUrl" type="hidden" value="@gadgetEndpointBaseUrl" />
<input id="publishGadgetUrl" type="hidden" value="@publishGadgetUrl" />

<!-- Pagination parameters -->
<input type="hidden" id="data_length" value="0" />


<ul id="dropdown1" class="dropdown-content">
  @if(socialUrl != "") {<li><a href='@socialUrl' target="_blank"><i class="material-icons left">people</i> @message("toolbar.ext.social")</a></li>}
  <li><a class="modal-trigger" href="#myAccountModal"><i class="material-icons left">person</i> @message("toolbar.ext.my_account")</a></li>
  <li><a href='@url("/auth/logout")'><i class="material-icons left">exit_to_app</i> @message("toolbar.sign_out")</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href='@url("/user/servicecatalog/list")'>@message("toolbar.catalogs.services")</a></li>
  <li><a href='@url("/user/opendata/list")'>@message("toolbar.catalogs.datasets")</a></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
  @if(loggeduser.getProfile().getLevel() != 1) {
  <li><a href='@url("/user/project/list")'>@message("toolbar.projects.mashups")</a></li>
  }
  <li><a href='@url("/user/gui/list")'>@message("toolbar.projects.mockups")</a></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
  <li><a href='@liferayBaseUrl/overlay?login=true'><i class="fa fa-home" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.welcome")</a></li>
  <li><a href='@liferayBaseUrl/innovation-area?login=true'><i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.ideas")</a></li>
  @if(loggeduser.getProfile().getLevel() != 1 || (loggeduser.getProfile().getExtRole() != null && loggeduser.getProfile().getExtRole().compareTo("Citizen") != 0)){<li><a href='@liferayBaseUrl/open-data-stack?login=true'><i class="fa fa-database" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.datasets")</a></li>}
  <li><a href='@liferayBaseUrl/visualcomposer/user/home'><i class="fa fa-cubes" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.this")</a></li>
  <li><a href='@liferayBaseUrl/marketplace?login=true'><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.marketplace")</a></li>
  <li><a href='@liferayBaseUrl/ads?login=true'><i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.charts")</a></li>
</ul>

<ul id="dropdown5" class="dropdown-content">
  <li><a href='@liferayBaseUrl/user-guide'>@message("toolbar.ext.help.guide")</a></li>
  <li><a href='@liferayBaseUrl/faq/en/'>@message("toolbar.ext.help.faq")</a></li>
  <li><a href='@liferayBaseUrl/contactus'>@message("toolbar.ext.help.contact_us")</a></li>
  
</ul>

<!-- Dropdown Structure -->
<ul id="dropdown6" class="dropdown-content">
  <li><a href='@url("/admin/profile/list")'>@message("toolbar.admin.management.users")</a></li>
  <li><a href='@url("/admin/profile/admins")'>@message("toolbar.admin.management.admins")</a></li>
  <li><a href='@url("/admin/workgroup/list")'>@message("toolbar.admin.management.workgroups")</a></li>
</ul>

<ul id="dropdown8" class="dropdown-content">
  <li><a href='@url("/admin/servicecatalog/list")'>@message("toolbar.admin.catalogs.services")</a></li>
  <li><a href='@url("/admin/opendata/list")'>@message("toolbar.admin.catalogs.datasets")</a></li>
</ul>

@if(loggeduser.getRole() == 2) {
<ul id="dropdown9" class="dropdown-content">
  <li><a href='#' @if(loggeduser.getProfile().getLevel() == 2) {style="background:rgb(111, 175, 218);color:white !important"} onclick="javascript: switchMode(2)">@message("toolbar.changemode.base")</a></li>
  <li><a href='#' @if(loggeduser.getProfile().getLevel() == 3) {style="background:rgb(111, 175, 218);color:white !important"} onclick="javascript: switchMode(3)">@message("toolbar.changemode.advanced")</a></li>
	<form id="switchModeForm" action='@url("/user/me/switchmode")' method="post" style="display:none">
		<input id="userLevel" name="userLevel" value="" type="hidden">
	</form>
</ul>

<ul id="dropdown92" class="dropdown-content">
  <li><a href='#' @if(loggeduser.getProfile().getLevel() == 2) {style="background:rgb(111, 175, 218);color:white !important"} onclick="javascript: switchMode(2)">@message("toolbar.changemode.base")</a></li>
  <li><a href='#' @if(loggeduser.getProfile().getLevel() == 3) {style="background:rgb(111, 175, 218);color:white !important"} onclick="javascript: switchMode(3)">@message("toolbar.changemode.advanced")</a></li>
	<form id="switchModeForm" action='@url("/user/me/switchmode")' method="post" style="display:none">
		<input id="userLevel" name="userLevel" value="" type="hidden">
	</form>
</ul>
}

<!-- My Account Modal -->
<div id="myAccountModal" class="modal">	
	<div class="modal-header">
	  <i class="material-icons right modal-close">close</i>
	  <h5>@message("toolbar.ext.my_account")</h5>	  
	</div>
	<div class="modal-content">
	  <iframe src="@myAccountUrl"></iframe>
	</div>
	<div class="modal-footer">
	</div>
</div>

<!-- Language Modal -->
<div id="languageModal" class="modal">	
	<div class="modal-content">
	  <h5>@message("toolbar.select_language")</h5>
	  <div class="collection">
        <a id="lang_en_EN" href="#!" onclick="javascript:selectLanguage('en_EN')" class="collection-item">@message("language.english")</a>
        <a id="lang_es_ES" href="#!" onclick="javascript:selectLanguage('es_ES')" class="collection-item">@message("language.spanish")</a>
        <a id="lang_it_IT" href="#!" onclick="javascript:selectLanguage('it_IT')" class="collection-item">@message("language.italian")</a>
        <a id="lang_sr_RS_latin" href="#!" onclick="javascript:selectLanguage('sr_RS_latin')" class="collection-item">@message("language.serbian_latin")</a>
        <a id="lang_fi_FI" href="#!" onclick="javascript:selectLanguage('fi_FI')" class="collection-item">@message("language.finnish")</a>
        <a id="lang_sr_RS" href="#!" onclick="javascript:selectLanguage('sr_RS')" class="collection-item">@message("language.serbian_cyrillic")</a>
      </div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat ">@message("general.actions.close")</a>
	</div>
</div>

<nav class="nav-extended">
  <a href="#" data-activates="nav-slide-out" class="button-collapse hide-on-large-only" style="margin: 0 10px;color:black"><i class="material-icons">menu</i></a>
  <div class="nav-wrapper" role="navigation">
    <a href="@marketplaceUrl" class="brand-logo"><img src='@url("/resources/images/welive_logo.png")'><span style="text-transform: capitalize;">@pilot</span></a>
    <ul class="right hide-on-med-and-down">
      
      @if(loggeduser.getRole() == 2) {
      <!-- 
      <li>
      	<a class="" href='@url("/user/home")'><i class="material-icons left">home</i> @message("toolbar.home")</a>
      </li>

      <li>
      	<a class="dropdown-button" href="#!" data-activates="dropdown3">
      	@message("toolbar.projects") <i class="material-icons right">arrow_drop_down</i>
      	</a>
      </li>
      @if(loggeduser.getProfile().getLevel() != 1) {

      <li>
      	<a class="dropdown-button" href="#!" data-activates="dropdown2">
      	@message("toolbar.catalogs") <i class="material-icons right">arrow_drop_down</i>
      	</a>
      </li>
      }
      -->
	  } else {
		<!-- Dropdown Trigger -->
		<li>
			<a class="dropdown-button" href="#!" data-activates="dropdown6">
			@message("toolbar.admin.management") <i class="material-icons right">arrow_drop_down</i>
			</a>
		</li>
		<!-- Dropdown Trigger -->
		<li>
			<a class="dropdown-button" href="#!" data-activates="dropdown8">
			@message("toolbar.admin.catalogs") <i class="material-icons right">arrow_drop_down</i>
			</a>
		</li>
		}		
       <!-- Dropdown Trigger -->
      <li>
      	<a class="dropdown-button" href="#!" data-activates="dropdown5">
      	@message("toolbar.ext.help") <i class="material-icons right">arrow_drop_down</i>
      	</a>
      </li>
      <!-- Dropdown Trigger -->
      <li>
      	<a class="dropdown-button" href="#!" data-activates="dropdown4">
      	@message("toolbar.ext.tools") <i class="material-icons right">arrow_drop_down</i>
      	</a>
      </li>
      <!-- Dropdown Trigger -->
      <li>
      	<a class="dropdown-button" href="#!" data-activates="dropdown1">
      	<span class="valign-wrapper">
	      	@if(imageUrl != "") {<img class="user-avatar-image" src="@imageUrl">}
	      	<span>@loggeduser.getProfile().getFirstName() <i class="material-icons right">arrow_drop_down</i></span>
      	</span>
      	</a>
      </li>
      @if(loggeduser.getRole() == 2 && loggeduser.getProfile().getLevel() != 1) {
      <!-- Dropdown Trigger -->
      <!-- 
      <li>
      	<a class="dropdown-button tooltipped" href='#' data-activates="dropdown92" data-position="bottom" data-delay="50" data-tooltip='@message("toolbar.changemode")'><i class="material-icons left">layers</i> &nbsp;</a>
      </li>
      -->
      }
      <li>
      	<a class="modal-trigger tooltipped" href="#languageModal" data-position="bottom" data-delay="50" data-tooltip='@message("toolbar.language")'><i class="material-icons left">translate</i> &nbsp;</a>
      </li>
    </ul>
  </div>
  
	<div class="nav-content hide-on-med-and-down">
		<ul class="hide-on-med-and-down">
			<li>
		     		<a class="" href='@url("/user/home")'><i class="material-icons left">home</i> @message("toolbar.home")</a>
		     	</li>
		     	<!-- Dropdown Trigger -->
		    	<li>
		    		<a class="dropdown-button" href="#!" data-activates="dropdown3">
		    		@message("toolbar.projects") <i class="material-icons right">arrow_drop_down</i>
		    		</a>
		    	</li>
		    	@if(loggeduser.getProfile().getLevel() != 1) {
		    	<!-- Dropdown Trigger -->
		     	<li>
		     		<a class="dropdown-button" href="#!" data-activates="dropdown2">
		     		@message("toolbar.catalogs") <i class="material-icons right">arrow_drop_down</i>
		     		</a>
		     	</li>
		     	}
		</ul>
	</div>
	
</nav>

<div style="clear:both"></div>


<ul id="nav-slide-out" class="side-nav">

<li><img src='@url("/resources/images/welive_logo.png")' style="width:100%; padding:20px;padding-bottom: 0"></li>

<li class="divider"></li>

<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header">@loggeduser.getProfile().getFirstName() <i class="material-icons">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
        	@if(socialUrl != "") {<li><a href='@socialUrl' target="_blank"><i class="material-icons left">people</i> @message("toolbar.ext.social")</a></li>}
			<li><a href='#'><i class="material-icons left">person</i> @message("toolbar.ext.my_account")</a></li>
			<li><a href='@url("/auth/logout")'><i class="material-icons left">exit_to_app</i> @message("toolbar.sign_out")</a></li>
        </ul>
      </div>
    </li>
  </ul>
</li>

@if(loggeduser.getRole() == 2 && loggeduser.getProfile().getLevel() != 1) {
<!-- 
<li>
	<a class="dropdown-button tooltipped" href='#' data-activates="dropdown9" data-position="bottom" data-delay="50" data-tooltip='@message("toolbar.changemode")'><i class="material-icons left">layers</i> Change mode</a>
</li>
-->
}

<li>
	<a class="modal-trigger tooltipped" href="#languageModal" data-position="bottom" data-delay="50" data-tooltip='@message("toolbar.language")'><i class="material-icons left">translate</i> Language</a>
</li>

<li class="divider"></li>

@if(loggeduser.getRole() == 2) {
<li>
	<a class="" href='@url("/user/home")'><i class="material-icons left">home</i> @message("toolbar.home")</a>
</li>

<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header">@message("toolbar.projects") <i class="material-icons">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          @if(loggeduser.getProfile().getLevel() != 1) {
		  <li><a href='@url("/user/project/list")'>@message("toolbar.projects.mashups")</a></li>
		  }
		  <li><a href='@url("/user/gui/list")'>@message("toolbar.projects.mockups")</a></li>
        </ul>
      </div>
    </li>
  </ul>
</li>
@if(loggeduser.getProfile().getLevel() != 1) {
<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header">@message("toolbar.catalogs") <i class="material-icons">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href='@url("/user/servicecatalog/list")'>@message("toolbar.catalogs.services")</a></li>
  		  <li><a href='@url("/user/opendata/list")'>@message("toolbar.catalogs.datasets")</a></li>
        </ul>
      </div>
    </li>
  </ul>
</li>
}
} else {

<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header">@message("toolbar.admin.management") <i class="material-icons">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href='@url("/admin/profile/list")'>@message("toolbar.admin.management.users")</a></li>
  		  <li><a href='@url("/admin/profile/admins")'>@message("toolbar.admin.management.admins")</a></li>
  		  <li><a href='@url("/admin/workgroup/list")'>@message("workgroup.management.list")</a></li>
        </ul>
      </div>
    </li>
  </ul>
</li>

<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header">@message("toolbar.admin.catalogs") <i class="material-icons">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href='@url("/admin/servicecatalog/list")'>@message("toolbar.admin.catalogs.services")</a></li>
  		  <li><a href='@url("/admin/opendata/list")'>@message("toolbar.admin.catalogs.services")</a></li>
        </ul>
      </div>
    </li>
  </ul>
</li>
}		

<li class="divider"></li>

<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header">@message("toolbar.ext.help") <i class="material-icons">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href='@liferayBaseUrl/user-guide'>@message("toolbar.ext.help.guide")</a></li>
		  <li><a href='@liferayBaseUrl/faq/en/'>@message("toolbar.ext.help.faq")</a></li>
		  <li><a href='@liferayBaseUrl/contactus'>@message("toolbar.ext.help.contact_us")</a></li>
        </ul>
      </div>
    </li>
  </ul>
</li>

<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header">@message("toolbar.ext.tools") <i class="material-icons">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <li><a href='@liferayBaseUrl/overlay?login=true'><i class="fa fa-home" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.welcome")</a></li>
		  <li><a href='@liferayBaseUrl/innovation-area?login=true'><i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.ideas")</a></li>
		  @if(loggeduser.getProfile().getLevel() != 1 || (loggeduser.getProfile().getExtRole() != null && loggeduser.getProfile().getExtRole().compareTo("Citizen") != 0)){<li><a href='@liferayBaseUrl/open-data-stack?login=true'><i class="fa fa-database" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.datasets")</a></li>}
		  <li><a href='@liferayBaseUrl/marketplace?login=true'><i class="fa fa-cubes" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.this")</a></li>
		  <li><a href='@liferayBaseUrl/marketplace?login=true'><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.marketplace")</a></li>
		  <li><a href='@liferayBaseUrl/ads?login=true'><i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp; @message("toolbar.ext.tools.charts")</a></li>
        </ul>
      </div>
    </li>
  </ul>
</li>

</ul>

<style>
.nav-wrapper
{
	box-shadow: 0px 5px 5px #e0e0e0;
}

.nav-content
{
	height: 56px !important;
    background: #fafafa;
}

.nav-content ul
{
	line-height: 56px !important;
}

.nav-content ul li a
{
	font-size: small;
}

#myAccountModal
{
	width: 95%;
	height: 95% !important;
	max-height: 100% !important;
	top: 0 !important;
    bottom: 0 !important;
    overflow-y: hidden !important;
}

#myAccountModal .modal-header
{
	padding: 9px 15px; 
	border-bottom: 1px solid #eee;
}

#myAccountModal .modal-content
{
	height: 90%;
	padding: 0 !important;
}

#myAccountModal .modal-content iframe
{
	width: 100%;
	height: 100%;
	border-style: none !important;
}

#languageModal .collection-item
{
	color: black !important;
	text-transform: uppercase;
}

#languageModal .collection-item.active
{
	color: #fff !important;
    background-color: #69b1e3 !important;
}

.dropdown-content li > a, .collapsible-body ul li > a, #languageModal > .modal-content > .collection > a
{
	color: #6fafda !important;
}

#languageModal > .modal-content > .collection > a.active
{
	color: white !important;
}

</style>

<script>
function selectLanguage(lang)
{
	//document.cookie = "locale=" + lang;
	$.cookie('locale', lang);
	window.location.href = window.location.pathname;
}

$(document).ready(function(){	
	var locale = "en_EN";
	
	if($.cookie("locale"))
		locale = $.cookie("locale");
	
	$('#lang_' + locale).addClass("active");
	
	$(".button-collapse").sideNav();
	$('.modal-trigger').leanModal();
	
	$(".project-name-chars").on("keydown", function (e) {
		
		var currVal = $(this).val();
		
		var c = e.which;
		
		var shiftkey = e.shiftKey;
		
		if(c == 8 || c == 9 || (c == 189 && shiftkey))
			return true;
		
		if(currVal == "" && (c >= 48 && c <= 57))
		{
			return false;
		}
		
		if(shiftkey)
		{
			if((c >= 65 && c <= 90) || (c >= 97 && c <= 122))
				return true;
			
			if(c == 189)
				return true;
			
			return false;
		}
		
		if((c >= 48 && c <= 57) || (c >= 65 && c <= 90) || (c >= 97 && c <= 122))
			return true;
		
		return false;
	});
	
	$(".project-name-chars").on("keyup", function (e) { 
		
		var currVal = $(this).val();
		
		if(currVal.length == 1)
		{
			var c = e.which;
			
			if(c >= 48 && c <= 57)
			{
				$(this).val('');
			}
		}
		
		return true;
	});
});
</script>