@import it.eng.PropertyGetter;

@args String title="", String active ="" 
@extends("shared.mainlayout", title: title )

@{
String liferayBaseUrl = PropertyGetter.getProperty("mkp.baseUrl");
String vcBaseUrl = PropertyGetter.getProperty("app.publicUrl") + "/" + PropertyGetter.getProperty("app.url.name");
}

<nav>
  <div class="nav-wrapper" role="navigation">
    <a href="@vcBaseUrl" class="brand-logo">
    	 <img height="64px" src="@liferayBaseUrl/image/layout_set_logo?img_id=12644&amp;t=1458811715290">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
      	<a href='@url("/user/home")'>@message("toolbar.login") <i class="material-icons right">exit_to_app</i></a>
      </li>
      <li>
      	<a href='@liferayBaseUrl/?p_p_id=58&p_p_lifecycle=0&p_p_state=maximized&p_p_mode=view&p_p_col_id=column-1&p_p_col_count=1&saveLastPath=0&_58_struts_action=%2Flogin%2Fcreate_account'>@message("toolbar.registration")</a>
      </li>
      <li>
      	<a href='@url("/admin/profile/list")'>@message("toolbar.admin_login") <i class="material-icons right">exit_to_app</i></a>
      </li>
    </ul>
  </div>
</nav>

<div class="main-container">
	<div class="section">
		@include("shared.alerts")
		
		@render()
	</div>
</div>