<!-- Resource schema Modal -->
<div id="schemaModal" class="modal modal-fixed-footer" style="z-index: 4000">
	<div class="modal-content">
		<h4>@message("odsresource.schema")</h4>
		<hr>
		<p class="row"></p>
		<div class="row">
			<div id="schemaContainer">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
	</div>
</div>

<!-- Results Modal -->
<div id="resultsModal" class="modal modal-fixed-footer" style="z-index: 4000">
	<div class="modal-content">
		<h4>@message("odsresource.query.results")</h4>
		<hr>
		<p class="row"></p>
		<div class="row">
			<div id="queryResults">
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
	</div>
</div>

<!-- Query Builder Modal -->
<div id="queryModal" class="modal modal-fixed-footer" style="z-index: 3000">
	<div class="modal-content">
		<h4>Query Editor</h4>
		<hr>
		<p class="row">Query editor will help you to easily build your query to retrieve the desired data.</p>
		<div class="row">
			<div class="col s12">
				<h5>@message("odsresource.query")</h5>
				<textarea id="queryText" name="queryText" style="width:100%; resize: none" readonly></textarea>
			</div> 
			
			<div class="input-field col s12 controls">
				<a id="submit_query" onclick="javascript:queryResource()" class="waves-effect waves-light btn"><i class="material-icons left">play_arrow</i>@message("label.submit") query</a>
			</div>	

			<div id="queryBuilderDiv" class="col s12">
				<h6 class="row valign-wrapper">
				<strong>SELECT</strong>&nbsp; <i class="material-icons tooltipped"  data-position="right" data-delay="0" data-tooltip="Specify columns to include in the response">help</i>
				</h6>
				<div class="queryBoxes row">
					<div class="input-field col s12">
						<input id="addcolumns" name="addcolumnsId" type="hidden" value="">
					</div>
				</div>
				
				<h6 class="row valign-wrapper">
				<strong>FROM</strong>&nbsp; <i class="material-icons tooltipped" data-position="right" data-delay="0" data-tooltip="Specify which table you want to query">help</i>
				</h6>
				<div class="queryBoxes row">
					<div class="input-field col s9">
						<select id="queryFrom"></select>
						<label for="queryFrom">Table</label>
					</div>
					<div class="input-field col s3">
						<a onclick="javascript:showSchema(null)" class="waves-effect waves-light btn"><i class="material-icons left">grid_on</i>View schema</a>
					</div>
				</div>
				
				<h6 class="row valign-wrapper">
				<strong>WHERE</strong>&nbsp; <i class="material-icons tooltipped"  data-position="right" data-delay="0" data-tooltip="Specify conditions to apply on column values">help</i>
				</h6>
				<div class="queryBoxes row">
					<div id="builder"></div>
					<button id="btn-reset" class="btn btn-warning reset">Reset</button>
					<!-- <button id="btn-get-sql" class="btn btn-primary parse-sql">SQL</button> -->
				</div>
				
				<h6 class="row valign-wrapper">
				<strong>ORDER BY</strong>&nbsp; <i class="material-icons tooltipped"  data-position="right" data-delay="0" data-tooltip="Select column on which results will be ordered">help</i>
				</h6>
				<div class="queryBoxes row">
					<div class="input-field col s8">						
						<select id="queryOrderBy"></select>
						<label for="queryOrderBy">Column</label>
					</div>
					<div class="input-field col s4">
						<select id="queryOrderByDir">
							<option value="ASC">ASC</option>
							<option value="DESC">DESC</option>
						</select>
						<label for="queryOrderByDir">Order</label>
					</div>
				</div>
				
				<h6 class="row valign-wrapper">
				<strong>LIMIT</strong>&nbsp; <i class="material-icons tooltipped"  data-position="right" data-delay="0" data-tooltip="Specify the max number of rows (0 means all)">help</i>
				</h6>
				<div class="queryBoxes row">
					<div class="input-field col s12">
						<input id="queryLimit" type="number" min="0" value="0">
						<label for="queryLimit">Rows</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat" id="queryModalPrimary">Ok</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
	</div>
</div>

<input id="resourceIdQuery" type="hidden" value="" />
<input id="tableNameVar" type="hidden" value="" />

<input id="message_tablename" type="hidden" value='@message("odsresource.tablename")' />
<input id="message_columnname" type="hidden" value='@message("odsresource.columnname")' />
<input id="message_columntype" type="hidden" value='@message("odsresource.columntype")' />
<input id="message_tablekey" type="hidden" value='@message("odsresource.tablekey")' />
<input id="message_queryresult" type="hidden" value='@message("odsresource.queryresult")' />
<input id="message_queryrows" type="hidden" value='@message("odsresource.queryrows")' />

<script type="text/javascript" src='@url("/")resources/js/jquery/select2/select2.min.js'></script> 
<script type="text/javascript" src='@url("/")resources/js/jQuery.extendext.min.js'></script>
<script type="text/javascript" src='@url("/")resources/js/doT.min.js'></script>
<script type="text/javascript" src='@url("/")resources/js/sql-parser.js'></script>
<script type="text/javascript" src='@url("/")resources/js/queryBuilder/js/query-builder.js'></script>
<script type="text/javascript" src='@url("/")resources/js/vme2App/odsUtils.js'></script>

<script>

$(document).ready(function(){
    /*$('.queryTooltip').popover();*/
});

function viewResourceList()
{
	$(".resourceList").toggle();
}

function showSchema(resourceId)
{
	$("#schemaContainer").html("");
	
	var content = drawSchemaTable(getDatasetSchema(resourceId != null ? resourceId : $("#resourceIdQuery").val()));
	
	$("#schemaContainer").html(content);
	
	$("#schemaModal").openModal();
}

function queryResource()
{
	$("#queryResults").html("");
	
	var content = drawQueryResults(getQueryResults($("#resourceIdQuery").val(), $("#queryText").val()));
	
	$("#queryResults").html(content);
	
	$("#resultsModal").openModal();
}

</script>

<style>
.select2-container
{
	width: 100% !important;
}

#queryBuilderDiv
{
	margin-top: 20px;
}

h6
{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

</style>