@args ServiceCatalog service, AccountDTO loggeduser, String page

<div class="well sidebar-nav main_sidebarmenu">
	<ul class="nav nav-list">
		<li class="nav-header">@message("service.management.service")</li>
		<li @if(page.equals("service_details")) { class="active" } >
			<a href='@url("/")user/servicecatalog/@service.getId()/details'>@message("service.management.detail")</a>
		</li>
		@if(service.getType() == 2 && service.getProfile().getId() == loggeduser.getProfile().getId()) {
		<li @if(page.equals("service_oauth")){ class="active" } >
			<a href='@url("/")user/servicecatalog/@service.getId()/addauth'>@message("service.management.oauth.parameters")</a>
		</li>
		}
	</ul>
</div>