@import it.eng.PropertyGetter;
@import javax.servlet.http.Cookie;

@{
	String baseUrl = PropertyGetter.getProperty("oauth.callbackContext");
	String marketplaceUrl = PropertyGetter.getProperty("mkp.baseUrl");
	String usdleditorPortlet = PropertyGetter.getProperty("usdleditor.portlet");
	String gadgetEndpointBaseUrl = PropertyGetter.getProperty("gadget.endpointBaseUrl");
	String publishGadgetUrl = PropertyGetter.getProperty("mkp.gadgetPublishUrl");
	
	Cookie[] cookies = request.getCookies();
	
	String locale = "en_EN";

	if(cookies != null && cookies.length > 0) 
	{
		for(Cookie cookie : cookies) 
		{
			if(cookie.getName().equals("locale")) 
			{
				locale = cookie.getValue();
				break;
			}
		}
	}
	
	HashMap<String,String> messageMap = PropertyGetter.getMessageMap(locale);
	
	Iterator<String> it = messageMap.keySet().iterator();
	
	List<String> messages = new ArrayList<String>();
	
	while(it.hasNext())
	{
		messages.add(it.next());
	}
	
	String key = "";
}

<input type="hidden" id="publishUrl" value='@url("/user/mp/publish/execute")' />
<input type="hidden" id="searchUrl" value='@url("/user/mp/artefacts")' />
<input type="hidden" id="detailsUrl" value='@url("/user/servicecatalog")' />
<input type="hidden" id="od_detailsUrl" value='@url("/user/opendata")' />
<input type="hidden" id="opendataUrl" value='@url("/user/opendata")' />
<input type="hidden" id="defaultImage" value='@url("/resources/images/defaultIcon.png")' />

<input type="hidden" id="marketplaceUrl" value="@marketplaceUrl" />
<input id="usdleditorPortlet" type="hidden" value="@usdleditorPortlet" />
<input id="gadgetEndpointBaseUrl" type="hidden" value="@gadgetEndpointBaseUrl" />
<input id="publishGadgetUrl" type="hidden" value="@publishGadgetUrl" />

<!-- Pagination parameters -->
<input type="hidden" id="data_length" value="0" />

<!-- TO BE COMPLETED -->
<script>
var Settings = {
	baseUrl: '@baseUrl',
	serviceCatalog: {
		baseUrl: '/user/servicecatalog',
		search: {
			itemsPerPage: 24,
			searchUrl: '@url("/user/mp/artefacts")',
			importUrl: '@url("/user/mp/submit/artefact")'
		}
	},
	opendataCatalog: {
		baseUrl: '/user/opendata',
	},
	mashupProjects: {
		baseUrl: '/user/project',
	},
	external: {
		marketplace: {
			baseUrl: '@marketplaceUrl'
		}
	}
};

var Message = [];

@for(int i = 0; i < messages.size(); i++) {
	Message['@messages.get(i)'] = '@messageMap.get(messages.get(i))';
}

function autoTranslate()
{
	//console.log('auto translate');
	
	$(".auto-translate").each(function(index) {
	  	
		var message = $(this).attr('data-message');
		
		$(this).html(Message[message] ? Message[message] : message);
	});
}
</script>

<!-- 
<input id="message_tablename" type="hidden" value='@message("odsresource.tablename")' />
<input id="message_columnname" type="hidden" value='@message("odsresource.columnname")' />
<input id="message_columntype" type="hidden" value='@message("odsresource.columntype")' />
<input id="message_tablekey" type="hidden" value='@message("odsresource.tablekey")' />
<input id="message_queryresult" type="hidden" value='@message("odsresource.queryresult")' />
<input id="message_queryrows" type="hidden" value='@message("odsresource.queryrows")' />
-->