@args String title, String section, AccountDTO loggeduser, int projectIdContextMenu 
@extends("shared.mainlayout", title)

@include("shared.navigation")

<div class="main-container">
	<div class="section" style="padding-top:0">
		@include("shared.alerts")
		
		@render()
	</div>
</div>

@include("shared.footer")

@section("globalscript"){ 	 
	<script>
		$(function(){
			$.getJSON('@url("/user/project/getUnreadComments.json")', function(data){
				if(data!==0){
					$('span[data-countercontainer="true"]').html(data);
				}				
			});
		});
	</script>
}