@args AccountDTO loggeduser @extends("shared.adminlayout", "Admin - User Details")
@include("shared.inlinedefinitions")

@section("extraheader"){
	<link type="text/css" rel="stylesheet" href='@url("/resources/css/bootstrap-activity-stream/style.css")' />
	<script type="text/javascript" src='@url("/resources/js/components/handlebars/handlebars.js")'></script>
	<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
}

<div class="row-fluid">
	@if(request.getParameter("activityProfileId")!=null){
		<div class="span3">@invoke("shared.adminprofilemenu", Integer.parseInt(request.getParameter("activityProfileId")), "user_activities")</div>		
	} else {
		<div class="span3">@invoke("shared.adminmenu", "activity_stream")</div>		
	}
	<div class="span9">
		<h4>Activity Stream</h4>
			<ul class="activityView" id="activityList">

			</ul>
	</div>
</div>

@section("globalscript"){
<script>
	$(function() {
		Handlebars.registerHelper('dateFormat', function(context, block) {
	      if (window.moment && context && moment(context).isValid()) {
	              //var f = block.hash.format || "MMM Do, YYYY";
	              var f = block.hash.format || "ll";
	              return moment(context).format(f);
	      }else{
	              return context;   //  moment plugin is not available, context does not have a truthy value, or context is not a valid date
	      }
		});
		var template =
				'<li class="milestone">'
       			+ '</li>'
				+ '{{#each items}}'
				+'<li>'
				+ '	<div class="activtyLeft span2">'
				+ '		<div class="pullright">{{dateFormat published}}</div>'
				+ '	</div>'
				+ '	<div class="activtyRight span10">'
				+ ' 	<div class="activity">' 
				+ '			<div class="meta">'
				+ '				<img class="profilePic" src="@url("/resources/images/no-avatar.jpg")">'
				+ '				{{actor.displayName}}' 
				+ '			</div>' 
				+ '			<div class="message">' 
				+ '				{{summary}}'
				+ '			</div>' 
				+ '		</div>' 
				+ '	</div>' 
				+ '</li>'
				+ '{{/each}}';
		@if(request.getParameter("activityProfileId")!=null){
			$.getJSON('@url("/")/activitystream/@request.getParameter("activityProfileId")/list.json', function(data) {
				var compiled = Handlebars.compile(template);
				var view   = $(compiled(data));
				$('#activityList').html(view);
			});			
		} else {
			$.getJSON('@url("/activitystream/list.json")', function(data) {
				var compiled = Handlebars.compile(template);
				var view   = $(compiled(data));
				$('#activityList').html(view);
			});			
		}
	});
</script>
}
