@extends("shared.publiclayout", title:"Admin", active:"admin.login")

<div class='span4 offset4'>

	<div class=" ">
		<form name='loginForm' action='@url("/auth/admin/login/execute")' method='POST' class="form-horizontal">
			<fieldset>
				<legend>@message("admin.login.title") </legend>
				<div class="control-group">
					<label class="control-label" for="email" class="text-error">@message("profile.email"):</label>
					<div class="controls">
						<input type="email" id="email" name="email" placeholder='@message("profile.email")' required>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="psw" class="text-error">@message("account.password"):</label>
					<div class="controls">
						<input type="password" id="psw" placeholder='@message("account.password")' name="psw" required>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type='submit' class='btn btn-primary'>@message("label.action.login")</button>
					</div>
				</div>
			</fieldset>

		</form>
	</div>
</div>
