@extends("shared.publiclayout", title:"Home")

<div class="row center">
	<h3>Visual Composer</h3>
	<div>
		<a href='@url("/")'>
		<img src='@url("/resources/images/vme_home.jpg")' alt="vme" border="0">
		</a>
	</div>
	<strong>@message("message.access.caslogged")&nbsp<a href="/visualcomposer/auth/logout">Logout</a></strong>
</div>
