@import it.eng.PropertyGetter;

@extends("shared.publiclayout", title:"Home")

<script>
window.location = '@PropertyGetter.getProperty("mkp.baseUrl")';
</script>

<br><br>
<div class="row">	
	<div class="col s6">
		<div>
		<h4>Visual Composer</h4>
		<h3 style="font-weight:bold;color: #b6bd00;font-size: 56px;">Build your own app</h3>
		<p>Create Web and Mobile Applications through the mash-up of technological services and Opendata in a graphical way and without high technical skills.</p>
		</div>
		<br><br>
		<div class="card">
			<div class="card-image">
				<img src='@url("/resources/images/img-services-01.png")'>
				<span class="card-title">Compose new services</span>
			</div>
			<div class="card-content">
				<p>Create a new complex service by mashup services and opendata in your catalogs and combining them through a set of built-in operators.</p>
			</div>
		</div>
	</div>
	<div class="col s6">
		<div class="card">
			<div class="card-image">
				<img src='@url("/resources/images/img-buldingblock-01.png")'>
				<span class="card-title">Get Building Blocks</span>
			</div>
			<div class="card-content">
				<p>Browse the WeLive Marketplace and add new Building Blocks to your catalog. Building Blocks will allow you to compose new services.</p>
			</div>
		</div>
		<div class="card">
			<div class="card-image">
				<img src='@url("/resources/images/img_apps-01.png")'>
				<span class="card-title">Create your app</span>
			</div>
			<div class="card-content">
				<p>Create a mock-up for your application by using a set of built-in Web elements (HTML tags, players and maps) and combining them in order to realize web pages.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">	
	<div class="col s6">
		
	</div>	
	<div class="col s6">
		
	</div>
</div>


@section("footerscript"){ 
<style>
.card-title
{
	color: #b6bd00 !important;
	font-size: 2.5em !important;
	text-shadow: 1px 1px 0px white;
	font-weight: bold !important;
	width: 100%;
	text-align: right;
	padding: 0.5em !important;
	padding-right: 1em !important;
	background: rgba(255, 255, 255, 0.7) !important;
}

.card-image img
{
	height: 400px;
	width: auto !important;
	margin: auto;
}

.card
{
	box-shadow: none;
}

p
{
 font-size: 1.2em;
}

</style>
}
